<span style="font-family: &quot;맑은 고딕&quot;; font-size: 10pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"><!-- default copy start --><span
        style="font-family: &quot;맑은 고딕&quot;; font-size: 10pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
  
<table style="border: 0px solid rgb(0, 0, 0); width: 800px; font-family: malgun gothic, dotum, arial, tahoma; margin-top: 1px; border-collapse: collapse;"><!-- Header -->
   <colgroup> 
    <col width="310"> 
    <col width="490"> 
   </colgroup> 
   
	<tbody>
		<tr>
			<td style="background: rgb(255, 255, 255); padding: 0px !important; border: 0px currentColor; border-image: none; height: 70px; text-align: center; color: black; font-size: 36px; font-weight: bold; vertical-align: top;"
                colspan="2" class="dext_table_border_t dext_table_border_r dext_table_border_b dext_table_border_l">
기&nbsp;&nbsp;안&nbsp;&nbsp;서
			</td>
		</tr>
		<tr>
			<td style="background: white; padding: 0px !important; border: currentColor; text-align: left; color: black; font-size: 12px; font-weight: normal; vertical-align: top;">
				
<table style="border: 1px solid rgb(0, 0, 0); font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; margin-top: 1px; border-collapse: collapse; width: 318px;"><!-- User --> 
      <colgroup> 
       <col width="90"> 
       <col width="120"> 
      </colgroup> 
      
	<tbody>
		<tr>
			<td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
				
 문서번호 
			</td>
			<td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle; width: 269px;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="0"
                      data-dsl="{{label:docNo}}" data-wrapper=""
                      style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="" data-autotype=""><span class="comp_item"
                                                           style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">27</span><span
                        contenteditable="false" class="comp_active"
                        style="display: none; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"> <span
                        class="Active_dot1"
                        style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                        class="Active_dot2"
                        style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span> <span
                        class="Active_dot3"
                        style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                        class="Active_dot4"
                        style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span> </span> <span
                        contenteditable="false" class="comp_hover" data-content-protect-cover="true" data-origin="0"
                        style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"> <a
                        contenteditable="false" class="ic_prototype ic_prototype_trash"
                        data-content-protect-cover="true" data-component-delete-button="true"></a> </span> </span><br>
			</td>
		</tr>
		<tr style="height: 32px;">
			<td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
				
 부&nbsp;&nbsp;&nbsp;서
			</td>
			<td style="background: rgb(255, 255, 255); padding: 0; border: 1px solid black; height: 18px; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle; width: 269px;">
				<input list="department" style="width: 100%; height: 100%; box-sizing: border-box;" />
				<datalist id="department">
        			<option value="마케팅 부서"></option>
					<option value="개발 부서"></option>
					<option value="업무지원 부서"></option>
					<option value="디자인 부서"></option>
					<option value="기획 부서"></option>
					<option value="행정 부서"></option>
      			</datalist>
			</td>
		</tr>
		<tr>
			<td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
기&nbsp;안&nbsp;일
			</td>
			<td style="background: rgb(255, 255, 255); padding: 0; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle; width: 269px;">
				<input type="date" min="2024-07-30" max="2027-07-30" style="width: 100%; height: 100%; box-sizing: border-box;"/>
			</td>
		</tr>
		<tr>
			<td style="background: rgb(221, 221, 221); padding: 0; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
기 안 자
			</td>
			<td style="background: rgb(255, 255, 255); padding: 0; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle; width: 269px;">
				<input class="ipt_editor" type="text" maxlength="15" placeholder="기안자를 입력하세요."
                       style="width: 100%; height: 100%; box-sizing: border-box;">
			</td>
		</tr>
		<tr>
			<td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
				결 재 일
			</td>
			<td>
				<input type="date" min="2024-07-30" max="2027-07-30" style="width: 100%; height: 100%; box-sizing: border-box;"/>
			</td>
		</tr>
		<tr>
			<td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
				
결재내용
			</td>
			<td style="background: rgb(255, 255, 255); padding: 5px; border: 1px solid black; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle; width: 269px;">
				<span unselectable="on" contenteditable="false" class="comp_wrap" data-cid="5"
                      data-dsl="{{radio_인가_조건부_보류_부결}}" data-wrapper=""
                      style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"
                      data-value="" data-autotype="">
					<input class="editor_opt" type="radio" name="approval_status" value="승인"><label
                        class="editor_label">승인</label>
					<input class="editor_opt" type="radio" name="approval_status" value="부결"><label
                        class="editor_label">부결</label>
					<span contenteditable="false" class="comp_active"
                          style="display: none; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"> <span
                            class="Active_dot1"
                            style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                            class="Active_dot2"
                            style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span> <span
                            class="Active_dot3"
                            style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                            class="Active_dot4"
                            style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span> </span> <span
                        contenteditable="false" class="comp_hover" data-content-protect-cover="true" data-origin="5"
                        style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"> <a
                        contenteditable="false" class="ic_prototype ic_prototype_trash"
                        data-content-protect-cover="true" data-component-delete-button="true"></a> </span>
				</span>
			</td>
		</tr>
	</tbody>
</table>

			</td>
			<td style="background: white; padding: 0px !important; border: currentColor; text-align: right; color: black; font-size: 12px; font-weight: normal; vertical-align: top;">
				[결재선]<!-- 에디터 &nbsp; 버그. 개행과 공백을 최소화 시키자. --><span unselectable="on" contenteditable="false"
                                                                   class="comp_wrap" data-wrapper=""
                                                                   style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"><!-- 에디터 &nbsp; 버그. 개행과 공백을 최소화 시키자. --><span
                    contenteditable="false" class="comp_active"
                    style="display: none; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"> <span
                    class="Active_dot1"
                    style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                    class="Active_dot2"
                    style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span> <span
                    class="Active_dot3"
                    style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span><span
                    class="Active_dot4"
                    style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"></span> </span><span
                    contenteditable="false" class="comp_hover" data-content-protect-cover="true"
                    style="font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; font-size: 9pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;"> <a
                    contenteditable="false" class="ic_prototype ic_prototype_trash" data-content-protect-cover="true"
                    data-component-delete-button="true"></a> </span></span><!-- 에디터 &nbsp; 버그. 개행과 공백을 최소화 시키자. -->
                <!-- 에디터 &nbsp; 버그. 개행과 공백을 최소화 시키자. --><br>
			</td>
		</tr>
	</tbody>
</table>
 
 
<table style="border: 2px solid; width: 800px; font-family: &quot;malgun gothic&quot;, dotum, arial, tahoma; margin-top: 10px; border-collapse: collapse; height: 385px;"><colgroup> 
   <col width="140"> 
   <col width="660"> 
  </colgroup> 
  
	<tbody>
		<tr>
			<td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
				
참&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;조
			</td>
			<td style="background: rgb(255, 255, 255); padding: 0; border: 1px solid black; height: 18px; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;">
				<input class="ipt_editor" type="text" maxlength="50" placeholder="참조자를 입력하세요."
                       style="width: 100%; height: 100%; box-sizing: border-box;">
			</td>
		</tr>
		<tr>
			<td style="background: rgb(221, 221, 221); padding: 5px; border: 1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
				
제&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;목
			</td>
			<td style="background: rgb(255, 255, 255); padding: 0;border:1px solid black; height: 18px; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;">
				<input class="ipt_editor" type="text" maxlength="50" placeholder="제목을 입력하세요."
                       style="width: 100%; height: 100%; box-sizing: border-box;">
			</td>
		</tr>
		<tr>
			<td style="background: rgb(221, 221, 221); padding: 5px;border:1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;"
                colspan="2">
				
상&nbsp;&nbsp;세&nbsp;&nbsp;내&nbsp;&nbsp;용
			</td>
		</tr>
		<tr>
			<td style="background: rgb(255, 255, 255); padding: 0; border:1px solid black; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;"
                colspan="2">
				<textarea class="txta_editor" placeholder="내용을 입력하세요." maxlength="1400"
                          style="width: 800px; height: 370px;"></textarea>
			</td>
		</tr>
	</tbody>
</table>
</span></span>
<p style="font-family: &quot;맑은 고딕&quot;; font-size: 10pt; line-height: 20px; margin-top: 0px; margin-bottom: 0px;"><br>
</p>