<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicons -->
    <link href="../../static/assets/img/favicon.png" rel="icon"/>
    <link href="../../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"/>
    <link href="../../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="../../static/assets/vendor/quill/quill.snow.css" rel="stylesheet"/>
    <link href="../../static/assets/vendor/quill/quill.bubble.css" rel="stylesheet"/>
    <link href="../../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet"/>
    <link href="../../static/assets/vendor/simple-datatables/style.css" rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link href="../../static/assets/css/style.css" rel="stylesheet"/>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <title>전자 결재 요청 문서함</title>
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="../../static/assets/img/logo.png" alt=""/>
            <span class="d-none d-lg-block">Chain</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- End Search Icon-->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>
                </ul>
                <!-- End Notification Dropdown Items -->
            </li>
            <!-- End Notification Nav -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="../../static/assets/img/messages-1.jpg" alt="" class="rounded-circle"/>
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="../../static/assets/img/messages-2.jpg" alt="" class="rounded-circle"/>
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="../../static/assets/img/messages-3.jpg" alt="" class="rounded-circle"/>
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>
                </ul>
                <!-- End Messages Dropdown Items -->
            </li>
            <!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="../../static/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"/>
                    <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>Kevin Anderson</h6>
                        <span>Web Designer</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="../../static/users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="../../static/users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="../../static/pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul>
                <!-- End Profile Dropdown Items -->
            </li>
            <!-- End Profile Nav -->
        </ul>
    </nav>
    <!-- End Icons Navigation -->
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link dash" href="/">
                <i class="bi bi-grid"></i>
                <span>대시보드</span>
            </a>
        </li>
        <!-- 대시보드 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#menu-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>기본 사항</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul id="menu-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>통일 사항</span> </a>
                    <ul>
                        <li>
                            <a href="/indexExample.html"> <i class="bi bi-circle"></i><span>홈페이지 예시</span> </a>
                        </li>
                    </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!-- 기본사항 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#work-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-clipboard-data"></i>
                <span>업무</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul id="work-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>업무</span> </a>
                </li>
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>프로젝트</span> </a>
                </li>
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>차트</span> </a>
                </li>
            </ul>
        </li>
        <!-- 업무 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#sign-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-archive"></i>
                <span>전자결재</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul id="sign-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/templates/approval/electronic-approval-main.htmlmain.html"> <i class="bi bi-circle"></i><span>전체 문서함</span> </a>
                </li>
                <li>
                    <a href="/templates/approvals/approval/request.html"> <i class="bi bi-circle"></i><span>요청 문서함</span> </a>
                </li>
                <li>
                    <a href="/templates/approval/electronic-approval-rejection.htmltion.html"> <i class="bi bi-circle"></i><span>반려 문서함</span> </a>
                </li>
                <li>
                    <a href="/templates/approval/electronic-approval-completed.htmleted.html"> <i class="bi bi-circle"></i><span>완료 문서함</span> </a>
                </li>
                <li>
                    <a href="/templates/approval/electronic-approval-draft.htmlraft.html"> <i class="bi bi-circle"></i><span>임시 문서함</span> </a>
                </li>
                <li>
                    <a href="/templates/approval/electronic-approval-documents-tmpl.htmltmpl.html"> <i class="bi bi-circle"></i><span>결재 양식</span> </a>
                </li>
            </ul>
        </li>
        <!-- 전자결재 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#board-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-people-fill"></i>
                <span>게시판</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul id="board-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>공지사항</span> </a>
                </li>
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>경조사</span> </a>
                </li>
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>구내식당</span> </a>
                </li>
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>회의실</span> </a>
                </li>
            </ul>
        </li>
        <!-- 게시판 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#calendar-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-calendar-week"></i>
                <span>일정</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul id="calendar-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>목록</span> </a>
                </li>
            </ul>
        </li>
        <!-- 일정 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#email-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-envelope"></i>
                <span>이메일</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul id="email-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>목록</span> </a>
                </li>
            </ul>
        </li>
        <!-- 이메일 사이드바 끝 -->
    </ul>
</aside>
<!-- Sidebar 전체 끝 -->

<!-- 여기서부터 메인에서 추가한 부분입니다! -->

<main id="main" class="main"><!-- 위에 상단바 + 사이드바는 고정이고 여기서부터 메인 내용 바뀌는 그 부분입니다! -->
    <div class="pagetitle">
        <a href="/templates/approval/electronic-approval-main.htmlmain.html"><h1>전자결재</h1></a>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">전자결재</li>
                <li class="breadcrumb-item active">요청 문서함</li>
            </ol>
        </nav>
    </div><!-- 페이지 제목 부분 종료 -->

    <section class="section electronic-approval">
        <div class="row"><!-- 여기서 부터 테이블 추가 부분입니다! -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">요청 문서함</h5>

                        <!-- Table with stripped rows -->
                        <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                            <div class="datatable-top">
                                <div class="datatable-dropdown">
                                    <label>
                                        페이지당
                                        <select class="datatable-selector" name="per-page">
                                            <option value="5">5</option>
                                            <option value="10" selected="">10</option>
                                            <option value="15">15</option>
                                            <option value="-1">All</option>
                                        </select> 개의 항목 보기
                                    </label>
                                </div>
                                <div class="datatable-search">
                                    <form class="search-form d-flex align-items-center" method="POST" action="#">
                                        <input class="datatable-input" placeholder="Search..." type="search"
                                               name="search"
                                               title="Search within table">
                                    </form>
                                </div>
                            </div>
                            <div class="datatable-container">
                                <table class="table datatable datatable-table">
                                    <thead>
                                    <tr>
                                        <th data-sortable="true" style="width: 10%;">
                                            <button class="datatable-sorter">문서 번호</button>
                                        </th>
                                        <th data-sortable="true" style="width: 25%;">
                                            <button class="datatable-sorter">
                                                제목
                                            </button>
                                        </th>
                                        <th data-sortable="true" style="width: 25%;">
                                            <button class="datatable-sorter">작성자</button>
                                        </th>
                                        <th data-format="YYYY/DD/MM" data-sortable="true" data-type="date"
                                            style="width: 15%;">
                                            <button class="datatable-sorter">작성일</button>
                                        </th>
                                        <th data-sortable="true" style="width: 15%;">
                                            <button class="datatable-sorter">카테고리</button>
                                        </th>
                                        <th data-sortable="true" class="red" style="width: 10%;">
                                            <button class="datatable-sorter">결재 상태</button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-index="0">
                                        <td>1</td>
                                        <td>안녕하세요 첫 결재 문서 올립니다</td>
                                        <td>이나리</td>
                                        <td>2024-07-23</td>
                                        <td>스크립트(기능포함)</td>
                                        <td>요청</td>
                                    </tr>
                                    <tr data-index="3">
                                        <td>4</td>
                                        <td>안녕하세요 결재 문서 올립니다</td>
                                        <td>이나리</td>
                                        <td>2024-07-23</td>
                                        <td>보고/시행문</td>
                                        <td>요청</td>
                                    </tr>
                                    <tr data-index="4">
                                        <td>5</td>
                                        <td>안녕하세요 결재 문서 올립니다</td>
                                        <td>이나리</td>
                                        <td>2024-07-23</td>
                                        <td>인사</td>
                                        <td>요청</td>
                                    </tr>
                                    <tr data-index="5">
                                        <td>6</td>
                                        <td><a href="read.html">안녕하세요 결재 문서 올립니다</a></td>
                                        <td>이나리</td>
                                        <td>2024-07-23</td>
                                        <td>일반기안</td>
                                        <td>요청</td>
                                    </tr>
                                    <tr data-index="6">
                                        <td>7</td>
                                        <td>급해서 임시저장합니다</td>
                                        <td>이나리</td>
                                        <td>2024-07-23</td>
                                        <td>지출 결의서</td>
                                        <td>임시</td>
                                    </tr>
                                    <tr data-index="7">
                                        <td>8</td>
                                        <td>안녕하세요 결재 문서 올립니다</td>
                                        <td>이나리</td>
                                        <td>2024-07-23</td>
                                        <td>출장</td>
                                        <td>요청</td>
                                    </tr>
                                    <tr data-index="8">
                                        <td>9</td>
                                        <td>안녕하세요 결재 문서 올립니다</td>
                                        <td>이나리</td>
                                        <td>2024-07-23</td>
                                        <td>회계/총무</td>
                                        <td>요청</td>
                                    </tr>
                                    <tr data-index="9">
                                        <td>10</td>
                                        <td>안녕하세요 결재 문서 올립니다</td>
                                        <td>이나리</td>
                                        <td>2024-07-23</td>
                                        <td>휴가</td>
                                        <td>요청</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="datatable-bottom">
                                <div class="datatable-info">100개의 항목중 1부터 10까지 표시</div>
                                <nav class="datatable-pagination">
                                    <ul class="datatable-pagination-list">
                                        <li class="datatable-pagination-list-item datatable-hidden datatable-disabled">
                                            <button data-page="1" class="datatable-pagination-list-item-link"
                                                    aria-label="Page 1">‹
                                            </button>
                                        </li>
                                        <li class="datatable-pagination-list-item datatable-active">
                                            <button data-page="1" class="datatable-pagination-list-item-link"
                                                    aria-label="Page 1">1
                                            </button>
                                        </li>
                                        <li class="datatable-pagination-list-item">
                                            <button data-page="2" class="datatable-pagination-list-item-link"
                                                    aria-label="Page 2">2
                                            </button>
                                        </li>
                                        <li class="datatable-pagination-list-item">
                                            <button data-page="3" class="datatable-pagination-list-item-link"
                                                    aria-label="Page 3">3
                                            </button>
                                        </li>
                                        <li class="datatable-pagination-list-item">
                                            <button data-page="4" class="datatable-pagination-list-item-link"
                                                    aria-label="Page 4">4
                                            </button>
                                        </li>
                                        <li class="datatable-pagination-list-item">
                                            <button data-page="5" class="datatable-pagination-list-item-link"
                                                    aria-label="Page 5">5
                                            </button>
                                        </li>
                                        <li class="datatable-pagination-list-item">
                                            <button data-page="6" class="datatable-pagination-list-item-link"
                                                    aria-label="Page 6">6
                                            </button>
                                        </li>
                                        <li class="datatable-pagination-list-item">
                                            <button data-page="7" class="datatable-pagination-list-item-link"
                                                    aria-label="Page 7">7
                                            </button>
                                        </li>
                                        <li class="datatable-pagination-list-item datatable-ellipsis datatable-disabled">
                                            <button class="datatable-pagination-list-item-link">…</button>
                                        </li>
                                        <li class="datatable-pagination-list-item">
                                            <button data-page="10" class="datatable-pagination-list-item-link"
                                                    aria-label="Page 10">10
                                            </button>
                                        </li>
                                        <li class="datatable-pagination-list-item">
                                            <button data-page="2" class="datatable-pagination-list-item-link"
                                                    aria-label="Page 2">›
                                            </button>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- 결재 테이블 부분 종료 -->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- 전체 문서함 목록 부분 끝 -->
</main><!-- 메인에 더 추가한 부분 끝 -->

<!-- 푸터 부분 시작 -->
<footer id="footer" class="footer">
    <div class="copyright">
        © Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- 푸터 부분 끝 -->

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
</body>
</html>