<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>근태 관리</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon"/>
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon"/>

    <!-- 폰트 설정  -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet"/>
    <link th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/wemaked.css}" rel="stylesheet"/>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>
        /* '상세 보기 / 수정하기' 열의 너비 조정 */
        th.scope-col-action, td.scope-col-action {
            width: 15%; /* 필요에 따라 %를 조절 */
            text-align: center;
        }
    </style>
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt=""/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge btn-secondary badge-number">4</span> </a>
                <!-- 알림창 아이콘 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        4개의 새 알림이 있습니다
                        <a href="/user/alarm"><span class="badge btn-info p-2 ms-2">전체 보기</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li class="dropdown-footer">
                        <a href="/user/alarm">모든 알림 표시</a>
                    </li>
                </ul>
                <!-- 알림 드롭다운 목록 끝 -->
            </li>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"/>
                    <span class="d-none d-md-block dropdown-toggle ps-2">박영민</span> </a>
                <!-- 프로필 이미지 항목 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>박영민</h6>
                        <span>사원</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/mypage">
                            <i class="bi bi-person"></i>
                            <span>마이 페이지</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/organizationChart">
                            <i class="bi bi-diagram-2"></i>
                            <span>조직도</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/logout" id="logout">
                            <i class="bi bi-power"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/">
                            <i class="bx bx-walk"></i>
                            <span>사용자 페이지</span>
                        </a>
                    </li>
                </ul>
                <!-- 프로필 드롭다운 목록 끝 -->
            </li>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>
<!-- Header 끝 -->

<!-- Header Modal -->
<!-- 출퇴근 Modal -->
<div class="modal fade" id="attendanceModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">출근</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                <div id="currentTime">현재 시간:</div>
                출근하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="attendanceConfirmButton" data-bs-dismiss="modal">네
                </button>
                <button type="button" class="btn btn-secondary" id="attendanceCancelButton" data-bs-dismiss="modal">
                    아니오
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="leaveworkModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">퇴근</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="currentTimes">현재 시간:</div>
                퇴근하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="leaveworkConfirmButton" data-bs-dismiss="modal">네
                </button>
                <button type="button" class="btn btn-secondary" id="leaveworkCancelButton" data-bs-dismiss="modal">아니오
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 출퇴근 Modal 끝 -->
<!-- Header Modal -->


<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link dash collapsed" href="/admin/main">
                <i class="bi bi-grid"></i>
                <span>대시보드</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>인사 관리</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/personnel/management"> <i class="bi bi-circle"></i><span>사원 관리</span> </a>
                </li>
                <li>
                    <a href="/admin/personnel/powerSetting"> <i class="bi bi-circle"></i><span>권한 설정</span> </a>
                </li>

            </ul>
        </li>
        <!-- End Components Nav -->

        <li class="nav-item"><!-- 근태관리 사이드바 -->
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>근태 관리</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/attendance/company"> <i class="bi bi-circle"></i><span>근태 관리</span> </a>
                </li>
                <li>
                    <a href="/admin/attendance/leave"> <i class="bi bi-circle"></i><span>연차 관리</span> </a>
                </li>
            </ul>
        </li><!-- 근태관리 사이드바 끝 -->
    </ul>
</aside>
<!-- End Sidebar-->

<main id="main" class="main">
    <div class="pagetitle">
        <h1>연차 관리</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/main">Home</a></li>
                <li class="breadcrumb-item active">Leave</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard"><!-- 영민이 수정 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">연차 신청서</h5>
                        <!-- 연차신청서 데이터 테이블 -->
                        <table class="table table-hover table-borderless datatable">
                            <thead>
                            <tr>
                                <th>사원번호</th>
                                <th>신청자</th>
                                <th>제목</th>
                                <th>신청일</th>
                                <th>상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="document : ${receivedDocuments}"
                                th:if="${document.category == '연차신청서' && document.docStatus == '완료'}"
                                th:onclick="|window.location.href='@{/approval/adminRequest/{docNo}(docNo=${document.docNo}, category=${document.category})}'|"
                                style="cursor: pointer;">
                                <td th:text="${document.virtualNo}"></td>
                                <td th:text="${document.senderName}"></td>
                                <td>
                                    <a th:text="${document.docTitle}"></a>
                                </td>
                                <td th:text="${document.reqDate}"></td>
                                <td th:text="${document.docStatus}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- 연차신청서 테이블 부분 종료 -->
                    </div>
                </div>

                <!-- 사원 연차 관리 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">사원 연차 현황</h5>
                        <table class="table table-hover table-borderless datatable">
                            <thead>
                            <tr>
                                <th scope="col">사원 번호</th>
                                <th scope="col">부서</th>
                                <th scope="col">직급</th>
                                <th scope="col">이름</th>
                                <th scope="col">총 연차</th>
                                <th scope="col">사용 연차</th>
                                <th scope="col">미사용 연차</th>
                                <th scope="col" class="scope-col-action">상세 보기 / 수정하기</th>
                            </tr>
                            </thead>
                            <!-- 서버에서 가져온 데이터를 바인딩 -->
                            <tbody>
                            <tr th:each="employeeLeave : ${employeeLeaveList}" th:attr="data-empno=${employeeLeave.empNo}">
                                <td th:text="${employeeLeave.empNo}"></td>
                                <td th:text="${employeeLeave.department.dmpName}"></td>
                                <td th:text="${employeeLeave.rank.rankName}"></td>
                                <td th:text="${employeeLeave.fullName}"></td>
                                <td th:text="${employeeLeave.employeeLeave.totalLeaveDays != null ? employeeLeave.employeeLeave.totalLeaveDays + '일' : '0일'}"
                                    class="totalLeaveDays"></td>
                                <td th:text="${employeeLeave.employeeLeave.usedLeaveDays != null ? employeeLeave.employeeLeave.usedLeaveDays + '일' : '0일'}"></td>
                                <td th:text="${employeeLeave.employeeLeave.unusedLeaveDays != null ? employeeLeave.employeeLeave.unusedLeaveDays + '일' : '0일'}"
                                    class="unusedLeaveDays"></td>
                                <td>
                                    <a th:href="@{/admin/attendance/emp_leave/{empNo}(empNo=${employeeLeave.empNo})}" class="btn btn-secondary">상세 보기</a>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#leaveModal"
                                            th:attr="data-empno=${employeeLeave.empNo}">
                                        수정하기
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Footer 끝 -->

<!-- 사용 연차 변경 모달 -->
<div class="modal fade" id="leaveModal" tabindex="-1" aria-labelledby="leaveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leaveModalLabel" >사용 연차 변경</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 사용 연차 변경 폼 -->
                <form id="leaveForm">
                    <div class="mb-3">
                        <label for="usedLeaveDays" class="form-label">사용 연차 일수</label>
                        <input type="number" class="form-control" id="usedLeaveDays" name="usedLeaveDays" min="0">
                    </div>
                    <!-- 다른 입력 필드들 추가 가능 -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" id="saveChanges">저장하기</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const leaveModal = document.getElementById('leaveModal');
        const usedLeaveDaysInput = document.getElementById('usedLeaveDays');
        const leaveModalLabel = document.getElementById('leaveModalLabel'); // 모달 제목 요소
        let currentEmpNo;
        let totalLeaveDays;

        leaveModal.addEventListener('show.bs.modal', function (e) {
            const button = e.relatedTarget;
            currentEmpNo = button.getAttribute('data-empno');

            // 서버에서 현재 직원의 연차 정보를 가져오는 AJAX 요청
            fetch(`/admin/attendance/emp_leave/${currentEmpNo}/leaveInfo`)
                .then(response => response.json())
                .then(data => {
                    totalLeaveDays = data.totalLeaveDays;
                    usedLeaveDaysInput.value = data.usedLeaveDays;

                    // 사용 연차 일수를 총 연차 일수까지로 제한
                    usedLeaveDaysInput.max = totalLeaveDays;

                    // 모달 제목에 사용자 이름 추가
                    leaveModalLabel.textContent = `${data.fullName} - 사용 연차 변경`;
                })
                .catch(error => console.error('Error fetching leave data:', error));
        });

        // 사용 연차 일수가 총 연차 일수를 넘지 않도록 하는 로직
        usedLeaveDaysInput.addEventListener('input', function () {
            if (parseInt(usedLeaveDaysInput.value) > totalLeaveDays) {
                usedLeaveDaysInput.value = totalLeaveDays;
            }
        });

        // "저장하기" 버튼 클릭 시 서버에 변경된 데이터 전송
        document.getElementById('saveChanges').addEventListener('click', function () {
            const usedLeaveDays = usedLeaveDaysInput.value;

            fetch(`/admin/attendance/emp_leave/${currentEmpNo}/update`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ usedLeaveDays: usedLeaveDays })
            })
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        // 총 연차와 미사용 연차를 업데이트
                        document.querySelector(`tr[data-empno="${currentEmpNo}"] .totalLeaveDays`)
                            .textContent = data.totalLeaveDays + '일';
                        document.querySelector(`tr[data-empno="${currentEmpNo}"] .unusedLeaveDays`)
                            .textContent = data.unusedLeaveDays + '일';

                        alert('변경 사항이 저장되었습니다.');
                    } else {
                        alert('변경 사항 저장에 실패했습니다.');
                    }
                })
                .catch(error => console.error('Error saving leave data:', error));

            // 모달 닫기
            const modal = bootstrap.Modal.getInstance(leaveModal);
            modal.hide();
        });
    });
</script>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/languages/ko.js"></script>

<!-- 메신저 관련 라이브러리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/wemaked.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>