<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>근태 관리</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon"/>
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon"/>

    <!-- 폰트 설정  -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet"/>
    <link th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/wemaked.css}" rel="stylesheet"/>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt=""/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge btn-secondary badge-number">4</span> </a>
                <!-- 알림창 아이콘 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        4개의 새 알림이 있습니다
                        <a href="/user/alarm"><span class="badge btn-info p-2 ms-2">전체 보기</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li class="dropdown-footer">
                        <a href="/user/alarm">모든 알림 표시</a>
                    </li>
                </ul>
                <!-- 알림 드롭다운 목록 끝 -->
            </li>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"/>
                    <span class="d-none d-md-block dropdown-toggle ps-2">박영민</span> </a>
                <!-- 프로필 이미지 항목 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>박영민</h6>
                        <span>사원</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/mypage">
                            <i class="bi bi-person"></i>
                            <span>마이 페이지</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/organizationChart">
                            <i class="bi bi-diagram-2"></i>
                            <span>조직도</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                            <i class="bi bi-power"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/">
                            <i class="bx bx-walk"></i>
                            <span>사용자 페이지</span>
                        </a>
                    </li>
                </ul>
                <!-- 프로필 드롭다운 목록 끝 -->
            </li>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>
<!-- Header 끝 -->

<!-- Header Modal -->
<!-- 출퇴근 Modal -->
<div class="modal fade" id="attendanceModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">출근</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                <div id="currentTime">현재 시간:</div>
                출근하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="attendanceConfirmButton" data-bs-dismiss="modal">네
                </button>
                <button type="button" class="btn btn-secondary" id="attendanceCancelButton" data-bs-dismiss="modal">
                    아니오
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="leaveworkModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">퇴근</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="currentTimes">현재 시간:</div>
                퇴근하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="leaveworkConfirmButton" data-bs-dismiss="modal">네
                </button>
                <button type="button" class="btn btn-secondary" id="leaveworkCancelButton" data-bs-dismiss="modal">아니오
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 출퇴근 Modal 끝 -->
<!-- Header Modal -->


<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link dash collapsed" href="/admin/main">
                <i class="bi bi-grid"></i>
                <span>대시보드</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>인사 관리</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/personnel/management"> <i class="bi bi-circle"></i><span>사원 관리</span> </a>
                </li>
                <li>
                    <a href="/admin/personnel/powerSetting"> <i class="bi bi-circle"></i><span>권한 설정</span> </a>
                </li>

            </ul>
        </li>
        <!-- End Components Nav -->

        <li class="nav-item"><!-- 근태관리 사이드바 -->
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>근태 관리</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/attendance/company"> <i class="bi bi-circle"></i><span>근태 관리</span> </a>
                </li>
                <li>
                    <a href="/admin/attendance/leave"> <i class="bi bi-circle"></i><span>연차 관리</span> </a>
                </li>
            </ul>
        </li><!-- 근태관리 사이드바 끝 -->
    </ul>
</aside>
<!-- End Sidebar-->

<main id="main" class="main">
    <div class="pagetitle">
        <h1>연차 관리</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/main">Home</a></li>
                <li class="breadcrumb-item active">Leave</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard"><!-- 영민이 수정 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">연차 신청서</h5>
                        <!-- 연차신청서 데이터 테이블 -->
                        <table class="table table-hover table-borderless datatable">
                            <thead>
                            <tr>
                                <th>사원번호</th>
                                <th>신청자</th>
                                <th>제목</th>
                                <th>신청일</th>
                                <th>상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="document : ${receivedDocuments}"
                                th:if="${document.category == '연차신청서' && document.docStatus == '완료'}">
                                <td th:text="${document.virtualNo}"></td>
                                <td th:text="${document.senderName}"></td>
                                <td>
                                    <!-- 완료된 연차신청서 제목 링크 -->
                                    <a th:href="@{/approval/adminRequest/{docNo}(docNo=${document.docNo}, category=${document.category})}"
                                       th:text="${document.docTitle}"></a>
                                </td>
                                <td th:text="${document.reqDate}"></td>
                                <td th:text="${document.docStatus}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- 연차신청서 테이블 부분 종료 -->
                    </div>
                </div>

                <!-- 사원 연차 관리 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">사원 연차 현황</h5>
                        <table class="table table-hover table-borderless datatable">
                            <thead>
                            <tr>
                                <th scope="col">사원 번호</th>
                                <th scope="col">부서</th>
                                <th scope="col">직급</th>
                                <th scope="col">이름</th>
                                <th scope="col">총 연차</th>
                                <th scope="col">사용 연차</th>
                                <th scope="col">미사용 연차</th>
                                <th scope="col">상세 보기</th>
                            </tr>
                            </thead>
                            <!-- 서버에서 가져온 데이터를 바인딩 -->
                            <tbody>
                            <tr th:each="employeeLeave : ${employeeLeaveList}">
                                <td th:text="${employeeLeave.empNo}"></td>
                                <td th:text="${employeeLeave.department.dmpName}"></td>
                                <td th:text="${employeeLeave.rank.rankName}"></td>
                                <td th:text="${employeeLeave.fullName}"></td>
                                <td th:text="${employeeLeave.employeeLeave.totalLeaveDays != null ? employeeLeave.employeeLeave.totalLeaveDays + '일' : '0일'}"></td>
                                <td th:text="${employeeLeave.employeeLeave.usedLeaveDays != null ? employeeLeave.employeeLeave.usedLeaveDays + '일' : '0일'}"></td>
                                <td th:text="${employeeLeave.employeeLeave.unusedLeaveDays != null ? employeeLeave.employeeLeave.unusedLeaveDays + '일' : '0일'}"></td>
                                <td>
                                    <a th:href="@{/admin/attendance/emp_leave/{empNo}(empNo=${employeeLeave.empNo})}" class="btn btn-secondary">상세 보기</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>CHAIN</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/languages/ko.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/wemaked.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8"/>-->
<!--    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>-->

<!--    <title>연차 관리</title>-->
<!--    <meta content="" name="description"/>-->
<!--    <meta content="" name="keywords"/>-->

<!--    &lt;!&ndash; Favicons &ndash;&gt;-->
<!--    <link th:href="@{/assets/img/favicon.png}" rel="icon"/>-->
<!--    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon"/>-->

<!--    &lt;!&ndash; Google Fonts &ndash;&gt;-->
<!--    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect"/>-->
<!--    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>-->

<!--    &lt;!&ndash; Vendor CSS Files &ndash;&gt;-->
<!--    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet"/>-->

<!--    &lt;!&ndash; Template Main CSS File &ndash;&gt;-->
<!--    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/assets/css/wemaked.css}" rel="stylesheet"/>-->

<!--</head>-->

<!--<body>-->
<!--&lt;!&ndash; ======= Header ======= &ndash;&gt;-->
<!--<header id="header" class="header fixed-top d-flex align-items-center">-->
<!--    <div class="d-flex align-items-center justify-content-between">-->
<!--        <a href="/" class="logo d-flex align-items-center">-->
<!--            <img src="/assets/img/logo.png" alt=""/>-->
<!--            <span class="d-none d-lg-block">CHAIN</span>-->
<!--        </a>-->
<!--        <i class="bi bi-list toggle-sidebar-btn"></i>-->
<!--    </div>-->
<!--    &lt;!&ndash; 로고 끝 &ndash;&gt;-->

<!--    <nav class="header-nav ms-auto">-->
<!--        <ul class="d-flex align-items-center">-->
<!--            <li class="nav-item dropdown pe-3">-->
<!--                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">-->
<!--                    <img src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"/>-->
<!--                    <span class="d-none d-md-block dropdown-toggle ps-2">박영민</span>-->
<!--                </a>-->
<!--                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">-->
<!--                    <li class="dropdown-header">-->
<!--                        <h6>박영민</h6>-->
<!--                        <span>사원</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider"/>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a class="dropdown-item d-flex align-items-center" href="/user/mypage">-->
<!--                            <i class="bi bi-person"></i>-->
<!--                            <span>마이 페이지</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider"/>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a class="dropdown-item d-flex align-items-center" href="/organizationChart">-->
<!--                            <i class="bi bi-diagram-2"></i>-->
<!--                            <span>조직도</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider"/>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a class="dropdown-item d-flex align-items-center" href="/user/logout">-->
<!--                            <i class="bi bi-power"></i>-->
<!--                            <span>로그아웃</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</header>-->
<!--&lt;!&ndash; Header 끝 &ndash;&gt;-->

<!--&lt;!&ndash; ======= Sidebar ======= &ndash;&gt;-->
<!--<aside id="sidebar" class="sidebar">-->
<!--    <ul class="sidebar-nav" id="sidebar-nav">-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link dash collapsed" href="/admin/main">-->
<!--                <i class="bi bi-grid"></i>-->
<!--                <span>대시보드</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        &lt;!&ndash; End Dashboard Nav &ndash;&gt;-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">-->
<!--                <i class="bi bi-menu-button-wide"></i><span>인사 관리</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--            </a>-->
<!--            <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">-->
<!--                <li>-->
<!--                    <a href="/admin/personnel/management"> <i class="bi bi-circle"></i><span>사원 관리</span> </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="/admin/personnel/powerSetting"> <i class="bi bi-circle"></i><span>권한 설정</span> </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        &lt;!&ndash; End Components Nav &ndash;&gt;-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" data-bs-target="#charts-nav"  href="/admin/leave">-->
<!--                <i class="bi bi-bar-chart"></i>-->
<!--                <span>연차 관리</span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</aside>-->
<!--&lt;!&ndash; End Sidebar&ndash;&gt;-->

<!--<main id="main" class="main">-->

<!--    <div class="pagetitle">-->
<!--        <h1>연차 관리</h1>-->
<!--        <nav>-->
<!--            <ol class="breadcrumb">-->
<!--                <li class="breadcrumb-item"><a href="/admin/main">Home</a></li>-->
<!--                <li class="breadcrumb-item active">Leave</li>-->
<!--            </ol>-->
<!--        </nav>-->
<!--    </div>&lt;!&ndash; End Page Title &ndash;&gt;-->

<!--    <section class="section">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-15">-->

<!--                <div class="card">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">연차 현황</h5>-->

<!--                        <div class="row">-->
<!--                            <div class="col-xxl-4 col-xl-4">-->
<!--                                <div class="card info-card sales-card">-->
<!--                                    <div class="card-body">-->
<!--                                        <h5 class="card-title"><b>사용 연차</b> <span>| This Year</span></h5>-->
<!--                                        <div class="d-flex align-items-center">-->
<!--                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">-->
<!--                                                <i class="bi bi-calendar-check"></i>-->
<!--                                            </div>-->
<!--                                            <div class="ps-3">-->
<!--                                                <h6>13일</h6>-->
<!--                                                <span class="text-muted small pt-2 ps-1">총연차</span>-->
<!--                                                <span class="text-success small pt-1 fw-bold">25일</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-xxl-4 col-xl-4">-->
<!--                                <div class="card info-card sales-card">-->
<!--                                    <div class="card-body">-->
<!--                                        <h5 class="card-title"><b>잔여 연차</b> <span>| This Year</span></h5>-->
<!--                                        <div class="d-flex align-items-center">-->
<!--                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">-->
<!--                                                <i class="bi bi-calendar-x"></i>-->
<!--                                            </div>-->
<!--                                            <div class="ps-3">-->
<!--                                                <h6>12일</h6>-->
<!--                                                <span class="text-muted small pt-2 ps-1">총연차</span>-->
<!--                                                <span class="text-success small pt-1 fw-bold">25일</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-xxl-4 col-xl-4">-->
<!--                                <div class="card info-card sales-card">-->
<!--                                    <div class="card-body">-->
<!--                                        <h5 class="card-title"><b>연차 신청</b></h5>-->
<!--                                        <div class="d-flex align-items-center">-->
<!--                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#leaveRequestModal">연차 신청하기</button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; 연차 신청 모달 &ndash;&gt;-->
<!--                        <div class="modal fade" id="leaveRequestModal" tabindex="-1">-->
<!--                            <div class="modal-dialog">-->
<!--                                <div class="modal-content">-->
<!--                                    <div class="modal-header">-->
<!--                                        <h5 class="modal-title">연차 신청</h5>-->
<!--                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                                    </div>-->
<!--                                    <div class="modal-body">-->
<!--                                        <form id="leaveRequestForm">-->
<!--                                            <div class="mb-3">-->
<!--                                                <label for="startDate" class="form-label">시작 날짜</label>-->
<!--                                                <input type="date" class="form-control" id="startDate" name="startDate" required>-->
<!--                                            </div>-->
<!--                                            <div class="mb-3">-->
<!--                                                <label for="endDate" class="form-label">종료 날짜</label>-->
<!--                                                <input type="date" class="form-control" id="endDate" name="endDate" required>-->
<!--                                            </div>-->
<!--                                            <div class="mb-3">-->
<!--                                                <label for="reason" class="form-label">신청 사유</label>-->
<!--                                                <textarea class="form-control" id="reason" name="reason" rows="3" required></textarea>-->
<!--                                            </div>-->
<!--                                            <button type="submit" class="btn btn-primary">신청하기</button>-->
<!--                                        </form>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; 연차 신청 모달 끝 &ndash;&gt;-->

<!--                        &lt;!&ndash; 연차 신청 내역 테이블 &ndash;&gt;-->
<!--                        <h5 class="card-title mt-5">연차 신청 내역</h5>-->
<!--                        <table class="table table-hover table-borderless datatable">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th scope="col">신청일</th>-->
<!--                                <th scope="col">시작일</th>-->
<!--                                <th scope="col">종료일</th>-->
<!--                                <th scope="col">상태</th>-->
<!--                                <th scope="col">사유</th>-->
<!--                                <th scope="col">승인/반려</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            &lt;!&ndash; 서버에서 가져온 데이터를 바인딩 &ndash;&gt;-->
<!--                            <tr>-->
<!--                                <td>2024-08-01</td>-->
<!--                                <td>2024-08-10</td>-->
<!--                                <td>2024-08-15</td>-->
<!--                                <td><span class="badge bg-success">승인</span></td>-->
<!--                                <td>가족 여행</td>-->
<!--                                <td><button class="btn btn-secondary" disabled>승인됨</button></td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>2024-09-01</td>-->
<!--                                <td>2024-09-10</td>-->
<!--                                <td>2024-09-12</td>-->
<!--                                <td><span class="badge bg-danger">반려</span></td>-->
<!--                                <td>개인 사정</td>-->
<!--                                <td><button class="btn btn-warning" disabled>반려됨</button></td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->

<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--</main>&lt;!&ndash; End #main &ndash;&gt;-->

<!--&lt;!&ndash; ======= Footer ======= &ndash;&gt;-->
<!--<footer id="footer" class="footer">-->
<!--    <div class="copyright">-->
<!--        &copy; Copyright <strong><span>CHAIN</span></strong>. All Rights Reserved-->
<!--    </div>-->
<!--    <div class="credits">-->
<!--        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--    </div>-->
<!--</footer>-->
<!--&lt;!&ndash; Footer 끝 &ndash;&gt;-->

<!--<a href="#" class="back-to-top d-flex align-items-center justify-content-center">-->
<!--    <i class="bi bi-arrow-up-short"></i>-->
<!--</a>-->

<!--&lt;!&ndash; Vendor JS Files &ndash;&gt;-->
<!--<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>-->

<!--&lt;!&ndash; Template Main JS File &ndash;&gt;-->
<!--<script src="/assets/js/main.js"></script>-->
<!--<script src="/assets/js/wemaked.js"></script>-->
<!--</body>-->
<!--</html>-->
