<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>경조사 게시판 작성 </title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link rel="icon" th:href="@{/assets/img/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}"/>

    <!-- 폰트 설정  -->
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.snow.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.bubble.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/remixicon/remixicon.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}"/>
    <link rel="stylesheet" th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" type="text/css"/>

    <!-- Template Main CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/wemaked.css}"/>
    <script src="/assets/js/theme.js"></script>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header class="header fixed-top d-flex align-items-center" id="header">
    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="/">
            <img alt="" src="/assets/img/logo.png"/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <th:block th:include="fragments/notifications :: notifications"></th:block>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <th:block th:include="fragments/profile :: profile"></th:block>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>
<!-- Header 끝 -->

<th:block th:include="fragments/commute :: commute"></th:block>
<!-- 출퇴근 Modal 끝 -->

<!-- ======= Sidebar ======= -->
<th:block th:include="fragments/sidebar :: sidebar"></th:block>
<!-- Sidebar 전체 끝 -->
<!----------------------------------------------------------------------고정 사이드바 ------------------------------------------------------------------------>
<main class="main" id="main">
    <div class="pagetitle">
        <h1>경조사 게시판 생성</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/board/list">Board</a></li>
                <li class="breadcrumb-item active">Register</li>
            </ol>
        </nav>
    </div>
    <!------------------------------------------------------------------페이지 별 타이틀 ------------------------------------------------------------------------>

    <section class="section ">
        <div class="row">


            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">경조사 게시글 작성</h5>

                        <!-- General Form Elements -->
                        <form action="/board/register" id="boardForm" method="post">
                            <!--                  <input name="boardFiles" th:value="${board.boardFiles}" type="hidden">-->


                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">제목</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="boardName" placeholder="제목" required type="text">
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">카테고리</label>
                                <div class="col-sm-10">
                                    <select aria-label="Default select example" class="form-select" name="boardCategory"
                                            required>
                                        <option value="결혼식">결혼식</option>
                                        <option value="장례식">장례식</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">작성자</label>
                                <div class="col-sm-10">
                                    <input class="form-control board-author-id" name="boardAuthor" required th:value="${session.empNo}" type="hidden">
                                    <input class="form-control board-author-name" readonly type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">위치</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="addressInput" name="addressInput" placeholder="주소를 입력하세요" type="text">
                                    <button class="btn btn-primary mt-2" onclick="searchAddress()" type="button">주소 검색
                                    </button>
                                    <input id="boardLocation" name="boardLocation" type="hidden">
                                    <div class="mt-2" id="map" style="width:100%;height:300px;"></div>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">첨부 파일</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="formFile" name="boardFiles" type="file">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">내용</label>
                                <div class="col-sm-10">
                                    <textarea id="froala" name="boardContent"></textarea>
                                </div>
                            </div>


                            <div class="offset-sm-0">
                                <div class="col-sm-5">
                                    <button class="btn btn-primary" onclick="showModal()" type="button">저장</button>
                                    <button class="btn btn-primary" onclick="showWarningModal()" type="button">취소
                                    </button>
                                </div>
                            </div>


                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->


<!------------------------------------------------------------저장 확인 모달 창 --------------------------------------------------------------------------->
<div aria-hidden="true" aria-labelledby="saveModalLabel" class="modal fade" id="saveModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveModalLabel">저장 확인</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                저장하시겠습니까 ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="saveAlerts()" type="button">예</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" type="button">아니요</button>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------------ 목록 경고 모달 창 --------------------------------------------------------------------------->
<div aria-hidden="true" aria-labelledby="WarningModalLabel" class="modal fade" id="WarningModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="WarningModalLabel">경고</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                현재 입력한 내용이 저장되지 않을 수 있습니다. 목록으로 돌아가시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="WarningAlerts()" type="button">예</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" type="button">아니요</button>
            </div>
        </div>
    </div>
</div>

<!-- ======= Footer ======= -->
<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Footer 끝 -->

<!-- 저장 확인 모달 JS  -->
<script>
    // 저장 확인 모달을 보여주는 함수
    function showModal() {
        var saveModal = new bootstrap.Modal(document.getElementById('saveModal'));
        saveModal.show();
    }

    // 저장 모달에서 '예'를 클릭했을 때 호출되는 함수로 폼을 제출
    function saveAlerts() {
        document.getElementById('boardForm').submit();
    }

    // 목록 경고 모달을 보여주는 함수
    function showWarningModal() {
        var WarningModal = new bootstrap.Modal(document.getElementById('WarningModal'));
        WarningModal.show();
    }

    // 경고 모달에서 '예'를 클릭했을 때 호출되는 함수로 모달을 닫고 목록으로 이동
    function WarningAlerts() {
        var WarningModal = bootstrap.Modal.getInstance(document.getElementById('WarningModal'));
        WarningModal.hide(); // 모달을 먼저 닫는다
        WarningModal._element.addEventListener('hidden.bs.modal', function () { // 모달이 완전히 닫힌 후 페이지 이동
            window.location.href = '/board/list';
        });
    }
</script>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js" type="text/javascript"></script>
<script src="/node_modules/froala-editor/js/languages/ko.js" type="text/javascript"></script>

<!-- 메신저 관련 라이브러리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/wemaked.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!--지도 -->
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=12766682e96936ae9bd65d1f5a308dd8&libraries=services"
        type="text/javascript"></script>
<script>
    var mapContainer = document.getElementById('map');
    var mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 초기 중심 좌표
        level: 3
    };
    var map = new kakao.maps.Map(mapContainer, mapOption);
    var geocoder = new kakao.maps.services.Geocoder();

    function searchAddress() {
        var address = document.getElementById('addressInput').value;
        geocoder.addressSearch(address, function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                map.setCenter(coords);

                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                document.getElementById('boardLocation').value = result[0].y + ',' + result[0].x;
            } else {
                alert('주소를 찾을 수 없습니다.');
            }
        });
    }
</script>

<!-- 작성자 고정 값 출력 -->
<script>
    $(document).ready(function () {
        function processBoardAuthors() {
            const empNo = $('.board-author-id').val(); // 로그인한 사원번호 가져오기
            const boardNameField = $('.board-author-name'); // 사원이름을 표시할 필드

            // 서버에서 모든 직원 데이터를 가져옴
            $.getJSON('/api/employees/all', function (employees) {
                let employeeName = '정보 없음';

                // 사원 번호와 일치하는 사원이름 찾기
                employees.forEach(employee => {
                    console.log(`Comparing ${employee.empNo} with ${empNo}`);
                    if (String(employee.empNo) === String(empNo)) {
                        employeeName = `${employee.lastName} ${employee.firstName}`;
                    }
                });

                // 사원이름을 필드에 설정
                boardNameField.val(employeeName);
            }).fail(function () {
                console.error("Failed to fetch employee data.");
            });
        }

        // 페이지 로드 시 작성자 정보를 처리
        processBoardAuthors();
    });
</script>

</body>
</html>
