<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>공지사항 수정 </title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link rel="icon" th:href="@{/assets/img/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}"/>

    <!-- 폰트 설정  -->
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.snow.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.bubble.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/remixicon/remixicon.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}"/>
    <link rel="stylesheet" th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" type="text/css"/>

    <!-- Template Main CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/wemaked.css}"/>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header class="header fixed-top d-flex align-items-center" id="header">
    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="/">
            <img alt="" src="/assets/img/logo.png"/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" data-bs-toggle="dropdown" href="#">
                    <i class="bi bi-bell"></i>
                    <span class="badge btn-secondary badge-number">4</span> </a>
                <!-- 알림창 아이콘 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        4개의 새 알림이 있습니다
                        <a href="/user/alarm"><span class="badge btn-info p-2 ms-2">전체 보기</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li class="dropdown-footer">
                        <a href="/user/alarm">모든 알림 표시</a>
                    </li>
                </ul>
                <!-- 알림 드롭다운 목록 끝 -->
            </li>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown" href="#">
                    <img alt="Profile" class="rounded-circle" src="/assets/img/profile-img.jpg"/>
                    <span class="d-none d-md-block dropdown-toggle ps-2">박영민</span> </a>
                <!-- 프로필 이미지 항목 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>박영민</h6>
                        <span>사원</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/mypage">
                            <i class="bi bi-person"></i>
                            <span>마이 페이지</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/organizationChart">
                            <i class="bi bi-diagram-2"></i>
                            <span>조직도</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                            <i class="bi bi-power"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/admin/main">
                            <i class="bi bi-tools"></i>
                            <span>회사 관리자</span>
                        </a>
                    </li>
                </ul>
                <!-- 프로필 드롭다운 목록 끝 -->
            </li>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>
<!-- Header 끝 -->

<!-- Header Modal -->
<!-- 출퇴근 Modal -->
<div class="modal fade" id="attendanceModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">출근</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>


            <div class="modal-body">
                <div id="currentTime">현재 시간:</div>
                출근하시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" id="attendanceConfirmButton" type="button">네
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="attendanceCancelButton" type="button">
                    아니오
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="leaveworkModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">퇴근</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div id="currentTimes">현재 시간:</div>
                퇴근하시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" id="leaveworkConfirmButton" type="button">네
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="leaveworkCancelButton" type="button">아니오
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 출퇴근 Modal 끝 -->
<!-- Header Modal -->

<!-- ======= Sidebar ======= -->
<aside class="sidebar" id="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item ">
            <a class="nav-link dash collapsed" href="/">
                <i class="bi bi-grid"></i>
                <span>대시보드</span>
            </a>
        </li>
        <!-- 대시보드 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#menu-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>기본 사항</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="menu-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>통일 사항</span> </a>
                    <ul>
                        <li>
                            <a href="/example"> <i class="bi bi-circle"></i><span>홈페이지 예시</span> </a>
                        </li>
                    </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!-- 기본사항 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#work-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-clipboard-data"></i>
                <span>업무</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="work-nav">
                <li>
                    <a href="/todo/list"> <i class="bi bi-circle"></i><span>TODO</span> </a>
                </li>
                <li>
                    <a href="/project/list"> <i class="bi bi-circle"></i><span>프로젝트</span> </a>
                </li>
                <li>
                    <a href="/report/list"> <i class="bi bi-circle"></i><span>업무</span> </a>
                </li>
                <li>
                    <a href="/chart/main"> <i class="bi bi-circle"></i><span>차트</span> </a>
                </li>
            </ul>
        </li>
        <!-- 업무 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#sign-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-archive"></i>
                <span>전자결재</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="sign-nav">
                <li>
                    <a href="/approval/main"> <i class="bi bi-circle"></i><span>전체 문서함</span> </a>
                </li>
                <li>
                    <a href="/approval/draft"> <i class="bi bi-circle"></i><span>임시 문서함</span> </a>
                </li>
            </ul>
        </li>
        <!-- 전자결재 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link" data-bs-target="#board-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-people-fill"></i>
                <span>게시판</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse show" data-bs-parent="#sidebar-nav" id="board-nav">
                <li>
                    <a class="active" href="/notice/list"> <i class="bi bi-circle"></i><span>공지사항</span> </a>
                </li>
                <li>
                    <a href="/board/list"> <i class="bi bi-circle"></i><span>경조사</span> </a>
                </li>
                <li>
                    <a href="/board/cafeteria"> <i class="bi bi-circle"></i><span>구내식당</span> </a>
                </li>
                <li>
                    <a href="/conference/main"> <i class="bi bi-circle"></i><span>회의실 예약</span> </a>
                </li>
            </ul>
        </li>
        <!-- 게시판 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#calendar-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-calendar-week"></i>
                <span>일정</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="calendar-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>목록</span> </a>
                </li>
            </ul>
        </li>
        <!-- 일정 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#email-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-envelope"></i>
                <span>이메일</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="email-nav">
                <li>
                    <a href="/mail/receive"> <i class="bi bi-circle"></i><span>전체메일함</span> </a>
                </li>
                <li>
                    <a href="/mail/highlight"> <i class="bi bi-circle"></i><span>즐겨찾기</span> </a>
                </li>
                <li>
                    <a href="/mail/important"> <i class="bi bi-circle"></i><span>중요메일함</span> </a>
                </li>
                <li>
                    <a href="/mail/tome"> <i class="bi bi-circle"></i><span>내게쓴메일함</span> </a>
                </li>
                <li>
                    <a href="/mail/temporaryStorage"> <i class="bi bi-circle"></i><span>임시보관함</span> </a>
                </li>
                <li>
                    <a href="/mail/send"> <i class="bi bi-circle"></i><span>발신함</span> </a>
                </li>
                <li>
                    <a href="/mail/trash"> <i class="bi bi-circle"></i><span>휴지통</span> </a>
                </li>
            </ul>
        </li>
        <!-- 이메일 사이드바 끝 -->

        <li class="nav-item qna">
            <a class="nav-link qna collapsed" href="/user/Q&A">
                <i class="bi bi-question-circle"></i>
                <span>고객센터</span>
            </a>
        </li>
        <!-- 고객센터 사이드바 끝 -->

    </ul>
</aside>
<!-- Sidebar 전체 끝 -->
<!----------------------------------------------------------------------고정 사이드바 ------------------------------------------------------------------------>
<main class="main" id="main">
    <div class="pagetitle">
        <h1>공지사항 수정 </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/notice/list">Notice</a></li>
                <li class="breadcrumb-item active">Modify</li>
            </ol>
        </nav>
    </div>
    <!------------------------------------------------------------------페이지 별 타이틀 ------------------------------------------------------------------------>

    <section class="section ">
        <div class="row">


            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">공자사항</h5>

                        <form id="noticeForm" method="post"
                              th:action="@{/notice/modify/{noticeNo}(noticeNo=${notice.noticeNo})}">
                            <input name="noticeNo" th:value="${notice.noticeNo}" type="hidden">
                            <input name="noticeFiles" th:value="${notice.noticeFiles}" type="hidden">


                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">고정</label>
                                <div class="col-sm-10">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="noticePinnedNo" name="noticePinned" th:checked="${notice.noticePinned != null and !notice.noticePinned}" type="radio" value="false">
                                        <label class="form-check-label" for="noticePinnedNo">고정 안함</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="noticePinnedYes" name="noticePinned" th:checked="${notice.noticePinned == true}" type="radio" value="true">
                                        <label class="form-check-label" for="noticePinnedYes">고정</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-control" name="noticePinnedDate" placeholder="기간 지정" style="width: auto; display: inline-block;" th:value="${notice.noticePinnedDate}" type="date">
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label class="col-sm-1 col-form-label">제목</label>
                                <div class="col-sm-11">
                                    <input class="form-control" name="noticeName" th:value="${notice.noticeName}"
                                           type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-1 col-form-label">작성자</label>
                                <div class="col-sm-11">
                                    <input class="form-control" name="noticeAuthor" th:value="${notice.noticeAuthor}"
                                           type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-1 col-form-label">첨부 파일</label>
                                <div class="col-sm-11">
                                    <input class="form-control" id="formFile" name="noticeFiles" th:value="${notice.noticeFiles}"
                                           type="file">
                                    <div th:if="${notice.noticeFiles != null}">
                                        <p>첨부된 파일:
                                            <a download th:href="@{${notice.noticeFiles}}"
                                               th:text="${notice.noticeFiles}"></a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-1 col-form-label">내용</label>
                                <div class="col-sm-11">
                                    <textarea class="form-control" id="froala" name="noticeContent"
                                              th:text="${notice.noticeContent}"></textarea>
                                </div>
                            </div>

                            <div class="offset-sm-0">
                                <div class="col-sm-5">
                                    <button class="btn btn-primary" onclick="showModal()" type="button">수정저장</button>
                                    <button class="btn btn-primary" onclick="showWarningModal()" type="button">목록
                                    </button>
                                    <button class="btn btn-danger" onclick="showConfirmationModal()" type="button">삭제
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
<!-- End #main -->


<!-------------------저장 확인 모달 창 --------------------------------------------------------------------------->
<div aria-hidden="true" aria-labelledby="saveModalLabel" class="modal fade" id="saveModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveModalLabel">수정 저장 확인</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                수정한 내용을 저장하시겠습니까 ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="saveAlerts()" type="button">예</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" type="button">아니요</button>
            </div>
        </div>
    </div>
</div>
<!------------------삭제 확인 모달 창 --------------------------------------------------------------------------->
<div aria-hidden="true" aria-labelledby="confirmationModalLabel" class="modal fade" id="confirmationModal"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">삭제 확인</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                해당 공지사항을 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="deleteAlerts()" type="button">예</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" type="button">아니요</button>
            </div>
        </div>
    </div>
</div>
<!--------------- 목록 경고 모달 창 --------------------------------------------------------------------------->
<div aria-hidden="true" aria-labelledby="WarningModalLabel" class="modal fade" id="WarningModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="WarningModalLabel">경고</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                현재 입력한 내용이 저장되지 않을 수 있습니다. 목록으로 돌아가시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="WarningAlerts()" type="button">예</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" type="button">아니요</button>
            </div>
        </div>
    </div>
</div>


<!---------------------------------------------- ======= 고정 Footer ======= ----------------------------------------------------->
<!-- ======= Footer ======= -->
<footer class="footer" id="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>CHAIN</span></strong
    >. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer>
<!-- Footer 끝 -->

<!-- 채팅창 및 맨위로 가기 -->
<!-- 맨위로 가기-->
<a class="back-to-top d-flex align-items-center justify-content-center" href="#">
    <i class="bi bi-arrow-up-short"></i>
</a>
<!-- 맨위로 가기 끝-->
<!-- 채팅창 -->
<a class="back-to-top-chat d-flex align-items-center justify-content-center btn btn-success" onclick="chatOpenPopup()">
    <i class="bi bi-chat-dots"></i>
    <span class="badge btn-danger badge-number">&nbsp;</span>
</a>
<!-- 채팅창 끝-->


<!-- 수정 삭제 목록 모달 -->
<script>
    // 수정 모달
    function showModal() {
        var saveModal = new bootstrap.Modal(document.getElementById('saveModal'));
        saveModal.show();
    }

    function saveAlerts() {
        document.getElementById('noticeForm').submit(); // 폼 제출
    }

    // 삭제 모달
    function showConfirmationModal() {
        var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        confirmationModal.show();
    }

    function deleteAlerts() {
        const noticeNo = document.querySelector('input[name="noticeNo"]').value;

        fetch(`/notice/delete/${noticeNo}`, {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                window.location.href = '/notice/list';
            } else {
                alert('삭제에 실패했습니다. 상태 코드: ' + response.status);
            }
        });
    }


    // 목록 확인 모달
    function showWarningModal() { // 모달을 보여주는 함수
        var WarningModal = new bootstrap.Modal(document.getElementById('WarningModal'));
        WarningModal.show();
    }

    function WarningAlerts() {
        var WarningModal = bootstrap.Modal.getInstance(document.getElementById('WarningModal'));
        WarningModal.hide(); // 모달을 먼저 닫는다
        WarningModal._element.addEventListener('hidden.bs.modal', function () { // 모달이 완전히 닫힌 후 페이지 이동
            window.location.href = '/notice/list';
        });
    }

</script>


<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js" type="text/javascript"></script>
<script src="/node_modules/froala-editor/js/languages/ko.js" type="text/javascript"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/wemaked.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
