<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>OKR 차트</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link rel="icon" th:href="@{/assets/img/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}"/>

    <!-- 폰트 설정  -->
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.snow.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.bubble.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/remixicon/remixicon.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}"/>
    <link rel="stylesheet" th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" type="text/css"/>

    <!-- Template Main CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/wemaked.css}"/>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header class="header fixed-top d-flex align-items-center" id="header">
    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="/">
            <img alt="" src="/assets/img/logo.png"/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" data-bs-toggle="dropdown" href="#">
                    <i class="bi bi-bell"></i>
                    <span class="badge btn-secondary badge-number">4</span> </a>
                <!-- 알림창 아이콘 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        4개의 새 알림이 있습니다
                        <a href="/user/alarm"><span class="badge btn-info p-2 ms-2">전체 보기</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li class="dropdown-footer">
                        <a href="/user/alarm">모든 알림 표시</a>
                    </li>
                </ul>
                <!-- 알림 드롭다운 목록 끝 -->
            </li>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown" href="#">
                    <img alt="Profile" class="rounded-circle" src="/assets/img/profile-img.jpg"/>
                    <span class="d-none d-md-block dropdown-toggle ps-2">박영민</span> </a>
                <!-- 프로필 이미지 항목 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>박영민</h6>
                        <span>사원</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/mypage">
                            <i class="bi bi-person"></i>
                            <span>마이 페이지</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/organizationChart">
                            <i class="bi bi-diagram-2"></i>
                            <span>조직도</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                            <i class="bi bi-power"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/admin/main">
                            <i class="bi bi-tools"></i>
                            <span>회사 관리자</span>
                        </a>
                    </li>
                </ul>
                <!-- 프로필 드롭다운 목록 끝 -->
            </li>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>
<!-- Header 끝 -->

<!-- Header Modal -->
<!-- 출퇴근 Modal -->
<div class="modal fade" id="attendanceModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">출근</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>


            <div class="modal-body">
                <div id="currentTime">현재 시간:</div>
                출근하시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" id="attendanceConfirmButton" type="button">네
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="attendanceCancelButton" type="button">
                    아니오
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="leaveworkModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">퇴근</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div id="currentTimes">현재 시간:</div>
                퇴근하시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" id="leaveworkConfirmButton" type="button">네
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="leaveworkCancelButton" type="button">아니오
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 출퇴근 Modal 끝 -->
<!-- Header Modal -->

<!-- ======= Sidebar ======= -->
<aside class="sidebar" id="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item ">
            <a class="nav-link dash collapsed" href="/">
                <i class="bi bi-grid"></i>
                <span>대시보드</span>
            </a>
        </li>
        <!-- 대시보드 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#menu-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>기본 사항</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="menu-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>통일 사항</span> </a>
                    <ul>
                        <li>
                            <a href="/example"> <i class="bi bi-circle"></i><span>홈페이지 예시</span> </a>
                        </li>
                    </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!-- 기본사항 끝 -->

        <li class="nav-item">
            <a class="nav-link" data-bs-target="#work-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-clipboard-data"></i>
                <span>업무</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse show" data-bs-parent="#sidebar-nav" id="work-nav">
                <li>
                    <a href="/todo/list"> <i class="bi bi-circle"></i><span>TODO</span> </a>
                </li>
                <li>
                    <a href="/project/list"> <i class="bi bi-circle"></i><span>프로젝트</span> </a>
                </li>
                <li>
                    <a href="/report/list"> <i class="bi bi-circle"></i><span>업무</span> </a>
                </li>
                <li>
                    <a class="active" href="/chart/main"> <i class="bi bi-circle"></i><span>차트</span> </a>
                </li>
            </ul>
        </li>
        <!-- 업무 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#sign-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-archive"></i>
                <span>전자결재</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="sign-nav">
                <li>
                    <a href="/approval/main"> <i class="bi bi-circle"></i><span>전체 문서함</span> </a>
                </li>
                <li>
                    <a href="/approval/draft"> <i class="bi bi-circle"></i><span>임시 문서함</span> </a>
                </li>
            </ul>
        </li>
        <!-- 전자결재 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#board-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-people-fill"></i>
                <span>게시판</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="board-nav">
                <li>
                    <a href="/notice/list"> <i class="bi bi-circle"></i><span>공지사항</span> </a>
                </li>
                <li>
                    <a href="/board/list"> <i class="bi bi-circle"></i><span>경조사</span> </a>
                </li>
                <li>
                    <a href="/board/cafeteria"> <i class="bi bi-circle"></i><span>구내식당</span> </a>
                </li>
                <li>
                    <a href="/conference/main"> <i class="bi bi-circle"></i><span>회의실 예약</span> </a>
                </li>
            </ul>
        </li>
        <!-- 게시판 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#calendar-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-calendar-week"></i>
                <span>일정</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="calendar-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>목록</span> </a>
                </li>
            </ul>
        </li>
        <!-- 일정 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#email-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-envelope"></i>
                <span>이메일</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="email-nav">
                <li>
                    <a href="/mail/receive"> <i class="bi bi-circle"></i><span>전체메일함</span> </a>
                </li>
                <li>
                    <a href="/mail/highlight"> <i class="bi bi-circle"></i><span>즐겨찾기</span> </a>
                </li>
                <li>
                    <a href="/mail/important"> <i class="bi bi-circle"></i><span>중요메일함</span> </a>
                </li>
                <li>
                    <a href="/mail/receivetome"> <i class="bi bi-circle"></i><span>내게쓴메일함</span> </a>
                </li>
                <li>
                    <a href="/mail/temporaryStorage"> <i class="bi bi-circle"></i><span>임시보관함</span> </a>
                </li>
                <li>
                    <a href="/mail/send"> <i class="bi bi-circle"></i><span>발신함</span> </a>
                </li>
                <li>
                    <a href="/mail/trash"> <i class="bi bi-circle"></i><span>휴지통</span> </a>
                </li>
            </ul>
        </li>
        <!-- 이메일 사이드바 끝 -->

        <li class="nav-item qna">
            <a class="nav-link qna collapsed" href="/user/Q&A">
                <i class="bi bi-question-circle"></i>
                <span>고객센터</span>
            </a>
        </li>
        <!-- 고객센터 사이드바 끝 -->

    </ul>
</aside>
<!-- Sidebar 전체 끝 -->
<!----------------------------------------------------------------------고정 사이드바 ------------------------------------------------------------------------>
<main class="main" id="main">
    <div class="pagetitle">
        <h1>OKR 차트 목록</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/chart/main">Chart</a></li>
                <li class="breadcrumb-item active">OKR</li>
            </ol>
        </nav>
    </div>
    <!------------------------------------------------------------------페이지 별 타이틀 ------------------------------------------------------------------------>
    <div class="gy-4 mb-3">
        <div class="col-xl-6">
            <button class="btn btn-primary" type="button" onclick="ModalModule.showCreateChartModal()">새 목표차트 생성</button>
            <button class="btn btn-secondary" type="button" onclick="ModalModule.showCompareChartModal()">목표 간 비교 차트</button>
        </div>
    </div>

    <!------------------------------------------------------------------  위젯1 탭 -------------------------------------------------------------------->
    <section class="section">
        <div class="row">


            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">카테고리 필터링</h5>
                        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button aria-controls="home" aria-selected="true" class="nav-link active"
                                        data-bs-target="#bordered-home" data-bs-toggle="tab" id="home-tab" role="tab"
                                        type="button">부서 목표
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="profile" aria-selected="false" class="nav-link"
                                        data-bs-target="#bordered-profile" data-bs-toggle="tab" id="profile-tab"
                                        role="tab" type="button">개인 목표
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2" id="borderedTabContent">
                            <div aria-labelledby="home-tab" class="tab-pane fade show active" id="bordered-home"
                                 role="tabpanel">
                                <div class="form-check">
                                    <!-- 필터 1 -->
                                    <div class="form-check">
                                        <input checked class="form-check-input" data-tab="home" id="home-1" name="home"
                                               type="radio" value="1">
                                        <label class="form-check-label" for="home-1">월간 달성률</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" data-tab="home" id="home-2" name="home"
                                               type="radio"
                                               value="2">
                                        <label class="form-check-label" for="home-2">현재 진행률</label>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="profile-tab" class="tab-pane fade" id="bordered-profile"
                                 role="tabpanel">
                                <div class="form-check">
                                    <!-- 필터 2 -->
                                    <div class="form-check">
                                        <input class="form-check-input" data-tab="profile" id="profile-1" name="profile"
                                               type="radio" value="1">
                                        <label class="form-check-label" for="profile-1">달성률</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" data-tab="profile" id="profile-2" name="profile"
                                               type="radio" value="2">
                                        <label class="form-check-label" for="profile-2">진행률</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!------------------------------------------------------------------  위젯2 그래프-------------------------------------------------------------------->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/chart/OKR">OKR Chart</a></h5>
                        <div id="barChart"></div>
                    </div>
                </div>
            </div>


            <!---------------------------------------------------------------데이터 테이블 위젯--------------------------------------------------------------------->
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">OKR 목표 리스트</h5>

                        <!-- Table with stripped rows -->
                        <table class="table datatable table-hover">
                            <thead>
                            <tr>
                                <th>목표</th>
                                <th>카테고리</th>
                                <th>진행도 (상태표시)</th>
                                <th data-format="YYYY/DD/MM" data-type="date">시작일시</th>
                                <th>완료일시</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="pinned-row" data-bs-target="#chartDetailModal" data-bs-toggle="modal"
                                data-id="${chart.chartNo}" th:each="chart : ${charts}">
                                <td th:text="${chart.chartName}"></td>
                                <td th:text="${chart.chartCategory}"></td>
                                <td th:text="${chart.chartProgress + '%'}"></td>
                                <td th:text="${chart.chartStartDate}"></td>
                                <td th:text="${chart.chartEndDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>
            </div>

        </div>
    </section>
</main>
<!-- End #main -->


<!-- 저장 확인 모달 -->
<div aria-hidden="true" aria-labelledby="confirmModalLabel" class="modal fade" id="confirmModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">확인</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                저장하시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="confirmSaveButton" type="button">예</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">아니오</button>
            </div>
        </div>
    </div>
</div>
<!-- 차트 생성 등록 모달 -->
<div aria-hidden="true" aria-labelledby="goalChartModalLabel" class="modal fade" id="goalChartModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="goalChartModalLabel">목표차트 생성</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">

                <!-- 모달 내부의 폼 -->
                <form id="chartForm" method="post" th:action="@{/chart/create}">
                    <div class="mb-3">
                        <label class="form-label">목표</label>
                        <input class="form-control" name="chartName" placeholder="목표를 입력하세요" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">카테고리</label>
                        <select class="form-select" name="chartCategory">
                            <option selected>카테고리를 선택하세요</option>
                            <option value="Category1">카테고리 1</option>
                            <option value="Category2">카테고리 2</option>
                            <option value="Category3">카테고리 3</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="chartPeriod">기간 설정</label>
                        <input class="form-control" id="chartPeriod" placeholder="기간을 선택하세요" readonly type="text">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">내용</label>
                        <input class="form-control" name="chartContent" placeholder="추가 설명란" type="text">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">진행도 (%)</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="progress20" name="chartProgress" type="radio"
                                       value="20">
                                <input class="form-control" name="progressLabel20" placeholder="20% 라벨 입력" type="text">
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="progress40" name="chartProgress" type="radio"
                                       value="40">
                                <input class="form-control" name="progressLabel40" placeholder="40% 라벨 입력" type="text">
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="progress60" name="chartProgress" type="radio"
                                       value="60">
                                <input class="form-control" name="progressLabel60" placeholder="60% 라벨 입력" type="text">
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="progress80" name="chartProgress" type="radio"
                                       value="80">
                                <input class="form-control" name="progressLabel80" placeholder="80% 라벨 입력" type="text">
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="progress100" name="chartProgress" type="radio"
                                       value="100">
                                <input class="form-control" name="progressLabel100" placeholder="100% 라벨 입력"
                                       type="text">
                            </div>
                        </div>
                    </div>

                    <!-- 숨겨진 필드 추가 -->
                    <input id="chartStartDate" name="chartStartDate" type="hidden">
                    <input id="chartEndDate" name="chartEndDate" type="hidden">
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">취소</button>
                <button class="btn btn-primary" form="chartForm" type="submit">저장</button>
            </div>
        </div>
    </div>
</div>
<!-- 차트 상세 및 수정 모달 -->
<div aria-hidden="true" aria-labelledby="chartDetailModalLabel" class="modal fade" id="chartDetailModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chartDetailModalLabel">차트 상세 정보</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form id="chartDetailForm" method="post">

                    <div class="mb-3">
                        <label class="form-label">차트 이름</label>
                        <input class="form-control" id="chartName" name="chartName" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">카테고리</label>
                        <input class="form-control" id="chartCategory" name="chartCategory" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">진행도</label>
                        <input class="form-control" id="chartProgress" name="chartProgress"  type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <form id="deleteChartForm" method="post" th:action="@{/chart/delete/{chartNo}}">
                    <input id="deleteChartNo" name="chartNo" type="hidden">
                    <button class="btn btn-danger" type="submit">삭제</button>
                </form>
                <button class="btn btn-primary" form="chartDetailForm" type="submit">저장</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- 목표 간 비교 차트 모달 -->
<div aria-hidden="true" aria-labelledby="compareChartModalLabel" class="modal fade" id="compareChartModal"
     tabindex="-1">
    <div class="modal-dialog modal-lg"> <!-- 모달 크기를 크게 설정 -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="compareChartModalLabel">목표 간 비교 차트</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="searchGoal">목표 검색</label>
                    <input class="form-control" id="searchGoal" placeholder="목표를 검색하세요" type="text">
                </div>

                <div class="mb-3" id="goalList">
                    <!-- 목표 리스트가 여기에 로드됨 -->
                </div>

                <div>
                    <h5>선택한 목표들:</h5>
                    <ul id="selectedGoals">
                        <!-- 선택된 목표들이 여기에 표시됨 -->
                    </ul>
                </div>

                <div id="compareChart"></div> <!-- 차트를 렌더링할 곳 -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">닫기</button>
                <button class="btn btn-primary" id="compareButton" type="button">비교하기</button>
            </div>
        </div>
    </div>
</div>


<!---------------------------------------------- ======= 고정 Footer ======= ----------------------------------------------------->
<!-- ======= Footer ======= -->
<footer class="footer" id="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>CHAIN</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer>
<!-- Footer 끝 -->

<!--그래프 및 모달 관련 주석 -->
<script>
    // main.js
    document.addEventListener('DOMContentLoaded', function () {
        // 차트 초기화 및 이벤트 리스너 설정
        const initialData = ChartModule.initChart([40, 30, 48, 40, 20, 80, 60, 100, 25, 30]); // 초기 차트 데이터 제공
        initialData.render();

        // Flatpickr 초기화
        ModalModule.initFlatpickr();

        // 모달 및 차트 라디오 버튼 관련 이벤트 리스너 추가
        EventListenerModule.attachChartRadioListeners(initialData);

        // 목표 비교 기능 초기화
        const goals = [
            {id: 1, name: '목표 1', progress: [40, 60, 80]},
            {id: 2, name: '목표 2', progress: [20, 50, 70]},
            {id: 3, name: '목표 3', progress: [10, 30, 60]},
            {id: 4, name: '목표 4', progress: [50, 70, 90]}
        ];
        GoalComparisonModule.initGoalComparison(goals);
    });

    // chartModule.js
    const ChartModule = (function () {
        // 차트 데이터 (샘플 데이터)
        const chartData = {
            'home': {
                1: [40, 30, 48, 40, 20, 80, 60, 100, 25, 30],
                2: [30, 30, 30, 70, 40, 55, 60, 90, 50, 10]
            },
            'profile': {
                1: [20, 50, 40, 90, 50, 60, 75, 15, 50, 40],
                2: [10, 30, 40, 20, 45, 50, 60, 90, 70, 70]
            }
        };

        // 데이터 값에 따른 색상을 반환하는 함수
        function getColor(value) {
            if (value >= 80) return '#f16fc7';
            if (value >= 60) return '#eed348';
            return '#93e6b7';
        }

        // 데이터 배열에 따른 색상 배열을 생성하는 함수
        function generateColors(data) {
            return data.map(getColor);
        }

        // 차트를 초기화하는 함수
        function initChart(initialData) {
            return new ApexCharts(document.querySelector("#barChart"), {
                series: [{
                    data: initialData,
                    color: function ({value}) {
                        return getColor(value);
                    }
                }],
                chart: {
                    type: 'bar',
                    height: 350
                },
                plotOptions: {
                    bar: {
                        borderRadius: 5,
                        horizontal: true
                    }
                },
                dataLabels: {
                    enabled: false
                },
                xaxis: {
                    categories: ['South Korea', 'Canada', 'United Kingdom', 'Netherlands', 'Italy', 'France', 'Japan',
                        'United States', 'China', 'Germany'
                    ],
                    max: 100
                },
                yaxis: {
                    max: 100
                }
            });
        }

        // 차트를 업데이트하는 함수
        function updateChart(chart, tab, category) {
            if (chartData[tab] && chartData[tab][category]) {
                const newData = chartData[tab][category];
                chart.updateOptions({
                    series: [{
                        data: newData,
                        color: function ({value}) {
                            return getColor(value);
                        }
                    }],
                    colors: generateColors(newData)
                });
            } else {
                console.error('유효하지 않은 데이터: 탭 또는 카테고리를 찾을 수 없습니다');
            }
        }

        return {
            initChart,
            updateChart
        };
    })();

    // modalModule.js
    const ModalModule = (function () {
        // flatpickr 초기화 함수 (기간 설정을 위한 날짜 선택 라이브러리)
        function initFlatpickr() {
            const chartPeriodInput = document.getElementById('chartPeriod');
            const chartStartDateInput = document.getElementById('chartStartDate');
            const chartEndDateInput = document.getElementById('chartEndDate');

            flatpickr(chartPeriodInput, {
                mode: "range",
                dateFormat: "Y-m-d",
                onChange: function (selectedDates, dateStr) {
                    const dates = dateStr.split(" to ");
                    chartStartDateInput.value = dates[0];
                    chartEndDateInput.value = dates[1];
                }
            });
        }

        // 목표 차트 생성 모달 열기
        function showCreateChartModal() {
            const goalChartModal = new bootstrap.Modal(document.getElementById('goalChartModal'));
            goalChartModal.show();
        }

        // 목표 비교 차트 모달 열기
        function showCompareChartModal() {
            const compareChartModal = new bootstrap.Modal(document.getElementById('compareChartModal'));
            compareChartModal.show();
        }

        return {
            initFlatpickr,
            showCreateChartModal,
            showCompareChartModal
        };
    })();

    // eventListenerModule.js
    const EventListenerModule = (function (ChartModule) {
        // 차트 라디오 버튼에 이벤트 리스너를 붙이는 함수
        function attachChartRadioListeners(chart) {
            document.querySelectorAll('.form-check-input').forEach(input => {
                input.addEventListener('change', event => {
                    const tab = event.target.dataset.tab;
                    const category = event.target.value;
                    ChartModule.updateChart(chart, tab, category);
                });
            });
        }

        return {
            attachChartRadioListeners
        };
    })(ChartModule);

    // goalComparisonModule.js
    const GoalComparisonModule = (function () {
        let selectedGoals = [];

        // 목표 비교 그래프 모달 초기화 및 이벤트 리스너 추가
        function initGoalComparison(goals) {
            const goalList = document.getElementById('goalList');
            goalList.innerHTML = goals.map(goal => `
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="${goal.id}" id="goal-${goal.id}">
            <label class="form-check-label" for="goal-${goal.id}">${goal.name}</label>
        </div>
    `).join('');

            goals.forEach(goal => {
                document.getElementById(`goal-${goal.id}`).addEventListener('change', function () {
                    if (this.checked) {
                        if (selectedGoals.length < 3) {
                            selectedGoals.push(goal);
                        } else {
                            this.checked = false;
                            alert('최대 3개의 목표만 선택할 수 있습니다.');
                        }
                    } else {
                        selectedGoals = selectedGoals.filter(g => g.id !== goal.id);
                    }

                    document.getElementById('selectedGoals').innerHTML = selectedGoals.map(g => `<li>${g.name}</li>`).join('');
                });
            });

            document.getElementById('compareButton').addEventListener('click', function () {
                if (selectedGoals.length === 0) {
                    alert('비교할 목표를 선택하세요.');
                    return;
                }

                const chartNames = selectedGoals.map(goal => goal.name);
                const progressData = selectedGoals.map(goal => ({name: goal.name, data: goal.progress}));

                const compareChart = new ApexCharts(document.querySelector("#compareChart"), {
                    series: progressData,
                    chart: {
                        type: 'bar',
                        height: 350
                    },
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    xaxis: {
                        categories: chartNames,
                    },
                    yaxis: {
                        title: {
                            text: '% (퍼센트)'
                        }
                    },
                    fill: {
                        opacity: 1
                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return val + "%"
                            }
                        }
                    }
                });

                compareChart.render();
            });

            document.getElementById('searchGoal').addEventListener('input', function () {
                const query = this.value.toLowerCase();
                const filteredGoals = goals.filter(goal => goal.name.toLowerCase().includes(query));

                goalList.innerHTML = filteredGoals.map(goal => `
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="${goal.id}" id="goal-${goal.id}">
                <label class="form-check-label" for="goal-${goal.id}">${goal.name}</label>
            </div>
        `).join('');

                filteredGoals.forEach(goal => {
                    document.getElementById(`goal-${goal.id}`).addEventListener('change', function () {
                        if (this.checked) {
                            if (selectedGoals.length < 3) {
                                selectedGoals.push(goal);
                            } else {
                                this.checked = false;
                                alert('최대 3개의 목표만 선택할 수 있습니다.');
                            }
                        } else {
                            selectedGoals = selectedGoals.filter(g => g.id !== goal.id);
                        }

                        document.getElementById('selectedGoals').innerHTML = selectedGoals.map(g => `<li>${g.name}</li>`).join('');
                    });
                });
            });
        }

        return {
            initGoalComparison
        };
    })();

</script>


<!-- 기간 설정 필요한 라이브러리 추가 -->
<link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<!-- 채팅창 및 맨위로 가기 -->
<!-- 맨위로 가기-->
<a class="back-to-top d-flex align-items-center justify-content-center" href="#">
    <i class="bi bi-arrow-up-short"></i>
</a>
<!-- 맨위로 가기 끝-->
<!-- 채팅창 -->
<a class="back-to-top-chat d-flex align-items-center justify-content-center btn btn-success" onclick="chatOpenPopup()">
    <i class="bi bi-chat-dots"></i>
    <span class="badge btn-danger badge-number">&nbsp;</span>
</a>
<!-- 채팅창 끝-->

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/languages/ko.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/wemaked.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>

