<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>알림</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link rel="icon" th:href="@{/assets/img/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}"/>

    <!-- 폰트 설정  -->
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.snow.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.bubble.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/remixicon/remixicon.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}"/>
    <link rel="stylesheet" th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" type="text/css"/>

    <!-- Template Main CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/wemaked.css}"/>
    <script src="/assets/js/theme.js"></script>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header class="header fixed-top d-flex align-items-center" id="header">
    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="/">
            <img alt="" src="/assets/img/logo.png"/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <th:block th:include="fragments/notifications :: notifications"></th:block>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <th:block th:include="fragments/profile :: profile"></th:block>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>

<!-- Header 끝 -->

<th:block th:include="fragments/commute :: commute"></th:block>
<!-- 출퇴근 Modal 끝 -->

<!-- ======= Sidebar ======= -->
<th:block th:include="fragments/sidebar :: sidebar"></th:block>
<!-- Sidebar 전체 끝 -->

<main class="main" id="main">

    <div class="pagetitle">
        <h1>알림</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Alarm</li>
            </ol>
        </nav>
    </div>
    <!-- 페이지 제목 끝 -->
    <!------------------------------------------------------------------페이지 별 타이틀 ------------------------------------------------------------------------>

    <section class="section faq">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <!--  showConfirmationModal :  전체삭제 모달 창 연결  -->
                    <button class="btn btn-danger" onclick="showConfirmationModal()">전체 삭제</button>
                    <button class="btn btn-warning" onclick="document.getElementById('deleteReadForm').submit();">읽은 알림
                        삭제
                    </button>
                    <button class="btn btn-danger" onclick="showMakeNotificationModal()">시스템 알림 작성(관리자)</button>
                </div>

                <!--------------------------card 시작 ---------------------------------->
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs nav-tabs-bordered mt-2" id="borderedTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button aria-controls="all" aria-selected="true" class="nav-link active"
                                        data-bs-target="#all"
                                        data-bs-toggle="tab" id="all-tab" role="tab" type="button">ALL
                                </button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button aria-controls="project" aria-selected="false" class="nav-link"
                                        data-bs-target="#project"
                                        data-bs-toggle="tab" id="project-tab" role="tab" type="button">프로젝트
                                </button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button aria-controls="payment" aria-selected="false" class="nav-link"
                                        data-bs-target="#payment"
                                        data-bs-toggle="tab" id="payment-tab" role="tab" type="button">업무
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="chart" aria-selected="false" class="nav-link"
                                        data-bs-target="#chart"
                                        data-bs-toggle="tab" id="chart-tab" role="tab" type="button">Chart
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="notice" aria-selected="false" class="nav-link"
                                        data-bs-target="#notice"
                                        data-bs-toggle="tab" id="notice-tab" role="tab" type="button">공지사항
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="schedule" aria-selected="false" class="nav-link"
                                        data-bs-target="#schedule" data-bs-toggle="tab" id="schedule-tab" role="tab"
                                        type="button">전자결재
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="user" aria-selected="false" class="nav-link"
                                        data-bs-target="#user"
                                        data-bs-toggle="tab" id="user-tab" role="tab" type="button">계정
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="system" aria-selected="false" class="nav-link"
                                        data-bs-target="#system"
                                        data-bs-toggle="tab" id="system-tab" role="tab" type="button">시스템
                                </button>
                            </li>
                        </ul>

                        <!-------------------탭  목록 ------------------------------------->
                        <div class="tab-content pt-2" id="borderedTabContent">
                            <!-- ALL 탭 내용 -->
                            <div aria-labelledby="all-tab" class="tab-pane fade show active" id="all" role="tabpanel">
                                <!-- 시스템 알림 -->
                                <div class="alert alert-dismissible fade show" role="alert"
                                     th:data-category="${systemNotification.systemCategory}"
                                     th:classappend="${systemNotification.isRead ? 'read' : 'unread'}"
                                     th:each="systemNotification : ${systemNotifications}">
                                    <h4 class="alert-heading" th:text="${systemNotification.systemCategory}"></h4>
                                    <p th:text="${systemNotification.systemTitle}"></p>
                                    <hr>
                                    <p th:text="${systemNotification.systemContent}"></p>
                                    <span class="notification-time"
                                          th:data-timestamp="${systemNotification.systemUploadDate}"></span>
                                    <form method="post" style="display:inline;"
                                          th:action="@{'/user/systemNotification/delete/' + ${systemNotification.systemNo}}">
                                        <button aria-label="Close" class="btn-close" type="submit"></button>
                                    </form>
                                </div>

                                <!-- 일반 알림 -->
                                <div class="alert alert-secondary alert-dismissible fade show" role="alert"
                                     th:each="notification : ${allNotifications}"
                                     th:classappend="${notification.isRead ? 'read' : 'unread'}"
                                     th:if="${notification.enabled}">
                                    <!-- 알림 클릭 시 해당 페이지로 이동 -->
                                    <a th:if="${notification.notificationType == '차트'}"
                                       th:href="@{/chart/OKR}"
                                       style="text-decoration:none; color:inherit;">
                                        <div>
                                            <strong th:text="${notification.notificationType}"></strong>
                                            <span th:text="${notification.isRead ? '읽음' : '안읽음'}"></span>

                                            <span class="notification-time"
                                                  th:data-timestamp="${notification.notificationDate}"></span>
                                            <hr>
                                            <p th:text="${notification.notificationMessage}"></p>
                                        </div>
                                    </a>

                                    <a th:if="${notification.notificationType != '차트'}"
                                       th:href="@{/user/alarm/read/{notificationNo}(notificationNo=${notification.notificationNo})}"
                                       style="text-decoration:none; color:inherit;">
                                        <div>
                                            <strong th:text="${notification.notificationType}"></strong>
                                            <span th:text="${notification.isRead ? '읽음' : '안읽음'}"></span>
                                            <span class="notification-time"
                                                  th:data-timestamp="${notification.notificationDate}"></span>
                                            <hr>
                                            <p th:text="${notification.notificationMessage}"></p>
                                        </div>
                                    </a>

                                    <form method="post" style="display:inline;"
                                          th:action="@{'/user/alarm/delete/' + ${notification.notificationNo}}">
                                        <button aria-label="Close" class="btn-close" type="submit"></button>
                                    </form>
                                </div>

                            </div>
                            <!-------프로젝트 알림  목록 ----------------------->
                            <div aria-labelledby="project-tab" class="tab-pane fade" id="project" role="tabpanel">
                                <div class="alert alert-secondary alert-dismissible fade show" role="alert"
                                     th:each="notification : ${projectNotifications}"
                                     th:classappend="${notification.isRead ? 'read' : 'unread'}"
                                     th:if="${notification.enabled}">
                                    <!-- 알림 클릭 시 해당 페이지로 이동 -->
                                    <a th:href="@{/user/alarm/read/{notificationNo}(notificationNo=${notification.notificationNo})}"
                                       style="text-decoration:none; color:inherit;">
                                        <div>
                                            <strong th:text="'프로젝트 ' + ${notification.referenceId}"></strong>
                                            <span th:text="${notification.isRead ? '읽음' : '안읽음'}"></span>
                                            <span class="notification-time"
                                                  th:data-timestamp="${notification.notificationDate}"></span>
                                            <hr>
                                            <p th:text="${notification.notificationMessage}"></p>
                                        </div>
                                    </a>
                                    <form method="post" style="display:inline;"
                                          th:action="@{'/user/alarm/delete/' + ${notification.notificationNo}}">
                                        <button aria-label="Close" class="btn-close" type="submit"></button>
                                    </form>
                                </div>
                            </div>
                            <!------------- 업무 알림 목록 ----------------------->
                            <div aria-labelledby="payment-tab" class="tab-pane fade" id="payment" role="tabpanel">
                                <div class="alert alert-secondary alert-dismissible fade show" role="alert"
                                     th:each="notification : ${reportNotifications}"
                                     th:classappend="${notification.isRead ? 'read' : 'unread'}"
                                     th:if="${notification.enabled}">
                                    <!-- 클릭 시 전체 알림 내용으로 이동 -->
                                    <a th:href="@{'/report/detail/' + ${notification.referenceId}}"
                                       style="text-decoration:none; color:inherit;">
                                        <div>
                                            <strong th:text="'업무 '"></strong>
                                            <span th:text="${notification.isRead ? '읽음' : '안읽음'}"></span>
                                            <span class="notification-time"
                                                  th:data-timestamp="${notification.notificationDate}"></span>
                                            <hr>
                                            <p th:text="' 알림: ' + ${notification.notificationMessage}"></p>
                                        </div>
                                    </a>
                                    <form method="post" style="display:inline;"
                                          th:action="@{'/user/alarm/delete/' + ${notification.notificationNo}}">
                                        <button aria-label="Close" class="btn-close" type="submit"></button>
                                    </form>
                                </div>
                            </div>
                            <!------------ 차트 알림  목록 ----------------------->
                            <div aria-labelledby="chart-tab" class="tab-pane fade" id="chart" role="tabpanel">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                     th:each="notification : ${chartNotifications}"
                                     th:classappend="${notification.isRead ? 'read' : 'unread'}"
                                     th:if="${notification.enabled}">
                                    <!-- 클릭 시 전체 알림 내용으로 이동 -->
                                    <a th:href="@{'/chart/OKR' }" style="text-decoration:none; color:inherit;">
                                        <div>
                                            <strong th:text="${notification.notificationType}"></strong>
                                            <span th:text="${notification.isRead ? '읽음' : '안읽음'}"></span>
                                            <span class="notification-time"
                                                  th:data-timestamp="${notification.notificationDate}"></span>
                                            <hr>
                                            <p th:text="' 알림: ' + ${notification.notificationMessage}"></p>
                                        </div>
                                    </a>
                                    <form method="post" style="display:inline;"
                                          th:action="@{'/user/alarm/delete/' + ${notification.notificationNo}}">
                                        <button aria-label="Close" class="btn-close" type="submit"></button>
                                    </form>
                                </div>
                            </div>
                            <!------------ 공지사항 알림  목록 ----------------------->
                            <div aria-labelledby="notice-tab" class="tab-pane fade" id="notice" role="tabpanel">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                     th:each="notification : ${noticeNotifications}"
                                     th:classappend="${notification.isRead ? 'read' : 'unread'}"
                                     th:if="${notification.enabled}">
                                    <!-- 클릭 시 전체 알림 내용으로 이동 -->
                                    <a th:href="@{'/notice/detail/' + ${notification.referenceId}}"
                                       style="text-decoration:none; color:inherit;">
                                        <div>
                                            <strong th:text="'공지사항 ' + ${notification.referenceId}"></strong>
                                            <span th:text="${notification.isRead ? '읽음' : '안읽음'}"></span>
                                            <span class="notification-time"
                                                  th:data-timestamp="${notification.notificationDate}"></span>
                                            <hr>
                                            <p th:text="' 알림: ' + ${notification.notificationMessage}"></p>
                                        </div>
                                    </a>
                                    <form method="post" style="display:inline;"
                                          th:action="@{'/user/alarm/delete/' + ${notification.notificationNo}}">
                                        <button aria-label="Close" class="btn-close" type="submit"></button>
                                    </form>
                                </div>
                            </div>
                            <!-------------- 전자결제 알림 목록 -------------------------------->
                            <!--<div aria-labelledby="schedule-tab" class="tab-pane fade" id="schedule" role="tabpanel">
                                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                                    A simple secondary alert—check it out!
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                            type="button"></button>
                                </div>
                            </div>--><!-- 원래 있던거 주석 처리하고 새로 만든거 추가(영민)-->
                            <div aria-labelledby="schedule-tab" class="tab-pane fade" id="schedule" role="tabpanel">
                                <div class="alert alert-secondary alert-dismissible fade show" role="alert"
                                     th:each="notification : ${approvalNotifications}"
                                     th:classappend="${notification.isRead ? 'read' : 'unread'}"
                                     th:if="${notification.enabled}">
                                    <!-- 클릭 시 전체 알림 내용으로 이동 -->
                                    <a th:href="@{/user/alarm/read/{notificationNo}(notificationNo=${notification.notificationNo})}"
                                       style="text-decoration:none; color:inherit;">
                                        <div>
                                            <strong th:text="${notification.notificationType}"></strong>
                                            <span th:text="${notification.isRead ? '읽음' : '안읽음'}"></span>
                                            <span class="notification-time"
                                                  th:data-timestamp="${notification.notificationDate}"></span>
                                            <hr>
                                            <p th:text="' 알림: ' + ${notification.notificationMessage}"></p>
                                        </div>
                                        <!-- 상세보기 링크 제거됨 -->
                                    </a>
                                    <form method="post" style="display:inline;"
                                          th:action="@{'/user/alarm/delete/' + ${notification.notificationNo}}">
                                        <button aria-label="Close" class="btn-close" type="submit"></button>
                                    </form>
                                </div>
                            </div>
                            <!--------------- 계정 알림 목록 --------------------->
                            <div aria-labelledby="user-tab" class="tab-pane fade" id="user" role="tabpanel">
                                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                                    A simple secondary alert—check it out!
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                                            type="button"></button>
                                </div>
                            </div>
                            <!--------------- 시스템알림  목록 ------------------------>
                            <div aria-labelledby="system-tab" class="tab-pane fade" id="system" role="tabpanel">
                                <div class="alert alert-dismissible fade show" role="alert"
                                     th:data-category="${systemNotification.systemCategory}"
                                     th:classappend="${systemNotification.isRead ? 'read' : 'unread'}"
                                     th:each="systemNotification : ${systemNotifications}">
                                    <h4 class="alert-heading" th:text="${systemNotification.systemCategory}"></h4>
                                    <p th:text="${systemNotification.systemTitle}"></p>
                                    <hr>
                                    <p th:text="${systemNotification.systemContent}"></p>
                                    <p class="notification-time"
                                       th:data-timestamp="${systemNotification.systemUploadDate}"></p>
                                    <form method="post" style="display:inline;"
                                          th:action="@{'/user/systemNotification/delete/' + ${systemNotification.systemNo}}">
                                        <button aria-label="Close" class="btn-close" type="submit"></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <form action="/user/alarm/deleteAll" id="deleteAllForm" method="post">
        </form>
        <form id="deleteReadForm" method="post" action="/user/alarm/deleteRead">
        </form>
    </section>
</main><!-- End #main -->


<!---------- 삭제 모달 창 -------------------------->
<div aria-hidden="true" aria-labelledby="confirmationModalLabel" class="modal fade" id="confirmationModal"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">삭제 확인</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                정말 삭제하시겠습니까? (페이지 내 모든 알림이 삭제됩니다.)
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="deleteAlerts()" type="button">예</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" type="button">아니요</button>
            </div>
        </div>
    </div>
</div>

<!-- 시스템 알림 작성 모달 -->
<div aria-hidden="true" aria-labelledby="systemNotificationModalLabel" class="modal fade" id="systemNotificationModal"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/user/systemNotification" method="post" onsubmit="return validateForm()">
                <div class="modal-header">
                    <h5 class="modal-title" id="systemNotificationModalLabel">시스템 알림 작성</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="systemCategory">카테고리</label>
                        <select class="form-control" id="systemCategory" name="systemCategory" required>
                            <option value="관리자">관리자</option>
                            <option value="인사관리">인사관리</option>
                            <option value="근태관리">근태관리</option>
                            <option value="고객센터">고객센터</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="systemTitle">제목</label>
                        <input class="form-control" id="systemTitle" name="systemTitle" required type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="systemContent">내용</label>
                        <textarea class="form-control" id="systemContent" name="systemContent" required
                                  rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">닫기</button>
                    <button class="btn btn-primary" type="submit">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ======= Footer ======= -->
<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Footer 끝 -->

<!--알림 전체 삭제 버튼 -->
<script>
    // 모달을 보여주는 함수
    function showConfirmationModal() { // 모달 인스턴스를 생성하고 보여줍니다.
        var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        confirmationModal.show();
    }

    // 모든 알림을 삭제하는 함수
    function deleteAllAlerts() {
        document.getElementById('deleteAllForm').submit();
    }

    // 모달에서 '예'를 클릭했을 때 호출되는 함수
    function deleteAlerts() {
        deleteAllAlerts(); // 알림 삭제 함수 호출
        var confirmationModal = bootstrap.Modal.getInstance(document.getElementById('confirmationModal'));
        confirmationModal.hide(); // 모달 닫기
    }

    // 관리자 ~시스템 알림 작성 모달을 보여주는 함수
    function showMakeNotificationModal() {
        var modal = new bootstrap.Modal(document.getElementById('systemNotificationModal'));
        modal.show();
    }

    document.addEventListener("DOMContentLoaded", function () {
        var notifications = document.querySelectorAll('[data-category]');

        notifications.forEach(function (notification) {
            var category = notification.getAttribute('data-category');

            // 카테고리에 따라 클래스를 설정
            switch (category) {
                case '고객센터':
                    notification.classList.add('alert-success');
                    break;
                case '근태관리':
                    notification.classList.add('alert-warning');
                    break;
                case '관리자':
                    notification.classList.add('alert-danger');
                    break;
                case '인사관리':
                    notification.classList.add('alert-secondary');
                    break;
                // 기본값은 없고, 카테고리가 없으면 오류 처리 또는 무시
            }
        });
    });
</script>

<script>
    function validateForm() {
        var category = document.getElementById('systemCategory').value;
        if (category === "") {
            alert("카테고리를 선택하세요.");
            return false; // 폼 제출 중단
        }
        return true; // 폼 제출 진행
    }
</script>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js" type="text/javascript"></script>
<script src="/node_modules/froala-editor/js/languages/ko.js" type="text/javascript"></script>

<!-- 메신저 관련 라이브러리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/wemaked.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>
</html>