<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>고객센터</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link rel="icon" th:href="@{/assets/img/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}"/>

    <!-- 폰트 설정  -->
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.snow.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.bubble.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/remixicon/remixicon.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}"/>
    <link rel="stylesheet" th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" type="text/css"/>

    <!-- Template Main CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/wemaked.css}"/>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header class="header fixed-top d-flex align-items-center" id="header">
    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="/">
            <img alt="" src="/assets/img/logo.png"/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" data-bs-toggle="dropdown" href="#">
                    <i class="bi bi-bell"></i>
                    <span class="badge btn-secondary badge-number">4</span> </a>
                <!-- 알림창 아이콘 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        4개의 새 알림이 있습니다
                        <a href="/user/alarm"><span class="badge btn-info p-2 ms-2">전체 보기</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li class="dropdown-footer">
                        <a href="/user/alarm">모든 알림 표시</a>
                    </li>
                </ul>
                <!-- 알림 드롭다운 목록 끝 -->
            </li>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown" href="#">
                    <img alt="Profile" class="rounded-circle" src="/assets/img/profile-img.jpg"/>
                    <span class="d-none d-md-block dropdown-toggle ps-2">박영민</span> </a>
                <!-- 프로필 이미지 항목 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>박영민</h6>
                        <span>사원</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/mypage">
                            <i class="bi bi-person"></i>
                            <span>마이 페이지</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/organizationChart">
                            <i class="bi bi-diagram-2"></i>
                            <span>조직도</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                            <i class="bi bi-power"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/admin/main">
                            <i class="bi bi-tools"></i>
                            <span>회사 관리자</span>
                        </a>
                    </li>
                </ul>
                <!-- 프로필 드롭다운 목록 끝 -->
            </li>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>
<!-- Header 끝 -->

<!-- Header Modal -->
<!-- 출퇴근 Modal -->
<div class="modal fade" id="attendanceModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">출근</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>


            <div class="modal-body">
                <div id="currentTime">현재 시간:</div>
                출근하시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" id="attendanceConfirmButton" type="button">네
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="attendanceCancelButton" type="button">
                    아니오
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="leaveworkModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">퇴근</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div id="currentTimes">현재 시간:</div>
                퇴근하시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" id="leaveworkConfirmButton" type="button">네
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="leaveworkCancelButton" type="button">아니오
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 출퇴근 Modal 끝 -->
<!-- Header Modal -->

<!-- ======= Sidebar ======= -->
<aside class="sidebar" id="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item ">
            <a class="nav-link dash collapsed" href="/">
                <i class="bi bi-grid"></i>
                <span>대시보드</span>
            </a>
        </li>
        <!-- 대시보드 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#menu-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>기본 사항</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="menu-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>통일 사항</span> </a>
                    <ul>
                        <li>
                            <a href="/example"> <i class="bi bi-circle"></i><span>홈페이지 예시</span> </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <!-- 기본사항 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#work-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-clipboard-data"></i>
                <span>업무</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="work-nav">
                <li>
                    <a href="/todo/list"> <i class="bi bi-circle"></i><span>TODO</span> </a>
                </li>
                <li>
                    <a href="/project/list"> <i class="bi bi-circle"></i><span>프로젝트</span> </a>
                </li>
                <li>
                    <a href="/report/list"> <i class="bi bi-circle"></i><span>업무</span> </a>
                </li>
                <li>
                    <a href="/chart/main"> <i class="bi bi-circle"></i><span>차트</span> </a>
                </li>
            </ul>
        </li>
        <!-- 업무 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#sign-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-archive"></i>
                <span>전자결재</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="sign-nav">
                <li>
                    <a href="/approval/main"> <i class="bi bi-circle"></i><span>전체 문서함</span> </a>
                </li>
                <li>
                    <a href="/approval/draft"> <i class="bi bi-circle"></i><span>임시 문서함</span> </a>
                </li>
            </ul>
        </li>
        <!-- 전자결재 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#board-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-people-fill"></i>
                <span>게시판</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="board-nav">
                <li>
                    <a href="/notice/list"> <i class="bi bi-circle"></i><span>공지사항</span> </a>
                </li>
                <li>
                    <a href="/board/list"> <i class="bi bi-circle"></i><span>경조사</span> </a>
                </li>
                <li>
                    <a href="/board/cafeteria"> <i class="bi bi-circle"></i><span>구내식당</span> </a>
                </li>
                <li>
                    <a href="/conference/main"> <i class="bi bi-circle"></i><span>회의실 예약</span> </a>
                </li>
            </ul>
        </li>
        <!-- 게시판 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#calendar-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-calendar-week"></i>
                <span>일정</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="calendar-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>목록</span> </a>
                </li>
            </ul>
        </li>
        <!-- 일정 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#email-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-envelope"></i>
                <span>이메일</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="email-nav">
                <li>
                    <a href="/mail/receive"> <i class="bi bi-circle"></i><span>전체메일함</span> </a>
                </li>
                <li>
                    <a href="/mail/highlight"> <i class="bi bi-circle"></i><span>즐겨찾기</span> </a>
                </li>
                <li>
                    <a href="/mail/important"> <i class="bi bi-circle"></i><span>중요메일함</span> </a>
                </li>
                <li>
                    <a href="/mail/tome"> <i class="bi bi-circle"></i><span>내게쓴메일함</span> </a>
                </li>
                <li>
                    <a href="/mail/temporaryStorage"> <i class="bi bi-circle"></i><span>임시보관함</span> </a>
                </li>
                <li>
                    <a href="/mail/send"> <i class="bi bi-circle"></i><span>발신함</span> </a>
                </li>
                <li>
                    <a href="/mail/trash"> <i class="bi bi-circle"></i><span>휴지통</span> </a>
                </li>
            </ul>
        </li>
        <!-- 이메일 사이드바 끝 -->

        <li class="nav-item qna">
            <a class="nav-link qna" href="/user/Q&A">
                <i class="bi bi-question-circle"></i>
                <span>고객센터</span>
            </a>
        </li>
        <!-- 고객센터 사이드바 끝 -->

    </ul>
</aside>
<!-- Sidebar 전체 끝 -->
<!----------------------------------------------------------------------고정 사이드바 ------------------------------------------------------------------------>
<main class="main" id="main">
    <div class="pagetitle">
        <h1>고객센터 </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Q&A</li>
            </ol>
        </nav>
    </div>
    <!------------------------------------------------------------------페이지 별 타이틀 ------------------------------------------------------------------------>

    <section class="section faq">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <button class="btn btn-primary" onclick="location.href='/user/qna/register'">질문 하기</button>
                </div>

                <!------------------------------------------------------------------card 시작 ----------------------------------------------------------------------->
                <div class="card">
                    <div class="card-body">
                        <h6></h6>
                        <!------------------------------------------------------------------자주 묻는 질문 탭 -------------------------------------------------------------------->
                        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button aria-controls="home" aria-selected="true" class="nav-link active"
                                        data-bs-target="#bordered-home" data-bs-toggle="tab" id="home-tab" role="tab"
                                        type="button">자주 묻는 질문 ☆
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="profile" aria-selected="false" class="nav-link"
                                        data-bs-target="#bordered-profile" data-bs-toggle="tab" id="profile-tab"
                                        role="tab" type="button">My 질문목록
                                </button>
                            </li>
                        </ul>

                        <!------------------------------------------------------------------목록 테이블 탭 -------------------------------------------------------------------->
                        <div class="tab-content pt-2" id="borderedTabContent">
                            <div aria-labelledby="home-tab" class="tab-pane fade show active" id="bordered-home" role="tabpanel">
                                <div class="accordion accordion-flush" id="faq-group-1">
                                    <div class="accordion-item" th:each="faq : ${faqList}">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                    data-bs-toggle="collapse"
                                                    th:attr="data-bs-target='#faq-' + ${faq.faqNo}"
                                                    type="button">
                                                [[${faq.getFaqName()}]]
                                            </button>
                                        </h2>

                                        <div class="accordion-collapse collapse"
                                             data-bs-parent="#faq-group-1"
                                             th:id="'faq-' + ${faq.faqNo}">
                                            <div class="accordion-body">
                                                <p th:text="${faq.getFaqContent()}"></p>
                                                <!-- 수정 버튼 -->
                                                <button class="btn btn-warning"
                                                        data-bs-toggle="modal"
                                                        th:attr="data-faq-no=${faq.faqNo}, data-faq-name=${faq.getFaqName()}, data-faq-content=${faq.getFaqContent()}"
                                                        data-bs-target="#editModal"
                                                        type="button">
                                                    수정
                                                </button>

                                                <!-- 삭제 버튼 -->
                                                <button class="btn btn-danger"
                                                        data-bs-toggle="modal"
                                                        th:attr="data-faq-no=${faq.faqNo}"
                                                        th:data-bs-target="'#deleteModal'"
                                                        type="button">삭제
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end mt-3">
                                        <button class="btn btn-primary me-2" data-bs-target="#registerModal"
                                                data-bs-toggle="modal" type="button">등록
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div aria-labelledby="profile-tab" class="tab-pane fade" id="bordered-profile"
                                 role="tabpanel">
                                <table class="table datatable table-hover ">
                                    <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>카테고리</th>
                                        <th>제목</th>
                                        <th>작성자</th>
                                        <th>작성일</th>
                                        <th>답변 여부</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Q&A 목록을 반복하여 표시 -->
                                    <tr th:each="qna : ${qnaList}"  th:onclick="|location.href='@{/user/qna/detail/{qnaNo}(qnaNo=${qna.qnaNo})}'|">
                                        <td th:text="${qna.qnaNo}"></td>
                                        <td th:text="${qna.qnaCategory}"></td>
                                        <td th:text="${qna.qnaName}"></td>
                                        <td th:text="${qna.qnaAuthor}"></td>
                                        <td th:text="${qna.qnaUploadDate}"></td>
                                        <td th:text="${qna.qnaStatus}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--------------------------------------------------row class 끝 ------------------------------------------------------------->
    </section>
</main>
<!-- End #main -->


<!-- 등록 모달 -->
<div aria-hidden="true" aria-labelledby="registerModalLabel" class="modal fade" id="registerModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">FAQ 등록</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form id="faqForm" method="post" th:action="@{/user/add}">
                    <div class="mb-3">
                        <label class="form-label" for="faqTitle">제목</label>
                        <input class="form-control" id="faqTitle" name="faqName" required type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="faqContent">내용</label>
                        <textarea class="form-control" id="faqContent" name="faqContent" required rows="4"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">취소</button>
                <button class="btn btn-primary" form="faqForm" type="submit">저장</button>
            </div>
        </div>
    </div>
</div>

<!-- 수정 모달 -->
<div aria-hidden="true" aria-labelledby="editModalLabel" class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">FAQ 수정</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form id="editFaqForm" method="post" th:action="@{/user/faq/edit}">
                    <input id="editFaqNo" name="faqNo" type="hidden">
                    <div class="mb-3">
                        <label class="form-label" for="editFaqTitle">제목</label>
                        <input class="form-control" id="editFaqTitle" name="faqName" required type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="editFaqContent">내용</label>
                        <textarea class="form-control" id="editFaqContent" name="faqContent" required
                                  rows="4"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="submitEditForm()" type="button">예</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">아니요</button>
            </div>
        </div>
    </div>
</div>

<!-- 삭제 모달 -->
<div aria-hidden="true" aria-labelledby="deleteModalLabel" class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">삭제 확인</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                정말 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <!-- 폼 추가 -->
                <form id="deleteFaqForm" method="post" th:action="@{/user/faq/delete}">
                    <input id="deleteFaqNo" name="faqNo" type="hidden">
                    <button class="btn btn-danger" type="submit">예</button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">아니요</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- ======= Footer ======= -->
<footer class="footer" id="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>CHAIN</span></strong
    >. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer>
<!-- Footer 끝 -->


<!--자주묻는 질문 데이터 이동 -->
<script>
    // 페이지 로드 완료 시 이벤트 리스너 등록
    document.addEventListener('DOMContentLoaded', function () {
        const editModal = document.getElementById('editModal');
        const deleteModal = document.getElementById('deleteModal');

        // 편집 모달이 열릴 때, 버튼에서 FAQ 데이터를 가져와 입력 필드에 채움
        editModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const faqNo = button.getAttribute('data-faq-no');
            const faqName = button.getAttribute('data-faq-name');
            const faqContent = button.getAttribute('data-faq-content');

            document.getElementById('editFaqNo').value = faqNo;
            document.getElementById('editFaqTitle').value = faqName;
            document.getElementById('editFaqContent').value = faqContent;
        });

        // 삭제 모달이 열릴 때, 버튼에서 FAQ 번호를 가져와 입력 필드에 채움
        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const faqNo = button.getAttribute('data-faq-no');

            document.getElementById('deleteFaqNo').value = faqNo;
        });
    });

    // 편집 폼 제출 함수
    function submitEditForm() {
        document.getElementById('editFaqForm').submit();
    }

    // 삭제 폼 제출 함수
    function submitDeleteForm() {
        document.getElementById('deleteFaqForm').submit();
    }


</script>

<!-- 즐찾 데이터 등록 -->
<script>
    // FAQ 데이터를 편집할 때 모달을 여는 함수
    function openEditModal(faqNo, faqName, faqContent) {
        // 선택된 FAQ 번호 저장 및 편집 모달에 값 설정
        document.getElementById('editFaqNo').value = faqNo;
        document.getElementById('editFaqTitle').value = faqName;
        document.getElementById('editFaqContent').value = faqContent;

        // 편집 모달 표시
        var editModal = new bootstrap.Modal(document.getElementById('editModal'));
        editModal.show();
    }

    // 페이지 로드 완료 시 이벤트 리스너 등록
    document.addEventListener('DOMContentLoaded', function () {
        const editModal = document.getElementById('editModal');
        const deleteModal = document.getElementById('deleteModal');

        // 편집 모달이 열릴 때, 버튼에서 FAQ 데이터를 가져와 입력 필드에 채움
        editModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const faqNo = button.getAttribute('data-faq-no');
            const faqName = button.getAttribute('data-faq-name');
            const faqContent = button.getAttribute('data-faq-content');

            document.getElementById('editFaqNo').value = faqNo;
            document.getElementById('editFaqTitle').value = faqName;
            document.getElementById('editFaqContent').value = faqContent;
        });

        // 삭제 모달이 열릴 때, 버튼에서 FAQ 번호를 가져와 입력 필드에 채움
        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const faqNo = button.getAttribute('data-faq-no');

            document.getElementById('deleteFaqNo').value = faqNo;
        });
    });

    // 편집 폼 제출 함수
    function submitEditForm() {
        document.getElementById('editFaqForm').submit();
    }

    // 삭제 폼 제출 함수
    function submitDeleteForm() {
        document.getElementById('deleteFaqForm').submit();
    }

</script>


<!-- 채팅창 및 맨위로 가기 -->
<!-- 맨위로 가기-->
<a class="back-to-top d-flex align-items-center justify-content-center" href="#">
    <i class="bi bi-arrow-up-short"></i>
</a>
<!-- 맨위로 가기 끝-->
<!-- 채팅창 -->
<a class="back-to-top-chat d-flex align-items-center justify-content-center btn btn-success" onclick="chatOpenPopup()">
    <i class="bi bi-chat-dots"></i>
    <span class="badge btn-danger badge-number">&nbsp;</span>
</a>
<!-- 채팅창 끝-->

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js" type="text/javascript"></script>
<script src="/node_modules/froala-editor/js/languages/ko.js" type="text/javascript"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/wemaked.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>