<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>새 문의글 작성 </title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon"/>
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon"/>

    <!-- 폰트 설정  -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet"/>
    <link th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/wemaked.css}" rel="stylesheet"/>
    <script src="/assets/js/theme.js"></script>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header class="header fixed-top d-flex align-items-center" id="header">
    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="/">
            <img alt="" src="/assets/img/logo.png"/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <th:block th:include="fragments/notifications :: notifications"></th:block>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <th:block th:include="fragments/profile :: profile"></th:block>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>

<!-- Header 끝 -->

<th:block th:include="fragments/commute :: commute"></th:block>
<!-- 출퇴근 Modal 끝 -->

<!-- ======= Sidebar ======= -->
<th:block th:include="fragments/sidebar :: sidebar"></th:block>
<!-- Sidebar 전체 끝 -->
<!----------------------------------------------------------------------고정 사이드바 ------------------------------------------------------------------------>
<main class="main" id="main">
    <div class="pagetitle">
        <h1>질문 작성</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/project/main">HOME</a></li>
                <li class="breadcrumb-item"><a href="/user/Q&A">Q&A</a></li>
                <li class="breadcrumb-item active">Register</li>
            </ol>
        </nav>
    </div>
<!------------------------------------------------------------------페이지 별 타이틀 ------------------------------------------------------------------------>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Q&A</h5>

                        <form th:action="@{/user/qna/register}" id="qnaForm" method="post" enctype="multipart/form-data">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">카테고리 선택</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="qnaCategory" id="qnaCategorySelect">
                                        <option value="시스템 오류">시스템 오류</option>
                                        <option value="일반 문의">일반 문의</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">제목</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="qnaName" placeholder="문의글 제목" required type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">작성자</label>
                                <div class="col-sm-10">
                                    <input class="form-control qna-author-id" name="qnaAuthor" required th:value="${session.empNo}" type="hidden">
                                    <input class="form-control qna-author-name" readonly type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">내용</label>
                                <div class="col-sm-10">
                                    <textarea id="froala" name="qnaContent"></textarea>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">첨부 파일</label>
                                <div class="col-sm-10">
                                    <input class="form-control" name="qnaFiles" type="file">
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-sm-5 mt-3">
                                <button class="btn btn-primary" onclick="showModal(event)" type="button">저장</button>
                                <button class="btn btn-primary" onclick="showWarningModal(event)" type="button">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->





<!-- 저장 확인 모달 창 -->
<div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveModalLabel">저장 확인</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                문의글은 수정이 불가합니다. 저장하시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="saveAlerts()" type="button">예</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" type="button">아니요</button>
            </div>
        </div>
    </div>
</div>

<!-- 목록 경고 모달 창 -->
<div class="modal fade" id="WarningModal" tabindex="-1" aria-labelledby="WarningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="WarningModalLabel">경고</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                현재 입력한 내용이 저장되지 않을 수 있습니다. 목록으로 돌아가시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="WarningAlerts()" type="button">예</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" type="button">아니요</button>
            </div>
        </div>
    </div>
</div>


<!---------------------------------------------- ======= 고정 Footer ======= ----------------------------------------------------->
<!-- ======= Footer ======= -->
<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Footer 끝 -->

<!-- 저장 확인 모달 JS  -->
<script>
    // 저장 모달을 보여주는 함수
    function showModal(event) {
        event.preventDefault();  // 기본 폼 제출 막기
        var saveModal = new bootstrap.Modal(document.getElementById('saveModal'));
        saveModal.show();
    }

    // 모달에서 '예'를 클릭했을 때 호출되는 함수
    function saveAlerts() {
        document.getElementById('qnaForm').submit();  // 폼을 제출
    }

    // 취소 모달을 보여주는 함수
    function showWarningModal(event) {
        event.preventDefault();  // 기본 폼 제출 막기
        var WarningModal = new bootstrap.Modal(document.getElementById('WarningModal'));
        WarningModal.show();
    }

    // 모달에서 '예'를 클릭했을 때 호출되는 함수
    function WarningAlerts() {
        window.location.href = '/user/Q&A';  // 취소 시 목록 페이지로 이동
    }
</script>


<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/languages/ko.js"></script>

<!-- 메신저 관련 라이브러리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/wemaked.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- 작성자 고정 값 출력 -->
<script>
    $(document).ready(function () {
        function processQnaAuthors() {
            const empNo = $('.qna-author-id').val(); // 로그인한 사원번호 가져오기
            const qnaNameField = $('.qna-author-name'); // 사원이름을 표시할 필드

            // 서버에서 모든 직원 데이터를 가져옴
            $.getJSON('/api/employees/all', function (employees) {
                let employeeName = '정보 없음';

                // 사원 번호와 일치하는 사원이름 찾기
                employees.forEach(employee => {
                    console.log(`Comparing ${employee.empNo} with ${empNo}`);
                    if (String(employee.empNo) === String(empNo)) {
                        employeeName = `${employee.lastName} ${employee.firstName}`;
                    }
                });

                // 사원이름을 필드에 설정
                qnaNameField.val(employeeName);
            }).fail(function () {
                console.error("Failed to fetch employee data.");
            });
        }

        // 페이지 로드 시 작성자 정보를 처리
        processQnaAuthors();
    });
</script>

</body>
</html>