<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="${session.getAttribute('empNo')}" name="empNo">

    <title>환경설정</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link rel="icon" th:href="@{/assets/img/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}"/>

    <!-- 폰트 설정  -->
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.snow.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.bubble.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/remixicon/remixicon.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}"/>
    <link rel="stylesheet" th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" type="text/css"/>

    <!-- Template Main CSS File -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/wemaked.css}"/>
    <script src="/assets/js/theme.js"></script>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header class="header fixed-top d-flex align-items-center" id="header">
    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="/">
            <img alt="" src="/assets/img/logo.png"/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <th:block th:include="fragments/notifications :: notifications"></th:block>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <th:block th:include="fragments/profile :: profile"></th:block>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>

<!-- Header 끝 -->

<th:block th:include="fragments/commute :: commute"></th:block>
<!-- 출퇴근 Modal 끝 -->

<!-- ======= Sidebar ======= -->
<th:block th:include="fragments/sidebar :: sidebar"></th:block>
<!-- Sidebar 전체 끝 -->
<!----------------------------------------------------------------------고정 사이드바 ------------------------------------------------------------------------>
<main class="main" id="main">
    <div class="pagetitle">
        <h1>환경설정</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Setting</li>
            </ol>
        </nav>
    </div>
    <!------------------------------------------------------------------페이지 별 타이틀 ------------------------------------------------------------------------>

    <section class="section ">
        <div class="row">
            <!------------------------------------------------------------------왼쪽 프로필 위젯 -------------------------------------------------------------------->
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <h5>My 프로필</h5>

                        <div class="row mb-3">
                            <div class="col-md-8 col-lg-9">
                                <!--                                <img alt="Profile"  class="rounded-circle"  src="/assets/img/profile-img1.jpg">-->
                                <i class="bi bi-person-circle" style="font-size: 100px"></i>
                                <div class="pt-2">
                                    <a class="btn btn-primary btn-sm" href="#" title="Upload new profile image"><i
                                            class="bi bi-upload"></i></a>
                                    <a class="btn btn-danger btn-sm" href="#" title="Remove my profile image"><i
                                            class="bi bi-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!------------------------------------------------------------- 프로필 사진 수정--------------------------------------------------------->

                    <div class="card-body profile-card pt-4 d-flex flex-column" style="padding: 0 100px 20px 100px">
                        <form th:action="@{/user/update}" method="post">
                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label" for="lastName">Last Name</label>
                                <div class="col-md-8 col-lg-9">
                                    <input class="form-control" id="lastName" name="lastName"
                                           th:value="${employee.lastName}" type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label" for="firstName">First Name</label>
                                <div class="col-md-8 col-lg-9">
                                    <input class="form-control" id="firstName" name="firstName"
                                           th:value="${employee.firstName}" type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label" for="company">부서</label>
                                <div class="col-md-8 col-lg-9">
                                    <input class="form-control" id="company" name="company" disabled
                                           th:value="${employee.departmentName}" type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label" for="Job">직급</label>
                                <div class="col-md-8 col-lg-9">
                                    <input class="form-control" id="Job" name="job" disabled
                                           th:value="${employee.rankName}" type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label" for="Address">주소</label>
                                <div class="col-md-8 col-lg-9">
                                    <input class="form-control" id="Address" name="address" th:value="${employee.addr}"
                                           type="text">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label" for="Phone">Phone</label>
                                <div class="col-md-8 col-lg-9">
                                    <input class="form-control" id="Phone" name="phone" th:value="${employee.phoneNum}"
                                           type="number">
                                    <style>
                                        input::-webkit-outer-spin-button,
                                        input::-webkit-inner-spin-button {
                                            -webkit-appearance: none;
                                            margin: 0;
                                        }
                                    </style>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-4 col-lg-3 col-form-label" for="Email">Email</label>
                                <div class="col-md-8 col-lg-9">
                                    <input class="form-control" id="Email" name="email" th:value="${employee.email}"
                                           type="email">
                                </div>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">수정</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!------------------------------------------------------------------오른쪽 위젯 -------------------------------------------------------------------->
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">테마 설정</h5>
                        <form style="padding: 0 20px;"> <!--style="display: flex; justify-content: center;"-->
                            <div>
                                <div class="form-check">
                                    <input checked class="form-check-input" id="light-theme" type="radio" name="theme" value="light">
                                    <label class="form-check-label" for="light-theme">
                                        화이트 테마
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="dark-theme" type="radio" name="theme" value="dark">
                                    <label class="form-check-label" for="dark-theme">
                                        다크 테마(오류 많음)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" disabled id="3" type="radio" name="theme" value="upcoming">
                                    <label class="form-check-label" for="3">
                                        준비중
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End settings Form -->

                <!-- 알림 설정 폼 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">알림 설정</h5>
                        <form id="notificationSettingsForm" style="padding: 0 20px;">
                            <div class="form-check">
                                <input checked class="form-check-input" id="projectNotification"
                                       type="checkbox">
                                <label class="form-check-label" for="projectNotification">
                                    프로젝트 알림
                                </label>
                            </div>
                            <div class="form-check">
                                <input checked class="form-check-input" id="taskNotification" type="checkbox">
                                <label class="form-check-label" for="taskNotification">
                                    업무보고서 알림
                                </label>
                            </div>
                            <div class="form-check">
                                <input checked class="form-check-input" id="noticeNotification" type="checkbox">
                                <label class="form-check-label" for="noticeNotification">
                                    공지사항 알림
                                </label>
                            </div>
                            <div class="form-check">
                                <input checked class="form-check-input" id="chartNotification" type="checkbox">
                                <label class="form-check-label" for="chartNotification">
                                    차트 알림
                                </label>
                            </div>
                        </form>
                    </div>

                    <!-- ------------------------------------------------탭 내용 끝// 저장 버튼 --------------------------------------------------------- -->
                    <!--<div class="text-center mt-5">
                        <button class="btn btn-primary" onclick="showSuccessAlert()" type="submit">저장</button>
                    </div>-->

                </div>
            </div>
        </div>
        <!--------------------------------------------------row class 끝 ------------------------------------------------------------->
    </section>
</main><!-- End #main -->

<!-- 모달 창 -->
<div aria-hidden="true" aria-labelledby="confirmationModalLabel" class="modal fade" id="confirmationModal"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">알림 설정 변경</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                정말 이 알림을 끄시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">아니요</button>
                <button class="btn btn-primary" id="confirmDisable" type="button">예</button>
            </div>
        </div>
    </div>
</div>

<!---------------------------------------------- ======= 고정 Footer ======= ----------------------------------------------------->
<!-- ======= Footer ======= -->
<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Footer 끝 -->

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js" type="text/javascript"></script>
<script src="/node_modules/froala-editor/js/languages/ko.js" type="text/javascript"></script>

<!-- 메신저 관련 라이브러리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/wemaked.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- 모달 및 스크립트 -->
<script>
    // 페이지가 로드될 때 로컬스토리지에서 값을 불러와 체크박스를 설정합니다.
    document.addEventListener('DOMContentLoaded', function () {
        const notificationSettingsForm = document.getElementById('notificationSettingsForm');
        const checkboxes = notificationSettingsForm.querySelectorAll('input[type="checkbox"]');

        checkboxes.forEach(checkbox => {
            const savedValue = localStorage.getItem(checkbox.id);
            if (savedValue !== null) {
                checkbox.checked = savedValue === 'true'; // 로컬스토리지에서 불러온 값에 따라 체크박스 상태 설정
            }
        });

        // 체크박스가 변경될 때 로컬스토리지에 값을 저장하고 서버에 업데이트 요청을 보냅니다.
        notificationSettingsForm.addEventListener('change', function (event) {
            const checkbox = event.target;
            const notificationType = checkbox.id;
            const enabled = checkbox.checked;

            // 로컬스토리지에 체크박스 상태 저장
            localStorage.setItem(notificationType, enabled);

            if (!enabled) {
                showConfirmationModal(notificationType);
            } else {
                updateNotificationSetting(notificationType, enabled);
            }
        });
    });

    function showConfirmationModal(notificationType) {
        const modal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        modal.show();

        document.getElementById('confirmDisable').onclick = function () {
            updateNotificationSetting(notificationType, false);
            modal.hide();
        };
    }

    function updateNotificationSetting(notificationType, enabled) {
        const notificationMap = {
            'projectNotification': '프로젝트',
            'taskNotification': '업무보고서',
            'noticeNotification': '공지사항',
            'chartNotification': '차트'
        };

        const type = notificationMap[notificationType];

        // 로그인된 사용자 정보(사원번호)를 세션에서 가져오기
        const empNo = document.querySelector('meta[name="empNo"]').content; // empNo를 메타 태그에서 가져옵니다.

        if (!empNo) {
            console.error('사원번호를 가져올 수 없습니다.');
            return;
        }

        // AJAX 요청을 통해 서버로 데이터 전송
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/user/update-notification-setting", true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                alert(type + ' 알림 설정이 업데이트되었습니다.');
            } else if (xhr.readyState === 4) {
                alert('알림 설정 업데이트 실패');
            }
        };

        xhr.send(JSON.stringify({empNo: empNo, notificationType: type, enabled: enabled}));
    }
</script>


</body>
</html>