<!-- src/main/resources/templates/fragments/notifications.html -->
<div th:fragment="notifications">
    <li class="nav-item dropdown">
        <a class="nav-link nav-icon" data-bs-toggle="dropdown" href="#">
            <i class="bi bi-bell"></i>
            <span class="badge btn-secondary badge-number" th:text="${#lists.size(allNotifications)}">0</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
                <span th:text="${#lists.size(allNotifications)} + '개의 새 알림이 있습니다'">0개의 새 알림이 있습니다</span>
                <a href="/user/alarm"><span class="badge btn-info p-2 ms-2">전체 보기</span></a>
            </li>
            <li>
                <hr class="dropdown-divider"/>
            </li>
            <li th:each="notification : ${allNotifications}">
                <div class="notification-item">
                    <i class="bi bi-exclamation-circle text-warning"></i>
                    <div>
                        <h4 th:text="${notification.notificationType}">알림 유형</h4>
                        <p th:text="${notification.notificationMessage}">알림 내용</p>
                        <p class="notification-time" th:data-timestamp="${notification.notificationDate}">알림
                            시간</p>
                    </div>
                </div>
                <hr class="dropdown-divider"/>
            </li>
            <li class="dropdown-footer">
                <a href="/user/alarm">모든 알림 표시</a>
            </li>
        </ul>
    </li>
</div>
