<!-- src/main/resources/templates/fragments/profile.html -->
<!--고정 헤더 : profile -->
<div th:fragment="profile">
<li class="nav-item dropdown pe-3">
    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
        <img src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"/>
        <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${session.empNo}"></span> </a>
    <!-- 프로필 이미지 항목 끝 -->

    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
        <li class="dropdown-header">
            <h6>박영민</h6>
            <span>사원</span>
        </li>
        <li>
            <hr class="dropdown-divider"/>
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center" href="/user/mypage">
                <i class="bi bi-person"></i>
                <span>마이 페이지</span>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider"/>
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center" href="/organizationChart">
                <i class="bi bi-diagram-2"></i>
                <span>조직도</span>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider"/>
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                <i class="bi bi-power"></i>
                <span>로그아웃</span>
            </a>
        </li>

        <li>
            <hr class="dropdown-divider"/>
        </li>

        <li>
            <a class="dropdown-item d-flex align-items-center" href="/admin/main">
                <i class="bi bi-tools"></i>
                <span>회사 관리자</span>
            </a>
        </li>
    </ul>
    <!-- 프로필 드롭다운 목록 끝 -->
</li>
</div>

