<!-- src/main/resources/templates/fragments/sidebar.html -->
<!-- 고정 사이드바 : sidebar -->
<div th:fragment="sidebar">
    <aside class="sidebar" id="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item ">
                <a class="nav-link dash collapsed" href="/">
                    <i class="bi bi-grid"></i>
                    <span>대시보드</span>
                </a>
            </li>
            <!-- 대시보드 사이드바 끝 -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#work-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-clipboard-data"></i>
                    <span>업무</span>
                    <i class="bi bi-chevron-down ms-menu"></i>
                </a>
                <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="work-nav">
                    <li>
                        <a href="/todo/list"> <i class="bi bi-circle"></i><span>TODO</span> </a>
                    </li>
                    <li>
                        <a href="/project/list"> <i class="bi bi-circle"></i><span>프로젝트</span> </a>
                    </li>
                    <li>
                        <a href="/report/list"> <i class="bi bi-circle"></i><span>업무</span> </a>
                    </li>
                    <li>
                        <a href="/chart/main"> <i class="bi bi-circle"></i><span>차트</span> </a>
                    </li>
                </ul>
            </li>
            <!-- 업무 사이드바 끝 -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#sign-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-archive"></i>
                    <span>전자결재</span>
                    <i class="bi bi-chevron-down ms-menu"></i>
                </a>
                <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="sign-nav">
                    <li>
                        <a href="/approval/main"> <i class="bi bi-circle"></i><span>보낸 문서함</span> </a>
                    </li>
                    <li>
                        <a href="/approval/receive"> <i class="bi bi-circle"></i><span>받은 문서함</span> </a>
                    </li>
                    <li>
                        <a href="/approval/draft"> <i class="bi bi-circle"></i><span>임시 문서함</span> </a>
                    </li>
                </ul>
            </li>
            <!-- 전자결재 사이드바 끝 -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#board-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-people-fill"></i>
                    <span>게시판</span>
                    <i class="bi bi-chevron-down ms-menu"></i>
                </a>
                <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="board-nav">
                    <li>
                        <a href="/notice/list"> <i class="bi bi-circle"></i><span>공지사항</span> </a>
                    </li>
                    <li>
                        <a href="/board/list"> <i class="bi bi-circle"></i><span>경조사</span> </a>
                    </li>
                    <li>
                        <a href="/board/cafeteria"> <i class="bi bi-circle"></i><span>구내식당</span> </a>
                    </li>
                    <li>
                        <a href="/conference/main"> <i class="bi bi-circle"></i><span>회의실 예약</span> </a>
                    </li>
                </ul>
            </li>
            <!-- 게시판 사이드바 끝 -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#calendar-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-calendar-week"></i>
                    <span>일정</span>
                    <i class="bi bi-chevron-down ms-menu"></i>
                </a>
                <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="calendar-nav">
                    <li>
                        <a href="#"> <i class="bi bi-circle"></i><span>목록</span> </a>
                    </li>
                </ul>
            </li>
            <!-- 일정 사이드바 끝 -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#email-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-envelope"></i>
                    <span>이메일</span>
                    <i class="bi bi-chevron-down ms-menu"></i>
                </a>
                <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="email-nav">
                    <li>
                        <a href="/mail/inbox"> <i class="bi bi-circle"></i><span>전체메일함</span> </a>
                    </li>
                    <li>
                        <a href="/mail/starred"> <i class="bi bi-circle"></i><span>즐겨찾기</span> </a>
                    </li>
                    <li>
                        <a href="/mail/important"> <i class="bi bi-circle"></i><span>중요메일함</span> </a>
                    </li>
                    <li>
                        <a href="/mail/myself"> <i class="bi bi-circle"></i><span>내게쓴메일함</span> </a>
                    </li>
                    <li>
                        <a href="/mail/draftsList"> <i class="bi bi-circle"></i><span>임시보관함</span> </a>
                    </li>
                    <li>
                        <a href="/mail/sent"> <i class="bi bi-circle"></i><span>발신함</span> </a>
                    </li>
                    <li>
                        <a href="/mail/trash"> <i class="bi bi-circle"></i><span>휴지통</span> </a>
                    </li>
                </ul>
            </li>
            <!-- 이메일 사이드바 끝 -->

            <li class="nav-item qna">
                <a class="nav-link qna collapsed" href="/user/Q&A">
                    <i class="bi bi-question-circle"></i>
                    <span>고객센터</span>
                </a>
            </li>
            <!-- 고객센터 사이드바 끝 -->

        </ul>
    </aside>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const path = window.location.pathname;  // 현재 페이지의 경로를 가져옴
            const sidebarNavItems = document.querySelectorAll(".sidebar-nav a");  // 사이드바 내의 모든 링크를 선택

            sidebarNavItems.forEach(function (navItem) {
                if (navItem.getAttribute("href") === path) {
                    // 현재 경로와 일치하는 링크가 발견되면
                    navItem.classList.add("active");  // a 태그에 'active' 클래스 추가

                    const parentNavItem = navItem.closest(".nav-item");
                    const parentNavContent = navItem.closest(".nav-content");

                    if (parentNavContent) {
                        parentNavContent.classList.add("show");  // ul 태그에 'show' 클래스 추가
                        parentNavContent.previousElementSibling.classList.remove("collapsed");  // a 태그에서 'collapsed' 클래스 제거
                    } else {
                        // ul이 없는 경우 단순히 'collapsed' 클래스만 제거
                        if (parentNavItem) {
                            parentNavItem.querySelector(".nav-link").classList.remove("collapsed");
                        }
                    }
                }
            });
        });
    </script>
</div>