<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>사원 통합 관리</title>
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>

  <!-- Favicons -->
  <link rel="icon" th:href="@{/assets/img/favicon.png}"/>
  <link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}"/>

  <!-- 폰트 설정  -->
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"/>
  <link rel="stylesheet" th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"/>
  <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.snow.css}"/>
  <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.bubble.css}"/>
  <link rel="stylesheet" th:href="@{/assets/vendor/remixicon/remixicon.css}"/>
  <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}"/>

  <!-- Template Main CSS File -->
  <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center">
      <img th:src="@{/assets/img/logo.png}" alt=""/>
      <span class="d-none d-lg-block">CHAIN</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>
  <!-- Header Nav -->
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge btn-secondary badge-number">4</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header" th:text="'4개의 새 알림이 있습니다'"></li>
          <li><hr class="dropdown-divider"/></li>
          <li class="notification-item">
            <i class="bi bi-exclamation-circle text-warning"></i>
            <div>
              <h4>Lorem Ipsum</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>30 min. ago</p>
            </div>
          </li>
          <li><hr class="dropdown-divider"/></li>
        </ul>
      </li>
      <!-- More items... -->
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img th:src="@{/assets/img/profile-img.jpg}" alt="Profile" class="rounded-circle"/>
          <span class="d-none d-md-block dropdown-toggle ps-2">박영민</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>박영민</h6>
            <span>사원</span>
          </li>
          <li><hr class="dropdown-divider"/></li>
          <li>
            <a class="dropdown-item d-flex align-items-center" href="../static/users-profile.html">
              <i class="bi bi-person"></i>
              <span>내 프로필</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin/main}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>인사관리</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li><a th:href="@{/admin/personnel/management}"><i class="bi bi-circle"></i><span>사원관리</span></a></li>
        <li><a th:href="@{/admin/personnel/powerSetting}"><i class="bi bi-circle"></i><span>권한설정</span></a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/admin/attendance/company}">
        <i class="bi bi-bar-chart"></i>
        <span>근태관리</span>
      </a>
    </li>
  </ul>
</aside>

<!-- ======= Main Content ======= -->
<main id="main" class="main">
  <div class="pagetitle">
    <h1>사원통합관리</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/admin/main}">관리자페이지</a></li>
        <li class="breadcrumb-item">인사관리</li>
        <li class="breadcrumb-item active">사원통합관리</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              <button href="#" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable">사원등록</button>
            </h3>

            <!-- Employee Table -->
            <table class="table datatable-selector">
              <thead>
              <tr>
                <th>사원번호</th>
                <th>이름</th>
                <th>부서</th>
                <th>직급</th>
                <th>전화번호</th>
                <th>생일</th>
                <th>주소</th>
                <th>메일</th>
                <th>입사일</th>
                <th>퇴사일</th>
                <th>수정</th>
                <th>삭제</th>
              </tr>
              </thead>
              <tbody id="employeeTableBody">
              <tr th:each="employee : ${employees}">
                <td th:text="${employee.empNo}"></td>
                <td th:text="${employee.lastName} + ' ' + ${employee.firstName}"></td>
                <td th:text="${employee.departmentName ?: 'N/A'}"></td>
                <td th:text="${employee.rankName ?: 'N/A'}"></td>
                <td th:text="${employee.phoneNum}"></td>
                <td th:text="${employee.birthDate}"></td>
                <td th:text="${employee.addr ?: ''}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.hireDate}"></td>
                <td th:text="${employee.lastDate ?: ''}"></td>
                <td><button class="btn btn-primary edit-btn" th:data-id="${employee.empNo}">수정</button></td>
                <td><button class="btn btn-danger delete-btn" th:data-id="${employee.empNo}">삭제</button></td>
              </tr>
              </tbody>
            </table>

            <!-- Employee Registration Modal -->
            <div class="modal fade" id="modalDialogScrollable" tabindex="-1">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">사원 등록 페이지</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="employeeForm">
                      <div class="row mb-3">
                        <label for="last_name" class="col-md-4 col-lg-3 col-form-label">성</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="last_name" type="text" class="form-control" id="last_name" placeholder="예: 홍" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="first_name" class="col-md-4 col-lg-3 col-form-label">이름</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="first_name" type="text" class="form-control" id="first_name" placeholder="예: 길동" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="department" class="col-md-4 col-lg-3 col-form-label">부서</label>
                        <div class="col-md-8 col-lg-9">
                          <select name="department" class="form-select" id="department" required>
                            <option th:each="department : ${departments}" th:value="${department.dmpNo}" th:text="${department.dmpName}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="rank" class="col-md-4 col-lg-3 col-form-label">직급</label>
                        <div class="col-md-8 col-lg-9">
                          <select name="rank" class="form-select" id="rank" required>
                            <option th:each="rank : ${ranks}" th:value="${rank.rankNo}" th:text="${rank.rankName}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="phone_num" class="col-md-4 col-lg-3 col-form-label">전화번호</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="phone_num" type="text" class="form-control" id="phone_num" placeholder="예: 010-1234-5678" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="email" class="col-md-4 col-lg-3 col-form-label">메일</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="email" type="email" class="form-control" id="email" placeholder="예: example@example.com" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="birth_date" class="col-md-4 col-lg-3 col-form-label">생일</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="birth_date" type="text" class="form-control" id="birth_date" placeholder="예: 1990-01-01" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="addr" class="col-md-4 col-lg-3 col-form-label">주소</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="addr" type="text" class="form-control" id="addr" placeholder="예: 서울특별시 강남구" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="hire_date" class="col-md-4 col-lg-3 col-form-label">입사일</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="hire_date" type="text" class="form-control" id="hire_date" placeholder="예: 2022-01-01" required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="last_date" class="col-md-4 col-lg-3 col-form-label">퇴사일</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="last_date" type="text" class="form-control" id="last_date" placeholder="예: 2023-01-01">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" id="submitEmployeeForm">생성</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Employee Registration Modal -->

            <!-- Employee Edit Modal -->
            <div class="modal fade" id="editEmployeeModal" tabindex="-1">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">사원 개인 페이지</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="editEmployeeForm">
                      <div class="row mb-3">
                        <label for="edit_emp_no" class="col-md-4 col-lg-3 col-form-label">사원번호</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="edit_emp_no" type="text" class="form-control" id="edit_emp_no">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="edit_last_name" class="col-md-4 col-lg-3 col-form-label">성</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="edit_last_name" type="text" class="form-control" id="edit_last_name">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="edit_first_name" class="col-md-4 col-lg-3 col-form-label">이름</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="edit_first_name" type="text" class="form-control" id="edit_first_name">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="edit_department" class="col-md-4 col-lg-3 col-form-label">부서</label>
                        <div class="col-md-8 col-lg-9">
                          <select name="edit_department" class="form-select" id="edit_department">
                            <option th:each="department : ${departments}" th:value="${department.dmpNo}" th:text="${department.dmpName}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="edit_rank" class="col-md-4 col-lg-3 col-form-label">직급</label>
                        <div class="col-md-8 col-lg-9">
                          <select name="edit_rank" class="form-select" id="edit_rank">
                            <option th:each="rank : ${ranks}" th:value="${rank.rankNo}" th:text="${rank.rankName}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="edit_phone_num" class="col-md-4 col-lg-3 col-form-label">전화번호</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="edit_phone_num" type="text" class="form-control" id="edit_phone_num">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="edit_email" class="col-md-4 col-lg-3 col-form-label">메일</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="edit_email" type="email" class="form-control" id="edit_email">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="edit_birth_date" class="col-md-4 col-lg-3 col-form-label">생일</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="edit_birth_date" type="date" class="form-control" id="edit_birth_date">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="edit_addr" class="col-md-4 col-lg-3 col-form-label">주소</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="edit_addr" type="text" class="form-control" id="edit_addr">
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" id="submitEditEmployeeForm">수정</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Employee Edit Modal -->

            <!-- Department Management Modal -->
            <div class="modal fade" id="manageDepartmentsModal" tabindex="-1" role="dialog" aria-labelledby="manageDepartmentsModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="manageDepartmentsModalLabel">부서 관리</h5>
                  </div>
                  <div class="modal-body">
                    <button href="#" id="addDepartmentBtn" class="btn btn-primary mb-3">부서 추가</button>
                    <ul id="departmentList" class="list-group">
                      <li class="list-group-item" th:each="department : ${departments}">
                        <span th:text="${department.dmpName}"></span>
                        <button class="btn btn-sm btn-danger float-end delete-department-btn" th:data-id="${department.dmpNo}">삭제</button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Department Management Modal -->

            <!-- Department Form Modal -->
            <div class="modal fade" id="departmentFormModal" tabindex="-1" role="dialog" aria-labelledby="departmentFormModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="departmentFormModalLabel">부서 추가/수정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="departmentForm">
                      <input type="hidden" id="departmentId">
                      <div class="form-group">
                        <label for="departmentNameInput">부서 이름</label>
                        <input type="text" class="form-control" id="departmentNameInput" required>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="saveDepartmentBtn">저장</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Department Form Modal -->

          </div><!-- End Card Body -->
        </div><!-- End Card -->
      </div><!-- End Col -->
    </div><!-- End Row -->
  </section>
</main><!-- End Main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>CHAIN</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="|https://code.jquery.com/jquery-3.6.0.min.js|"></script>

<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function() {
    // Save employee
    $('#submitEmployeeForm').on('click', function() {
      const employeeData = {
        firstName: $('#first_name').val(),
        lastName: $('#last_name').val(),
        departmentId: $('#department').val(),
        rankId: $('#rank').val(),
        phoneNum: $('#phone_num').val(),
        email: $('#email').val(),
        birthDate: $('#birth_date').val(),
        addr: $('#addr').val(),
        hireDate: $('#hire_date').val(),
        lastDate: $('#last_date').val()
      };

      $.ajax({
        url: '|/*[[@{/api/employees}]]*/|',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(employeeData),
        success: function() {
          alert('사원이 성공적으로 등록되었습니다!');
          $('#modalDialogScrollable').modal('hide');
          location.reload(); // 새로고침하여 변경 사항 반영
        },
        error: function() {
          alert('사원 등록에 실패했습니다.');
        }
      });
    });

    // Edit employee
    $('#employeeTableBody').on('click', '.edit-btn', function() {
      const empNo = $(this).data('id');
      $.getJSON('| /*[[@{/api/employees/{empNo}(empNo=${empNo})}]]*/|', function(employee) {
        $('#edit_emp_no').val(employee.empNo);
        $('#edit_first_name').val(employee.firstName);
        $('#edit_last_name').val(employee.lastName);
        $('#edit_phone_num').val(employee.phoneNum);
        $('#edit_email').val(employee.email);
        $('#edit_birth_date').val(employee.birthDate);
        $('#edit_addr').val(employee.addr);
        $('#edit_department').val(employee.departmentId);
        $('#edit_rank').val(employee.rankId);
        $('#editEmployeeModal').modal('show');
      });
    });

    $('#submitEditEmployeeForm').on('click', function() {
      const empNo = $('#edit_emp_no').val();
      const employeeData = {
        firstName: $('#edit_first_name').val(),
        lastName: $('#edit_last_name').val(),
        departmentId: $('#edit_department').val(),
        rankId: $('#edit_rank').val(),
        phoneNum: $('#edit_phone_num').val(),
        email: $('#edit_email').val(),
        birthDate: $('#edit_birth_date').val(),
        addr: $('#edit_addr').val()
      };

      $.ajax({
        url: '|/*[[@{/api/employees/{empNo}(empNo=${empNo})}]]*/|' ,
        method: 'PUT',
        contentType: 'application/json',
        data: JSON.stringify(employeeData),
        success: function() {
          alert('사원이 성공적으로 수정되었습니다!');
          $('#editEmployeeModal').modal('hide');
          location.reload(); // 새로고침하여 변경 사항 반영
        },
        error: function() {
          alert('사원 수정에 실패했습니다.');
        }
      });
    });

    // Delete employee
    $('#employeeTableBody').on('click', '.delete-btn', function() {
      const empNo = $(this).data('id');
      if (confirm('정말로 이 사원을 삭제하시겠습니까?')) {
        $.ajax({
          url: '|/*[[@{/api/employees/{empNo}(empNo=${empNo})}]]*/|' ,
          method: 'DELETE',
          success: function() {
            alert('사원이 성공적으로 삭제되었습니다!');
            location.reload(); // 새로고침하여 변경 사항 반영
          },
          error: function() {
            alert('사원 삭제에 실패했습니다.');
          }
        });
      }
    });
  });
  /*]]>*/
</script>

</body>
</html>
