<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Main</title>
    <!-- 부트스트랩 -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet"/>
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet"/>
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet"/>
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet"/>
    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <!-- 프로젝트 css -->
        <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
        <link th:href="@{/assets/css/wemaked.css}" rel="stylesheet"/>
    <!-- catting css -->
        <link rel="stylesheet" th:href="@{/assets/css/chatting.css}"/>
</head>
<body>
<div class="chat_container">

    <!-- 왼쪽 메뉴 바 -->
    <div class="d-flex">
        <div class="chat_left_bar" id="v-pills-tab" role="tablist"
             aria-orientation="vertical">
            <!-- 조직도 버튼 -->
            <button class="menu_icon nav-link" id="v-pills-organization-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-organization" type="button" role="tab"
                    aria-controls="v-pills-organization" aria-selected="false"><i class="bi bi-diagram-2-fill"></i>
            </button>
            <!-- 즐겨찾기 버튼 -->
            <button class="menu_icon nav-link" id="v-pills-favorites-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-favorites" type="button" role="tab"
                    aria-controls="v-pills-favorites" aria-selected="false"><i class="bi bi-star-fill"></i>
            </button>
            <!-- 채팅방 버튼 -->
            <button class="menu_icon nav-link active" id="v-pills-chatrooms-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-chatrooms" type="button" role="tab"
                    aria-controls="v-pills-chatrooms" aria-selected="true"><i class="bi bi-chat-dots-fill"></i>
            </button>
        </div>

        <!-- 조직도/즐겨찾기/채팅방 목록 -->
        <div class="chat_menu_container tab-content" id="v-pills-tabContent">
            <!-- 채팅방 생성 모달 창 -->
            <div id="chatModal" class="chat_modal">
                <div class="modal_content">
                    <span id="closeButton">&times;</span>
                    <p>새 채팅방을 생성하시겠습니까?</p>
                    <button id="confirmCreateRoom">확인</button>
                </div>
            </div>
            <!-- 조직도 -->
            <div class="chat_menu tab-pane" id="v-pills-organization" role="tabpanel"
                 aria-labelledby="v-pills-organization-tab">
                <!-- 검색 -->
                <div class="search">
                    <input type="text" id="searchInputOrg" placeholder=" 검색">
                </div>
                <!-- 조직도 목록 -->
                <div class="chat_list" alt="조직도 목록">
                    <!-- 조직도 전체 네비 -->
                    <ul class="org_dep_list">
                        <!-- 부서1 -->
                        <li>
                            <a class="org_dep" href="#">
                                <i class="bi bi-chevron-right"></i>
                                개발</a>
                            <ul class="dep_emps_list">
                                <a href="#"><li>부장 최영민</li></a>
                                <a href="#"><li>과장 신혜리</li></a>
                                <a href="#"><li>대리 류이슬</li></a>
                                <a href="#"><li>대리 김선혜</li></a>
                                <a href="#"><li>사원 류현진</li></a>
                                <a href="#"><li>사원 정예진</li></a>
                                <a href="#"><li>사원 한바다</li></a>
                                <a href="#"><li>사원 김서아</li></a>
                            </ul>
                        </li>
                        <!-- 부서2 -->
                        <li>
                            <a class="org_dep" href="#">
                                <i class="bi bi-chevron-right"></i>마케팅</a>
                            <ul class="dep_emps_list">
                                <a href="#"><li>부장 박성호</li></a>
                                <a href="#"><li>과장 김동현</li></a>
                                <a href="#"><li>대리 한동민</li></a>
                                <a href="#"><li>사원 이상혁</li></a>
                                <a href="#"><li>사원 이지영</li></a>
                            </ul>
                        </li>
                        <!-- 부서3 -->
                        <li>
                            <a class="org_dep" href="#">
                                <i class="bi bi-chevron-right"></i>
                                업무지원</a>
                            <ul class="dep_emps_list">
                                <a href="#"><li>부장 김희재</li></a>
                                <a href="#"><li>과장 박철수</li></a>
                                <a href="#"><li>대리 김민재</li></a>
                                <a href="#"><li>대리 김민영</li></a>
                                <a href="#"><li>사원 이나리</li></a>
                            </ul>
                        </li>
                    </ul>
                    <!-- /end 조직도 전체 네비 -->
                </div>
            </div>
            <!-- /end 조직도 -->

            <!-- 즐겨찾기 목록 -->
            <div class="chat_menu tab-pane" id="v-pills-favorites" role="tabpanel"
                 aria-labelledby="v-pills-favorites-tab">
                <!-- 검색 -->
                <div class="search">
                    <input type="text" id="searchInputFavorRoom" placeholder=" 검색">
                </div>
                <!-- 방 목록 -->
                <div class="chat_list" alt="채팅방 즐겨찾기 목록">
                    <div class="chat_room"  data-room-id="4">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">즐찾방1먁</li>
                            <li class="room_content">내용1</li>
                        </ul>
                    </div>
                    <div class="chat_room">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">즐찾방2</li>
                            <li class="room_content">내용2</li>
                        </ul>
                    </div>
                    <div class="chat_room">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">즐찾방3</li>
                            <li class="room_content">내용3</li>
                        </ul>
                    </div>
                    <div class="chat_room">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">방4</li>
                            <li class="room_content">내용4</li>
                        </ul>
                    </div>
                    <div class="chat_room">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">방5</li>
                            <li class="room_content">내용5</li>
                        </ul>
                    </div>
                    <div class="chat_room">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">방6</li>
                            <li class="room_content">내용6</li>
                        </ul>
                    </div>
                    <div class="chat_room">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">방7</li>
                            <li class="room_content">내용7</li>
                        </ul>
                    </div>
                    <div class="chat_room">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">방8</li>
                            <li class="room_content">내용8</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /end 즐겨찾기 목록 -->

            <!-- 채팅방 목록 -->
            <div class="chat_menu tab-pane show active" id="v-pills-chatrooms" role="tabpanel"
                 aria-labelledby="v-pills-chatrooms-tab">
                <!-- 검색 -->
                <div class="search">
                    <input type="text" id="searchInputChatRoom" placeholder=" 검색">
                </div>
                <!-- 방 목록 -->
                <div class="chat_list" alt="채팅방 목록">
                    <div class="chat_room" data-room-id="1">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">테스트</li>
                            <li class="room_content">내용1</li>
                        </ul>
                    </div>
                    <div class="chat_room" data-room-id="2">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">개발팀 최영민 부장</li>
                            <li class="room_content">옹야~</li>
                        </ul>
                    </div>
                    <div class="chat_room" data-room-id="3">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">업무지원팀 김민영 대리</li>
                            <li class="room_content">네~</li>
                        </ul>
                    </div>
                    <div class="chat_room" data-room-id="5">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">방4먁</li>
                            <li class="room_content">내용4</li>
                        </ul>
                    </div>
                    <div class="chat_room" data-room-id="6">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">방5</li>
                            <li class="room_content">내용5</li>
                        </ul>
                    </div>
                    <div class="chat_room" data-room-id="7">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">방6</li>
                            <li class="room_content">내용6</li>
                        </ul>
                    </div>
                    <div class="chat_room" data-room-id="8">
                        <div class="room_img">
                            <img src="/assets/img/보노보노.png" alt="프로필사진">
                        </div>
                        <ul>
                            <li class="room_name">방7</li>
                            <li class="room_content">내용7</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /end 채팅방 목록 -->
        </div>
    </div>
    <!--   ------------------------------------------------------- -->
    <!-- 채팅방 영역 -->
    <div class="chat_chatting">
        <!-- 방 선택하기 전, 화면 표시 -->
        <span class="info_text">대화하실 방을 선택해주세요.</span>

        <!-- 채팅 헤드 영역 -->
        <div id="chatHeader" class="chat_header">
            <button id="backButton"><i class="bi bi-arrow-left-short"></i></button> <!-- 닫기 버튼 -->
            <span id="chatRoomName">Chat Room</span> <!-- 채팅방 이름 -->
            <span id="chatRoomPersonnel">1</span> <!-- 채팅방 인원 수 -->
            <button id="favoriteButton"><i class="bi bi-star"></i></button> <!-- 즐겨찾기 버튼 -->
        </div>

        <!-- 채팅 대화 영역 -->
        <div id="chatRoom1" class="chat_content">
            <div class="chat_num chat_to">ㅁㅇ리나 김미김미김미김미김믹밈미살앙에 이ㅜ라ㅣㅁ우라이누라우라울ㄴ람우린울눙리ㅜㄴㅇ리물ㄴㅁ</div>
            <div class="chat_num chat_from">ㅁㅇ리나이리라으라으라능라ㅣㅇ무나이ㅜ라ㅣㅁ우라이누라우라울ㄴ람우린울눙ㄴㅇ리물ㄴㅁ</div>
            <div class="chat_num chat_to">ㅁㅇ리나이울ㄴ람우린울눙리ㅜㄴㅇ리물ㄴㅁ</div>
            <div class="chat_num chat_to">ㅁㅇ리나이라으물ㄴㅁ</div>
            <div class="chat_num chat_to">ㅁ2</div>
            <div class="chat_num chat_from">ㅇㄹㄴㄹㄴㄹ</div>
            <div class="chat_num chat_from">ㅁ</div>
            <div class="chat_num chat_from">ㅁ</div>
            <div class="chat_num chat_to">ㅁ</div>
            <div class="chat_num chat_to">ㅁ</div>
            <div class="chat_num chat_from">4ㅁ</div>
        </div>
        <div id="chatRoom2" class="chat_content">
            <div class="chat_num chat_to">부장님 혹시 내일 연차 사용 가능할까요?</div>
            <div class="chat_num chat_from">옹야~</div>
            <div class="chat_num chat_to">넵 감사합니다. 지금 결재 올리도록 하겠습니다.</div>
            <div class="chat_num chat_from">옹야~</div>
        </div>
        <div id="chatRoom3" class="chat_content">
            <p class="chat_num chat_to">대리님 결재 부탁드리겠습니다.</p>
            <p class="chat_num chat_from">네~</p>
        </div>
        <div id="chatRoom4" class="chat_content">
            <p class="chat_num chat_to">먁먁</p>
            <p class="chat_num chat_from">네~</p>
        </div>
        <div id="chatRoom5" class="chat_content">
            <p class="chat_num chat_to">대리님 결재 부탁드리겠습니다.</p>
            <p class="chat_num chat_from">먀먁</p>
        </div>

        <!-- 채팅 입력 영역 -->
        <div class="chat_input">
            <textarea id="chatInput"></textarea>
            <button class="send_button" id="sendButton">전송</button>
        </div>

    </div> <!-- /end chat_chatting -->
</div>
<!-- 프로젝트 파일 -->
<script src="/assets/js/wemaked.js"></script>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
</body>
</html>