<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>CHAIN</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon"/>
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon"/>

    <!-- 폰트 설정  -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet"/>
    <link th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/wemaked.css}" rel="stylesheet"/>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <script src="/assets/js/theme.js"></script>
    <!-- 위젯 CSS -->
    <style>
        .list-group-item {
            padding: 0 10px;
            border-radius: 5px;
        }
    </style>

    <!-- 날씨 CSS -->
    <style>
        .weather-card .weather-content {
            display: flex;
            justify-content: space-between; /* 온도와 아이콘을 좌우로 배치 */
            align-items: center;
            width: 100%;
        }

        .temperature-info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            flex: 1;
            height: 150px; /* 최저/최고 온도를 하단에 배치하기 위한 높이 설정 */
        }

        .temperature {
            font-size: 2.5em;
            font-weight: bold;
            margin: 0;
        }

        .temperature-range {
            font-size: 1em;
            color: #555;
        }

        .weather-icon {
            flex: 0 0 auto; /* 아이콘이 고정된 크기를 갖도록 설정 */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .weather-icon img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>

<body>
<!-- ======= Header ======= -->
<header class="header fixed-top d-flex align-items-center" id="header">
    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="/">
            <img alt="" src="/assets/img/logo.png"/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <th:block th:include="fragments/notifications :: notifications"></th:block>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <th:block th:include="fragments/profile :: profile"></th:block>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>
<!-- Header 끝 -->
<th:block th:include="fragments/commute :: commute"></th:block>
<!-- 출퇴근 Modal 끝 -->
<!-- ======= Sidebar ======= -->
<th:block th:include="fragments/sidebar :: sidebar"></th:block>
<!-- Sidebar 전체 끝 -->

<main id="main" class="main">

    <div class="pagetitle" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h1>대시보드</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Home</li>
                </ol>
            </nav>
        </div>
        <!-- 위젯 편집 버튼 -->
        <div>
            <button id="edit-widgets" class="btn btn-primary" style="margin-right: 10px;">위젯 편집</button>
            <!-- 저장 버튼 (초기 상태에서는 숨김) -->
            <button id="save-layout" class="btn btn-success" style="margin-right: 10px; display: none;">저장</button>
        </div>
    </div>
    <!-- 페이지 제목 끝 -->

    <section class="section dashboard">
        <div class="row">
            <!-- 왼쪽 본문 -->
            <div class="col-lg-8">
                <div class="row" id="card-container">
                    <!-- 프로젝트 진행 건 카드 -->
                    <div class="col-md-6 list-group-item" data-id="project1">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">프로젝트 진행 건 <span>| Today</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-bar-chart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>145</h6>
                                        <span class="text-success small pt-1 fw-bold">12%</span>
                                        <span class="text-muted small pt-2 ps-1">increase</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 프로젝트 진행 건 카드 끝 -->

                    <!-- 전자결재 카드 -->
                    <div class="col-md-6 list-group-item" data-id="approval1">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">전자결재 <span>| Today</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-card-text"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>145</h6>
                                        <span class="text-success small pt-1 fw-bold">12%</span>
                                        <span class="text-muted small pt-2 ps-1">increase</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 전자결재 카드 끝 -->

                    <!-- 집에 가고싶음? 카드 -->
                    <!--<div class="col-xxl-4 col-xl-12 list-group-item" data-id="home1">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">집에 가고싶음? <span>| Today</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-house"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>145</h6>
                                        <span class="text-success small pt-1 fw-bold">12%</span>
                                        <span class="text-muted small pt-2 ps-1">increase</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- 집에 가고싶음? 카드 끝 -->
                </div>

                <!-- 주간 일정 카드 -->
                <div class="col-12">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">주간 일정 <span>| Week</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="ps-3" style="width: 100%">
                                    <table class="custom-table" style="width: 100%">
                                        <thead>
                                        <tr>
                                            <th class="sunday">일</th>
                                            <th>월</th>
                                            <th>화</th>
                                            <th>수</th>
                                            <th>목</th>
                                            <th>금</th>
                                            <th class="saturday">토</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="sunday">11</td>
                                            <td><span class="today">12</span></td>
                                            <td>13</td>
                                            <td>14</td>
                                            <td>15</td>
                                            <td>16</td>
                                            <td class="saturday">17</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td colspan="2">
                                                <div class="meeting">주간 회의</div>
                                            </td>
                                            <td>
                                                <div class="deadline">[마감]결재문서 제출asdfasdfasdfasdf</div>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="deadline">[마감]회의보고서 제출asdfasdfasdfasdf</div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <style>
                                .custom-table {
                                    width: 100%;
                                    border-collapse: collapse;
                                    border: 1px solid #ddd;
                                    table-layout: fixed;
                                }

                                .custom-table tbody {
                                    border: 1px solid #ddd;
                                }

                                .custom-table th, .custom-table td {
                                    font-size: 14px;
                                    padding: 5px;
                                    min-width: 100px;
                                }

                                .custom-table th {
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    /*border-bottom: 1px solid #ddd;*/
                                }

                                .custom-table td {
                                    width: 14.28%;
                                    border-left: 1px solid #ddd;
                                    border-right: 1px solid #ddd;
                                    vertical-align: middle;
                                }

                                .custom-table .meeting {
                                    background-color: #ff687c;

                                }

                                .custom-table .deadline {
                                    background-color: #05bc9d;
                                }

                                .custom-table .today {
                                    background-color: #007bff;
                                    border-radius: 50%;
                                    color: white;
                                    width: 24px;
                                    height: 24px;
                                    display: inline-block; /* 원 모양을 inline-block으로 설정 */
                                    line-height: 24px; /* 숫자를 원의 가운데로 정렬 */
                                    text-align: center; /* 텍스트를 가운데 정렬 */
                                    vertical-align: middle; /* 테이블 셀 내에서 수직 중앙 정렬 */
                                }

                                .custom-table .sunday {
                                    color: red;
                                }

                                .custom-table .saturday {
                                    color: blue;
                                }

                                .custom-table .meeting,
                                .custom-table .deadline {
                                    white-space: nowrap;       /* 텍스트를 한 줄로 유지 */
                                    overflow: hidden;          /* 넘치는 텍스트를 숨김 */
                                    text-overflow: ellipsis;   /* 넘치는 텍스트의 끝을 "..."으로 표시 */
                                    max-width: 100%;           /* 필요한 경우 max-width를 지정하여 텍스트 길이 제한 */
                                    display: block;            /* 블록 요소로 설정하여 너비 제한 적용 */
                                    padding: 3px;
                                    color: white;
                                    border-radius: 4px;
                                }
                            </style>
                        </div>
                    </div>
                </div>
                <!-- 주간 일정 카드 끝 -->

                <!------------------------------------------------------------------위젯 2--------------------------------------------------------------------->
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/project/list">내 프로젝트</a><span> | Today</span></h5>

                            <table class="table table-hover datatable" id="dataTable">
                                <thead>
                                <tr id="title-name">
                                    <th>  </th>
                                    <th>프로젝트</th>
                                    <th>진행도</th>
                                    <th>시작일</th>
                                    <th>종료일</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="project : ${projects}" th:onclick="'showProjectDetails(' + ${project.projectNo} + ')'">
                                    <td>
                                        <i th:class="${project.projectFavorite} ? 'bi-star-fill star-icon' : 'bi-star star-icon'"></i>
                                    </td>
                                    <td>
                                        <span th:text="${project.projectName}"></span>
                                        <span th:if="${project.isTemporary == true}" class="temporary-text">(임시보관)</span>
                                    </td>
                                    <td th:text="${project.projectProgress + '%'}"></td>
                                    <td th:text="${project.projectStartDate}"></td>
                                    <td th:text="${project.projectEndDate}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End Recent Sales -->

            </div>
            <!-- End Left side columns -->

            <!------------------------------------------------------------------오른쪽 위젯 1--------------------------------------------------------------->
            <!-- Right side columns -->

            <div class="col-lg-4" id="right-card-container">
                <div class="list-group-item" data-id="lineChart">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">월별 출입량</h5>
                            <canvas id="lineChart" style="max-height: 400px;"></canvas>
                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new Chart(document.querySelector('#lineChart'), {
                                        type: 'line',
                                        data: {
                                            labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월'],
                                            datasets: [{
                                                label: '수출량',
                                                data: [65, 59, 80, 81, 56, 55, 40],
                                                fill: false,
                                                borderColor: 'rgb(75, 192, 192)',
                                                tension: 0.1
                                            },
                                                {
                                                    label: '수입량',
                                                    data: [45, 65, 23, 85, 78, 48, 29],
                                                    fill: false,
                                                    borderColor: 'rgb(180, 63, 63)',
                                                    tension: 0.1
                                                }
                                            ]
                                        },
                                        options: {
                                            scales: {
                                                y: {
                                                    beginAtZero: true
                                                }
                                            }
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <!-- Line Chart 끝 -->

                <!-- TODO LIST -->
                <div class="list-group-item" data-id="todoList">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/todo/list">TODO LIST <span>| Today</span></a></h5>
                            <div class="activity-item d-flex">
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <div class="activity-content">todo 리스트 체크박스 1</div>
                                </div>
                            </div>
                            <!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" id="gridCheck2">
                                    <div class="activity-content">todo 리스트 체크박스 2</div>
                                </div>
                            </div>
                            <!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" id="gridCheck3">
                                    <div class="activity-content">todo 리스트 체크박스 3</div>
                                </div>
                            </div>
                            <!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" id="gridCheck4">
                                    <div class="activity-content">todo 리스트 체크박스 4</div>
                                </div>
                            </div>
                            <!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" id="gridCheck5">
                                    <div class="activity-content">todo 리스트 체크박스 5</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- TODO LIST 끝 -->

                <!-- 날씨 -->
                <div class="list-group-item" data-id="weather">
                    <div class="card weather-card">
                        <div class="card-body">
                            <h5 class="card-title">날씨 <span>| Today</span></h5>
                            <div id="weatherResult"></div>
                        </div>
                    </div>
                </div>
                <!-- 날씨 끝 -->
            </div>
        </div>
        <!-- End Recent Activity -->
        <!-- End Right side columns -->
    </section>
</main>
<!-- #main 끝 -->

<!-- ======= Footer ======= -->
<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Footer 끝 -->

<!--드래그 앤 드롭 전용 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"
        integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- 레이아웃 드래그 앤 드롭 저장 -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var editButton = document.getElementById('edit-widgets');
        var saveButton = document.getElementById('save-layout');
        var sortableInstances = [];

        // 초기화할 때 저장된 레이아웃 불러오기
        loadLayout('layoutOrder', document.getElementById('card-container'));
        loadLayout('rightLayoutOrder', document.getElementById('right-card-container'));

        // 위젯 편집 버튼 클릭 시 드래그 앤 드롭 기능 활성화 및 저장 버튼 표시
        editButton.addEventListener('click', function () {
            enableDragAndDrop();  // 드래그 앤 드롭 기능 활성화
            saveButton.style.display = 'inline-block';  // 저장 버튼 표시
            editButton.style.display = 'none';  // 위젯 편집 버튼 숨기기
        });

        // 저장 버튼 클릭 시 레이아웃 저장 및 버튼 숨김
        saveButton.addEventListener('click', function () {
            saveLayout();
            alert('레이아웃이 성공적으로 저장되었습니다!');
            saveButton.style.display = 'none';  // 저장 버튼 숨기기
            editButton.style.display = 'inline-block';  // 위젯 편집 버튼 다시 표시
            disableDragAndDrop();  // 드래그 앤 드롭 기능 비활성화
        });

        function enableDragAndDrop() {
            // 드래그 앤 드롭 기능을 활성화하는 부분
            var cardContainer = document.getElementById('card-container');
            var rightCardContainer = document.getElementById('right-card-container');

            if (cardContainer) {
                sortableInstances.push(new Sortable(cardContainer, {
                    group: {
                        name: "shared",
                        pull: false
                    },
                    animation: 150,
                    ghostClass: "blue-background-class"
                }));
            }

            if (rightCardContainer) {
                sortableInstances.push(new Sortable(rightCardContainer, {
                    group: {
                        name: "shared",
                        pull: false
                    },
                    animation: 150,
                    ghostClass: "blue-background-class"
                }));
            }
        }

        function disableDragAndDrop() {
            // 드래그 앤 드롭 기능을 비활성화하는 부분
            sortableInstances.forEach(instance => {
                instance.destroy();
            });
            sortableInstances = [];
        }

        function saveLayout() {
            var container = document.getElementById('card-container');
            var rightContainer = document.getElementById('right-card-container');

            saveLayoutOrder('layoutOrder', container);
            saveLayoutOrder('rightLayoutOrder', rightContainer);
        }

        function saveLayoutOrder(storageKey, container) {
            var order = [];
            container.querySelectorAll('.list-group-item').forEach((item) => {
                order.push(item.getAttribute('data-id'));
            });
            localStorage.setItem(storageKey, JSON.stringify(order));
        }

        function loadLayout(storageKey, container) {
            var order = JSON.parse(localStorage.getItem(storageKey));
            if (order) {
                var items = {};
                container.querySelectorAll('.list-group-item').forEach((item) => {
                    items[item.getAttribute('data-id')] = item;
                });
                order.forEach((id) => {
                    if (items[id]) {
                        container.appendChild(items[id]);
                    }
                });
            }
        }

        // 날씨 API 처리
        var city = 'Daegu'; // 대구로 고정
        var apiKey = 'cd4486d62c25658d36081ec824fbcb33'; // 여기에 발급받은 API 키를 입력하세요
        var apiUrl = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric&lang=kr`;

        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                var weatherResult = document.getElementById('weatherResult');
                if (data.cod === 200) {
                    var cityName = '대구';
                    var iconUrl = `http://openweathermap.org/img/wn/${data.weather[0].icon}@2x.png`;
                    weatherResult.innerHTML = `
                    <div class="weather-content">
                        <div class="temperature-info">
                            <h2 class="temperature">${Math.round(data.main.temp)}°</h2>
                            <div class="temperature-range">
                                <span>최저: ${Math.round(data.main.temp_min)}°</span> / <span>최고: ${Math.round(data.main.temp_max)}°</span>
                            </div>
                        </div>
                        <div class="weather-icon">
                            <img src="${iconUrl}" alt="Weather icon">
                        </div>
                    </div>
                `;
                } else {
                    weatherResult.innerHTML = `<p>${data.message}</p>`;
                }
            })
            .catch(error => {
                console.error('Error fetching weather data:', error);
            });
    });
</script>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/languages/ko.js"></script>

<!-- 메신저 관련 라이브러리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/wemaked.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>