<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>홈페이지 예시</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon"/>
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon"/>

    <!-- 폰트 설정  -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet"/>
    <link th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/wemaked.css}" rel="stylesheet"/>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt=""/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge btn-secondary badge-number">4</span> </a>
                <!-- 알림창 아이콘 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        4개의 새 알림이 있습니다
                        <a href="/user/alarm"><span class="badge btn-info p-2 ms-2">전체 보기</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li class="dropdown-footer">
                        <a href="/user/alarm">모든 알림 표시</a>
                    </li>
                </ul>
                <!-- 알림 드롭다운 목록 끝 -->
            </li>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"/>
                    <span class="d-none d-md-block dropdown-toggle ps-2">박영민</span> </a>
                <!-- 프로필 이미지 항목 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>박영민</h6>
                        <span>사원</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/mypage">
                            <i class="bi bi-person"></i>
                            <span>마이 페이지</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/organizationChart">
                            <i class="bi bi-diagram-2"></i>
                            <span>조직도</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                            <i class="bi bi-power"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/admin/main">
                            <i class="bi bi-tools"></i>
                            <span>회사 관리자</span>
                        </a>
                    </li>
                </ul>
                <!-- 프로필 드롭다운 목록 끝 -->
            </li>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>
<!-- Header 끝 -->

<!-- Header Modal -->
<!-- 출퇴근 Modal -->
<div class="modal fade" id="attendanceModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">출근</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                <div id="currentTime">현재 시간:</div>
                출근하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="attendanceConfirmButton" data-bs-dismiss="modal">네
                </button>
                <button type="button" class="btn btn-secondary" id="attendanceCancelButton" data-bs-dismiss="modal">
                    아니오
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="leaveworkModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">퇴근</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="currentTimes">현재 시간:</div>
                퇴근하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="leaveworkConfirmButton" data-bs-dismiss="modal">네
                </button>
                <button type="button" class="btn btn-secondary" id="leaveworkCancelButton" data-bs-dismiss="modal">아니오
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 출퇴근 Modal 끝 -->
<!-- Header Modal -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item ">
            <a class="nav-link dash collapsed" href="/">
                <i class="bi bi-grid"></i>
                <span>대시보드</span>
            </a>
        </li>
        <!-- 대시보드 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#menu-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>기본 사항</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul id="menu-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>통일 사항</span> </a>
                    <ul>
                        <li>
                            <a href="/example"> <i class="bi bi-circle"></i><span>홈페이지 예시</span> </a>
                        </li>
                    </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!-- 기본사항 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#work-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-clipboard-data"></i>
                <span>업무</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul id="work-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/todo/list"> <i class="bi bi-circle"></i><span>TODO</span> </a>
                </li>
                <li>
                    <a href="/project/list"> <i class="bi bi-circle"></i><span>프로젝트</span> </a>
                </li>
                <li>
                    <a href="/report/list"> <i class="bi bi-circle"></i><span>업무</span> </a>
                </li>
                <li>
                    <a href="/chart/main"> <i class="bi bi-circle"></i><span>차트</span> </a>
                </li>
            </ul>
        </li>
        <!-- 업무 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#sign-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-archive"></i>
                <span>전자결재</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul id="sign-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/approval/main"> <i class="bi bi-circle"></i><span>전체 문서함</span> </a>
                </li>
                <li>
                    <a href="/approval/draft"> <i class="bi bi-circle"></i><span>임시 문서함</span> </a>
                </li>
            </ul>
        </li>
        <!-- 전자결재 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#board-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-people-fill"></i>
                <span>게시판</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul id="board-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/notice/list"> <i class="bi bi-circle"></i><span>공지사항</span> </a>
                </li>
                <li>
                    <a href="/board/list"> <i class="bi bi-circle"></i><span>경조사</span> </a>
                </li>
                <li>
                    <a href="/board/cafeteria"> <i class="bi bi-circle"></i><span>구내식당</span> </a>
                </li>
                <li>
                    <a href="/conference/main"> <i class="bi bi-circle"></i><span>회의실 예약</span> </a>
                </li>
            </ul>
        </li>
        <!-- 게시판 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#calendar-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-calendar-week"></i>
                <span>일정</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul id="calendar-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#"> <i class="bi bi-circle"></i><span>목록</span> </a>
                </li>
            </ul>
        </li>
        <!-- 일정 사이드바 끝 -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#email-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-envelope"></i>
                <span>이메일</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul id="email-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/mail/receive"> <i class="bi bi-circle"></i><span>전체메일함</span> </a>
                </li>
                <li>
                    <a href="/mail/highlight"> <i class="bi bi-circle"></i><span>즐겨찾기</span> </a>
                </li>
                <li>
                    <a href="/mail/important"> <i class="bi bi-circle"></i><span>중요메일함</span> </a>
                </li>
                <li>
                    <a href="/mail/receivetome"> <i class="bi bi-circle"></i><span>내게쓴메일함</span> </a>
                </li>
                <li>
                    <a href="/mail/temporaryStorage"> <i class="bi bi-circle"></i><span>임시보관함</span> </a>
                </li>
                <li>
                    <a href="/mail/send"> <i class="bi bi-circle"></i><span>발신함</span> </a>
                </li>
                <li>
                    <a href="/mail/trash"> <i class="bi bi-circle"></i><span>휴지통</span> </a>
                </li>
            </ul>
        </li>
        <!-- 이메일 사이드바 끝 -->

        <li class="nav-item qna">
            <a class="nav-link qna collapsed" href="/user/Q&A">
                <i class="bi bi-question-circle"></i>
                <span>고객센터</span>
            </a>
        </li>
        <!-- 고객센터 사이드바 끝 -->

    </ul>
</aside>
<!-- Sidebar 전체 끝 -->


<main id="main" class="main">
    <div class="pagetitle">
        <h1>사원통합관리</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/main">관리자페이지</a></li>
                <li class="breadcrumb-item">인사관리</li>
                <li class="breadcrumb-item active">사원통합관리</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <button href="#" class="btn btn-light" data-bs-toggle="modal"
                                    data-bs-target="#departmentFormModal">부서등록</button>
                            <button href="#" class="btn btn-danger" id="openDeleteDepartmentModalBtn">부서삭제</button>
                        </h3>

                        <div class="accordion accordion-flush">
                            <!-- 전체 항목 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingAll">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseAll" aria-expanded="false"
                                            aria-controls="flush-collapseAll">
                                        전체 사원 목록
                                    </button>
                                </h2>
                                <div id="flush-collapseAll" class="accordion-collapse collapse"
                                     aria-labelledby="flush-headingAll" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <table class="table datatable-selector">
                                            <thead>
                                            <tr>
                                                <th>사원번호</th>
                                                <th>부서</th>
                                                <th>직급</th>
                                                <th>이름</th>
                                                <th>전화번호</th>
                                                <th>수정</th>
                                            </tr>
                                            </thead>
                                            <tbody id="allEmployeesTableBody">
                                            <!-- 전체 사원 목록이 여기에 추가됩니다. -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Accordion -->
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <!-- 부서별 항목이 여기 추가될 예정 -->
                            <div id="departmentAccordionItems"></div>
                        </div><!-- End Accordion -->

                    </div>
                </div>

            </div>
        </div>

        <!-- Delete Department Modal -->
        <div class="modal fade" id="deleteDepartmentModal" tabindex="-1"
             aria-labelledby="deleteDepartmentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteDepartmentModalLabel">부서 삭제</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul id="deleteDepartmentList" class="list-group">
                            <!-- 삭제할 부서 체크박스 리스트가 여기에 추가됩니다. -->
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-danger" id="confirmDeleteDepartmentBtn">삭제</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Department Management Modal -->

        <!-- Department Form Modal -->
        <div class="modal fade" id="departmentFormModal" tabindex="-1" role="dialog"
             aria-labelledby="departmentFormModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="departmentFormModalLabel">부서 추가/수정</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="departmentForm">
                            <input type="hidden" id="departmentId">
                            <div class="form-group">
                                <label for="departmentNameInput">부서 이름</label>
                                <input type="text" class="form-control" id="departmentNameInput" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="saveDepartmentBtn">저장</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Department Form Modal -->

        <!-- 권한 수정 모달 -->
        <div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog"
             aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editEmployeeModalLabel">권한 수정</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editEmployeeForm">
                            <input type="hidden" id="editEmpId">
                            <!-- 권한 체크박스 목록이 여기에 동적으로 추가됩니다. -->
                            <div id="permissionsDiv" class="form-group"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="savePermissionBtn">저장</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End 권한 수정 모달 -->

    </section>
</main>

<!-- End Main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/2.1.52/go.js"></script>

<script>
    $(document).ready(function () {
        // 전체 사원 데이터를 불러오는 함수
        function loadAllEmployees() {
            $.getJSON('/api/employees/all')
                .done(function (employees) {
                    const tableBody = $('#allEmployeesTableBody');
                    tableBody.empty();
                    employees.forEach(employee => {
                        tableBody.append(createEmployeeRow(employee));
                    });
                })
                .fail(function () {
                    console.error("전체 사원 목록을 불러오는 데 실패했습니다.");
                });
        }

        // 개별 사원 행을 생성하는 함수
        function createEmployeeRow(employee) {
            return `
            <tr>
                <td>${employee.empNo}</td>
                <td>${employee.departmentName || 'N/A'}</td>
                <td>${employee.rankName || 'N/A'}</td>
                <td>${employee.lastName}${employee.firstName}</td>
                <td>${employee.phoneNum}</td>
                <td><button class="btn btn-primary edit-btn" data-id="${employee.empNo}">수정</button></td>
            </tr>
        `;
        }

        // 전체 사원 목록 아코디언이 열릴 때 데이터 로드
        $('#flush-collapseAll').on('show.bs.collapse', loadAllEmployees);

        // 권한 수정 모달창 열기
        $(document).on('click', '.edit-btn', function () {
            const empNo = $(this).data('id');
            $('#editEmpId').val(empNo);

            $.when(
                $.getJSON(`/api/employees/${empNo}/permissions`),
                $.getJSON('/api/permissions')
            ).done(function (employeePermissions, permissions) {
                const permissionsDiv = $('#permissionsDiv');
                permissionsDiv.empty();

                permissions[0].forEach(permission => {
                    const isChecked = employeePermissions[0].some(ep => ep.perNo === permission.perNo);
                    permissionsDiv.append(createPermissionCheckbox(permission, isChecked));
                });

                $('#editEmployeeModal').modal('show');
            }).fail(function () {
                alert('권한 데이터를 불러오는 데 실패했습니다.');
            });
        });

        // 개별 권한 체크박스 생성 함수
        function createPermissionCheckbox(permission, isChecked) {
            return `
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="${permission.perNo}" id="permission${permission.perNo}" ${isChecked ? 'checked' : ''}>
                <label class="form-check-label" for="permission${permission.perNo}">
                    ${permission.perName}
                </label>
            </div>
        `;
        }

        // 권한 수정 저장 버튼 클릭 시
        $('#savePermissionBtn').on('click', function () {
            const empNo = $('#editEmpId').val();
            const selectedPermissions = [];

            $('#permissionsDiv .form-check-input:checked').each(function () {
                selectedPermissions.push($(this).val());
            });

            $.ajax({
                url: `/api/employees/${empNo}/permissions`,
                method: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(selectedPermissions),
                success: function () {
                    alert('권한이 성공적으로 수정되었습니다.');
                    $('#editEmployeeModal').modal('hide');
                },
                error: function () {
                    alert('권한 수정에 실패했습니다.');
                }
            });
        });

        // 부서별 사원 데이터를 불러오는 함수
        function loadEmployeesByDepartment(departmentId, tableBodyElement) {
            $.getJSON(`/api/departments/${departmentId}/employees`)
                .done(function (employees) {
                    tableBodyElement.empty();
                    if (employees && employees.length > 0) {
                        employees.forEach(employee => {
                            tableBodyElement.append(createEmployeeRow(employee));
                        });
                    } else {
                        tableBodyElement.html('<tr><td colspan="6">No employees found for this department.</td></tr>');
                    }
                })
                .fail(function () {
                    console.error("부서별 사원 목록을 불러오는 데 실패했습니다.");
                });
        }

        // 부서별 아코디언이 열릴 때 사원 목록을 불러오는 이벤트 핸들러 추가
        $(document).on('show.bs.collapse', '.accordion-collapse', function () {
            const departmentId = $(this).attr('data-department-id');
            const tableBodyElement = $(this).find('tbody');
            loadEmployeesByDepartment(departmentId, tableBodyElement);
        });

        // 부서별 아코디언 항목을 생성하는 함수
        function createDepartmentAccordionItem(departmentId, departmentName) {
            return `
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading${departmentId}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse${departmentId}" aria-expanded="false" aria-controls="flush-collapse${departmentId}">
                        ${departmentName}
                    </button>
                </h2>
                <div id="flush-collapse${departmentId}" class="accordion-collapse collapse" aria-labelledby="flush-heading${departmentId}" data-bs-parent="#accordionFlushExample" data-department-id="${departmentId}">
                    <div class="accordion-body">
                        <table class="table datatable-selector">
                            <thead>
                                <tr>
                                    <th>사원번호</th>
                                    <th>부서</th>
                                    <th>직급</th>
                                    <th>이름</th>
                                    <th>전화번호</th>
                                    <th>수정</th>
                                </tr>
                            </thead>
                            <tbody id="employeeTableBody${departmentId}">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        `;
        }

        // 모든 부서를 불러오고 아코디언을 초기화하는 함수
        function loadDepartments() {
            $.getJSON('/api/departments')
                .done(function (departments) {
                    const accordionContainer = $('#accordionFlushExample');
                    accordionContainer.empty();
                    departments.forEach(department => {
                        accordionContainer.append(createDepartmentAccordionItem(department.dmpNo, department.dmpName));
                    });
                })
                .fail(function () {
                    console.error("부서 목록을 불러오는 데 실패했습니다.");
                });
        }

        // 부서 삭제 모달 열기
        $('#openDeleteDepartmentModalBtn').on('click', function () {
            loadDepartmentsForDeletion();
            $('#deleteDepartmentModal').modal('show');
        });

        // 부서 목록을 불러와 삭제 모달에 표시
        function loadDepartmentsForDeletion() {
            $.getJSON('/api/departments')
                .done(function (departments) {
                    const departmentList = $('#deleteDepartmentList');
                    departmentList.empty();
                    departments.forEach(department => {
                        departmentList.append(`
                        <li class="list-group-item">
                            <input type="checkbox" class="form-check-input delete-department-checkbox" value="${department.dmpNo}">
                            ${department.dmpName}
                        </li>
                    `);
                    });
                })
                .fail(function () {
                    console.error("부서 목록을 불러오는 데 실패했습니다.");
                });
        }

        // 부서 삭제 확인 버튼 클릭 이벤트 핸들러
        $('#confirmDeleteDepartmentBtn').on('click', function () {
            const selectedDepartments = [];
            $('.delete-department-checkbox:checked').each(function () {
                selectedDepartments.push($(this).val());
            });

            if (selectedDepartments.length > 0) {
                if (confirm('선택한 부서를 삭제하시겠습니까?')) {
                    deleteDepartments(selectedDepartments);
                }
            } else {
                alert('삭제할 부서를 선택하세요.');
            }
        });

        // 부서 삭제 함수
        function deleteDepartments(departmentIds) {
            $.ajax({
                url: '/api/departments/bulk-delete',
                method: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify({ departmentIds: departmentIds }),
                success: function () {
                    alert('선택한 부서가 성공적으로 삭제되었습니다.');
                    $('#deleteDepartmentModal').modal('hide');
                    loadDepartments(); // 부서 목록 새로 고침
                },
                error: function () {
                    alert('부서 삭제에 실패했습니다.');
                }
            });
        }

        // 부서 등록 버튼 클릭 이벤트 핸들러
        $('#saveDepartmentBtn').on('click', function () {
            const departmentName = $('#departmentNameInput').val();
            const departmentData = { dmpName: departmentName };

            $.ajax({
                url: '/api/departments',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(departmentData),
                success: function (newDepartment) {
                    createDepartmentAccordionItem(newDepartment.dmpNo, newDepartment.dmpName);
                    $('#departmentFormModal').modal('hide');
                    alert('부서가 성공적으로 등록되었습니다!');
                    loadDepartments(); // 부서 목록 새로 고침
                },
                error: function () {
                    alert('부서 등록에 실패했습니다.');
                }
            });
        });

        // 페이지 로드 시 부서 목록을 불러오는 함수 호출
        loadDepartments();
    });

</script>
</body>
</html>
