<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email List</title>
</head>
<body>
<h1>Email List</h1>
<div>
    <h3 th:if="${success}" th:text="${success}"></h3>
    <h3 th:if="${error}" th:text="${error}"></h3>
</div>
<table>
    <thead>
    <tr>
        <th>Message ID</th>
        <th>Snippet</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td><a th:href="@{'/mail/list'(messageId=${message.id})}" th:text="${message.id}"></a></td>
        <td th:text="${message.snippet}"></td>
    </tr>
    </tbody>
</table>

<div th:if="${message != null}">
    <h2>Selected Message</h2>
    <h3>Message ID: <span th:text="${message.id}"></span></h3>
    <h3>Snippet:</h3>
    <p th:text="${message.snippet}"></p>
    <!-- 추가된 코드: Message 객체의 추가 정보 표시 -->
    <h3>Thread ID:</h3>
    <p th:text="${message.threadId}"></p>
    <h3>Label IDs:</h3>
    <ul>
        <li th:each="labelId : ${message.labelIds}" th:text="${labelId}"></li>
    </ul>
    <h3>Payload Headers:</h3>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="header : ${message.payload.headers}">
            <td th:text="${header.name}"></td>
            <td th:text="${header.value}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
