<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>메일 읽기</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon"/>
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon"/>

    <!-- 폰트 설정  -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"/>

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet"/>
    <link th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/wemaked.css}" rel="stylesheet"/>
    <script src="/assets/js/theme.js"></script>

    <style>
        /* 공통 버튼 스타일 */
        .btn-custom {
            background-color: #007bff; /* 기본 배경색 설정 (파란색) */
            color: white; /* 텍스트 색상 설정 */
            border: none; /* 기본 테두리 제거 */
            padding: 10px 20px; /* 버튼 안쪽 여백 */
            border-radius: 5px; /* 버튼 모서리 둥글게 */
            font-size: 16px; /* 폰트 크기 */
            cursor: pointer; /* 마우스 포인터를 손 모양으로 */
            transition: background-color 0.3s ease; /* 배경색 전환 효과 */
        }

        /* 버튼 마우스 오버 효과 */
        .btn-custom:hover {
            background-color: #0056b3; /* 마우스 오버 시 배경색을 더 진하게 */
        }

        /* 삭제 버튼은 빨간색으로 설정 */
        .btn-custom-danger {
            background-color: #dc3545;
        }

        .btn-custom-danger:hover {
            background-color: #c82333;
        }

        /* 읽지 않음으로 표시 버튼은 다른 색상으로 설정할 경우 */
        .btn-custom-warning {
            background-color: #ffc107;
            color: black;
        }

        .btn-custom-warning:hover {
            background-color: #e0a800;
        }

        /* 정렬을 위한 버튼 그룹 */
        .btn-group-custom {
            display: flex;
            justify-content: flex-start; /* 왼쪽 정렬 */
            gap: 10px; /* 버튼 사이 간격 */
        }

        /* Custom styles */
        .card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /* 별표 아이콘 스타일 */
        .star-icon {
            cursor: pointer;
            font-size: 1.5rem; /* 아이콘 크기를 적절하게 조정 */
        }

        /* 별표 아이콘 색상 설정 */
        .bi-star-fill {
            color: #ffd700; /* 별표 아이콘을 노란색으로 설정 */
        }

        .bi-star {
            color: #ccc; /* 별표가 비활성화된 상태에서는 회색으로 표시 */
        }

    </style>

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt=""/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge btn-secondary badge-number">4</span> </a>
                <!-- 알림창 아이콘 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        4개의 새 알림이 있습니다
                        <a href="/user/alarm"><span class="badge btn-info p-2 ms-2">전체 보기</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li class="dropdown-footer">
                        <a href="/user/alarm">모든 알림 표시</a>
                    </li>
                </ul>
                <!-- 알림 드롭다운 목록 끝 -->
            </li>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"/>
                    <span class="d-none d-md-block dropdown-toggle ps-2">박영민</span> </a>
                <!-- 프로필 이미지 항목 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>박영민</h6>
                        <span>사원</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/mypage">
                            <i class="bi bi-person"></i>
                            <span>마이 페이지</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/organizationChart">
                            <i class="bi bi-diagram-2"></i>
                            <span>조직도</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                            <i class="bi bi-power"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/admin/main">
                            <i class="bi bi-tools"></i>
                            <span>회사 관리자</span>
                        </a>
                    </li>
                </ul>
                <!-- 프로필 드롭다운 목록 끝 -->
            </li>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>
<!-- Header 끝 -->

<th:block th:include="fragments/commute :: commute"></th:block>
<!-- 출퇴근 Modal 끝 -->

<!-- ======= Sidebar ======= -->
<th:block th:include="fragments/sidebar :: sidebar"></th:block>
<!-- Sidebar 전체 끝 -->
<!-- 메인 몸통 -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>메일 읽기</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/mail/inbox">Email</a></li>
                <li class="breadcrumb-item active">Read</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <div class="btn-group">
                                <div th:if="${!isInTrash}">
                                    <button type="button" class="btn btn-primary me-2 mt-2"
                                            onclick="handleReplyForward('forward')">전달
                                    </button>
                                    <button type="button" class="btn btn-primary me-2 mt-2"
                                            onclick="handleReplyForward('reply')">답장
                                    </button>
                                    <button class="btn btn-primary me-2 mt-2"
                                            th:data-message-id="${message.id}"
                                            th:data-return-url="${returnUrl}"
                                            onclick="showMoveToTrashModal(this)">삭제
                                    </button>
                                    <button id="markUnread" class="btn btn-primary me-2 mt-2"
                                            th:data-message-id="${message.id}"
                                            th:data-return-url="${returnUrl}">읽지않음으로 표시
                                    </button>
                                    <button id="backToList" class="btn btn-primary mt-2"
                                            th:data-return-url="${returnUrl}" onclick="location.href='${returnUrl}'">목록
                                    </button>

                                </div>
                                <div th:if="${isInTrash}">
                                    <button class="btn btn-primary mt-2"
                                            onclick="location.href='/mail/trash'">휴지통으로 돌아가기
                                    </button>
                                </div>
                            </div>
                        </div>


                        <!-- 메일 보낸이 정보 -->
                        <div class="mail-details">
                            <div class="d-flex align-items-center mb-3">
                                <!-- 별표 아이콘 -->
                                <i th:class="${message.starred} ? 'bi-star-fill star-icon' : 'bi-star star-icon'"
                                   th:data-message-id="${message.id}"
                                   onclick="toggleStar(this)"></i>
                                <h3 class="ms-2 mb-0" th:text="${message.subject ?: 'No Subject'}"></h3>
                            </div>
                            <div class="mb-2">
                                <strong>보낸사람:</strong>
                                <span th:text="${message.from ?: 'Unknown Sender'}"></span>
                            </div>
                            <div class="mb-2">
                                <strong>받는사람:</strong>
                                <span th:text="${message.to ?: 'Unknown Recipient'}"></span>
                            </div>
                            <div class="mb-4">
                                <strong>날짜:</strong>
                                <span th:text="${message.date ?: 'Unknown Date'}"></span>
                            </div>
                        </div>

                        <hr>    <!-- 수평선으로 구분 -->

                        <!-- 메일 내용: 원본 HTML 그대로 삽입 -->
                        <div class="mail-content" th:utext="${messageContent}">
                            <!-- 이메일 내용이 여기에 삽입됩니다 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 메일 내용 카드 끝 -->
</main><!-- End main 끝 -->

<!-- 휴지통 이동 경고 모달 -->
<div class="modal fade" id="moveToTrashModal" tabindex="-1" aria-labelledby="moveToTrashModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moveToTrashModalLabel">휴지통으로 이동</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                정말 휴지통으로 이동하겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmMoveToTrash">네</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
            </div>
        </div>
    </div>
</div>
<!-- 휴지통 이동 경고 모달 끝 -->

<!-- ======= Footer ======= -->
<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Footer 끝 -->

<script th:inline="javascript">
    // URL에서 messageId 가져오기
    const urlParams = new URLSearchParams(window.location.search);
    let messageId = urlParams.get('messageId');

    // messageId가 URL에서 가져오지 못한 경우, 템플릿 엔진에서 가져오기
    if (!messageId || messageId === 'default_value') {
        messageId = /*[[${message.id}]]*/ 'default_value';
    }

    document.getElementById('markUnread').addEventListener('click', function () {
        const messageId = this.getAttribute('data-message-id');
        const returnUrl = this.getAttribute('data-return-url');

        console.log("Message ID: ", messageId);  // 콘솔에 출력하여 확인

        if (!messageId || messageId === 'default_value') {
            console.error('Message ID is missing or not properly bound');
            return;
        }

        $.ajax({
            url: '/mail/toggleReadStatus',
            type: 'POST',
            data: JSON.stringify({messageId: messageId, markAsRead: false}),
            contentType: 'application/json',
            success: function (response) {
                if (returnUrl) {
                    window.location.href = returnUrl;
                } else {
                    window.location.href = "/mail/inbox"; // 기본적으로 수신메일함으로 리다이렉트
                }
            },
            error: function (xhr, status, error) {
                console.error('Failed to mark as unread:', error);
                alert('Error: ' + error);
            }
        });
    });

    document.getElementById('backToList').addEventListener('click', function (event) {
        event.preventDefault();
        const returnUrl = this.getAttribute('data-return-url');
        if (returnUrl && returnUrl !== 'null') {
            window.location.href = returnUrl;
        } else {
            window.location.href = "/mail/inbox";
        }
    });


    function showMoveToTrashModal(buttonElement) {
        const messageId = buttonElement.getAttribute('data-message-id');
        const returnUrl = buttonElement.getAttribute('data-return-url');

        console.log("Delete button clicked, message ID:", messageId); // 디버깅 용도
        console.log("Return URL: ", returnUrl); // Return URL 확인

        if (messageId) {
            $('#moveToTrashModal').modal('show');
            document.getElementById('confirmMoveToTrash').addEventListener('click', function () {
                moveToTrash(messageId, returnUrl);
            }, {once: true}); // 한 번만 실행되도록 설정
        } else {
            console.error("Failed to retrieve message ID.");
        }
    }

    function moveToTrash(messageId, returnUrl) {
        $.ajax({
            url: '/mail/trash/' + encodeURIComponent(messageId),
            type: 'POST',
            success: function (response) {
                $('#moveToTrashModal').modal('hide');
                if (returnUrl && returnUrl !== 'null') {
                    window.location.href = returnUrl;
                } else {
                    window.location.href = "/mail/inbox"; // 기본적으로 수신메일함으로 리다이렉트
                }
            },
            error: function (xhr, status, error) {
                console.error('Failed to move email to trash:', error);
                alert('Failed to move email to trash: ' + error);
            }
        });
    }

    function toggleStar(element) {
        const messageId = element.getAttribute('data-message-id');
        const isStarred = element.classList.contains('bi-star-fill');

        $.ajax({
            url: '/mail/toggleStar',
            type: 'POST',
            data: JSON.stringify({
                messageId: messageId,
                starred: !isStarred
            }),
            contentType: 'application/json',
            success: function (response) {
                if (isStarred) {
                    element.classList.remove('bi-star-fill');
                    element.classList.add('bi-star');
                } else {
                    element.classList.remove('bi-star');
                    element.classList.add('bi-star-fill');
                }
                console.log('Starred status updated successfully.');
            },
            error: function (xhr, status, error) {
                console.error('Failed to update starred status:', error);
            }
        });
    }

    // 답장, 전달 처리하는 함수
    function handleReplyForward(action) {
        const emailData = {
            sender: /*[[${message.from}]]*/,
            recipient: /*[[${message.to}]]*/,
            cc: '',
            subject: /*[[${message.subject}]]*/,
            messageContent: /*[[${messageContent}]]*/,
            sentDate: /*[[${message.date}]]*/,
        };

        let newSubject = action === 'reply' ? `RE: ${emailData.subject}` : `FW: ${emailData.subject}`;
        let newMessageContent = `
            <br><br>
            -----Original Message-----<br>
            From: ${emailData.sender}<br>
            To: ${emailData.recipient}<br>
            Cc: ${emailData.cc}<br>
            Sent: ${emailData.sentDate}<br>
            Subject: ${emailData.subject}<br>
            <br>
            ${emailData.messageContent}
        `;

        let recipientEmail = action === 'reply' ? emailData.sender : '';

        // POST 방식으로 데이터 전송
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/mail/compose';

        const subjectInput = document.createElement('input');
        subjectInput.type = 'hidden';
        subjectInput.name = 'subject';
        subjectInput.value = newSubject;
        form.appendChild(subjectInput);

        const messageContentInput = document.createElement('input');
        messageContentInput.type = 'hidden';
        messageContentInput.name = 'messageContent';
        messageContentInput.value = newMessageContent;
        form.appendChild(messageContentInput);

        const actionInput = document.createElement('input');
        actionInput.type = 'hidden';
        actionInput.name = 'action';
        actionInput.value = action;
        form.appendChild(actionInput);

        const recipientEmailInput = document.createElement('input');
        recipientEmailInput.type = 'hidden';
        recipientEmailInput.name = 'recipientEmail';
        recipientEmailInput.value = recipientEmail;
        form.appendChild(recipientEmailInput);

        document.body.appendChild(form);
        form.submit();
    }
</script>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/languages/ko.js"></script>

<!-- 메신저 관련 라이브러리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<!--<script src="/assets/js/wemaked.js"></script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
