<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>별표메일함</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- link 안에는 th:href 사용! -->
    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon"/>
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon"/>

    <!-- 폰트 설정  -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet"/>
    <link th:href="@{/node_modules/froala-editor/css/froala_editor.pkgd.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/wemaked.css}" rel="stylesheet"/>
    <script src="/assets/js/theme.js"></script>

    <style>
        /* 드롭다운 메뉴 스타일 */
        .dropdown-menu {
            min-width: 8rem; /* 최소 너비 설정 */
        }

        /* 체크박스와 드롭다운 버튼을 하나로 묶는 스타일 */
        .custom-checkbox-dropdown {
            display: flex;
            align-items: center;
        }

        .custom-checkbox-dropdown input[type="checkbox"] {
            margin-right: 5px;
        }

        /* 별표 아이콘 스타일 */
        .star-icon {
            cursor: pointer;
        }

        /* 별표 아이콘 색상 설정 */
        .bi-star-fill {
            color: 	#ffd700 /* 별표 아이콘을 노란색으로 설정 */
        }

        /* 이메일 아이콘 스타일 */
        .bi-envelope-fill {
            color: #87CEEB; /* 옅은 하늘색 */
        }

        .bi-envelope-open {
            color: #b0c4de; /* 회끼 도는 하늘색 */
        }

        /* 체크박스, 별표 아이콘, 이메일 아이콘 간격 조정 */
        .checkbox-star-container {
            display: flex;
            align-items: center;
        }

        .checkbox-star-container input[type="checkbox"] {
            margin-right: 10px; /* 체크박스와 별표 아이콘 사이의 간격 */
        }

        .checkbox-star-container .star-icon {
            margin-right: 10px; /* 별표 아이콘과 이메일 아이콘 사이의 간격 */
        }

        .checkbox-star-container .bi-envelope-fill,
        .checkbox-star-container .bi-envelope-open {
            margin-right: 10px; /* 이메일 아이콘과 나머지 내용 사이의 간격 */
        }

    </style>
</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt=""/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge btn-secondary badge-number">4</span> </a>
                <!-- 알림창 아이콘 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        4개의 새 알림이 있습니다
                        <a href="/user/alarm"><span class="badge btn-info p-2 ms-2">전체 보기</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li class="dropdown-footer">
                        <a href="/user/alarm">모든 알림 표시</a>
                    </li>
                </ul>
                <!-- 알림 드롭다운 목록 끝 -->
            </li>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"/>
                    <span class="d-none d-md-block dropdown-toggle ps-2">박영민</span> </a>
                <!-- 프로필 이미지 항목 끝 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>박영민</h6>
                        <span>사원</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/mypage">
                            <i class="bi bi-person"></i>
                            <span>마이 페이지</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/organizationChart">
                            <i class="bi bi-diagram-2"></i>
                            <span>조직도</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                            <i class="bi bi-power"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/admin/main">
                            <i class="bi bi-tools"></i>
                            <span>회사 관리자</span>
                        </a>
                    </li>
                </ul>
                <!-- 프로필 드롭다운 목록 끝 -->
            </li>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>
<!-- Header 끝 -->

<th:block th:include="fragments/commute :: commute"></th:block>
<!-- 출퇴근 Modal 끝 -->

<!-- ======= Sidebar ======= -->
<th:block th:include="fragments/sidebar :: sidebar"></th:block>
<!-- Sidebar 전체 끝 -->
<!-- 메인 몸통 -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>별표메일함</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/mail/inbox">Email</a></li>
                <li class="breadcrumb-item active">Starred</li>
            </ol>
        </nav>
        <div class="offset-sm-0">
            <div class="col-sm-3">
                <button class="btn btn-primary" onclick="location.href='/mail/compose'" type="button">메일 쓰기</button>
            </div>
        </div>
    </div>

    <!-- 별표 메일 리스트 섹션 -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title"></div>
                        <!-- Table with stripped rows -->
                        <table class="table table-hover datatable" id="dataTable">
                            <thead>
                            <tr id="title-name">
                                <th>
                                    <div class="custom-checkbox-dropdown">
                                        <input type="checkbox" id="selectAll">
                                        <div class="dropdown ms-2">
                                            <button class="btn btn-light dropdown-toggle p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                ▼
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" id="selectAllBtn">전체선택</a>
                                                <a class="dropdown-item" href="#" id="deselectAllBtn">선택안함</a>
                                                <a class="dropdown-item" href="#" id="unmarkAsStarredBtn">별표표시해제</a>
                                                <a class="dropdown-item" href="#" id="markAsImportantBtn">중요메일함으로 이동</a>
                                                <a class="dropdown-item" href="#" id="moveToTrashBtn">휴지통으로 이동</a>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th>보낸사람</th>
                                <th>제목</th>
                                <th>날짜</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 서버에서 전달된 messages 리스트를 렌더링 -->
                            <tr th:each="message : ${messages}" th:data-message-id="${message.id}">
                                <th>
                                    <div class="checkbox-star-container">
                                        <input type="checkbox">
                                        <!-- 별표 아이콘 -->
                                        <i class="bi" th:classappend="${message.starred} ? 'bi-star-fill star-icon' : 'bi-star star-icon'"
                                           onclick="toggleStar(this)"></i>
                                        <!-- 읽음 상태에 따라 아이콘을 표시 -->
                                        <i th:class="${message.read} ? 'bi-envelope-open' : 'bi-envelope-fill'" class="ms-2"></i>
                                    </div>
                                </th>
                                <td>
                                    <a th:href="@{/mail/view(messageId=${message.id})}" th:text="${message.from}">보낸사람</a>
                                </td>
                                <td>
                                    <a th:href="@{/mail/view(messageId=${message.id})}" th:text="${message.subject}">제목</a>
                                </td>
                                <td>
                                    <a th:href="@{/mail/view(messageId=${message.id})}" th:text="${message.date}">날짜</a>
                                </td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(messages)}">
                                <td colspan="4">별표메일함이 비워져있습니다.</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- 테이블 끝 -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- 중요 메일함 이동 알림 모달 -->
<div class="modal fade" id="importantModal" tabindex="-1" aria-labelledby="importantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importantModalLabel">알림</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>다음 이메일이 중요 메일함으로 성공적으로 이동되었습니다:)</p>
                <ul id="importantList">
                    <!-- 이메일 제목이 여기에 추가됩니다 -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- 중요 메일함 이동 알림 모달 끝 -->

<!-- 이미 중요 메일함에 있음 알림 모달 -->
<div class="modal fade" id="alreadyImportantModal" tabindex="-1" aria-labelledby="alreadyImportantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alreadyImportantModalLabel">알림</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>다음 이메일은 이미 중요 메일함에 있습니다:(</p>
                <ul id="alreadyImportantList">
                    <!-- 이메일 제목이 여기에 추가됩니다 -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- 이미 중요 메일함에 있음 알림 모달 끝 -->

<!-- 휴지통 이동 경고 모달 -->
<div class="modal fade" id="moveToTrashModal" tabindex="-1" aria-labelledby="moveToTrashModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moveToTrashModalLabel">휴지통으로 이동</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                정말 휴지통으로 이동하겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmMoveToTrash" data-bs-dismiss="modal">네</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
            </div>
        </div>
    </div>
</div>
<!-- 휴지통 이동 경고 모달 끝 -->

<!-- ======= Footer ======= -->
<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Footer 끝 -->

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/froala_editor.pkgd.min.js"></script>
<script type="text/javascript" src="/node_modules/froala-editor/js/languages/ko.js"></script>

<!-- 메신저 관련 라이브러리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/wemaked.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    // 전체 선택 기능
    document.getElementById('selectAll').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('#dataTable tbody input[type="checkbox"]');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });

    // 드롭다운 메뉴의 전체 선택/해제 기능
    document.getElementById('selectAllBtn').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('#dataTable tbody input[type="checkbox"]');
        checkboxes.forEach(checkbox => {
            checkbox.checked = true;
        });
        document.getElementById('selectAll').checked = true;
    });

    document.getElementById('deselectAllBtn').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('#dataTable tbody input[type="checkbox"]');
        checkboxes.forEach(checkbox => {
            checkbox.checked = false;
        });
        document.getElementById('selectAll').checked = false;
    });

    // 별표 토글 기능 및 서버에 상태 업데이트
    function toggleStar(element) {
        const row = element.closest('tr');
        const messageId = row.getAttribute('data-message-id');
        let isStarred = element.classList.contains('bi-star-fill');

        // 토글 상태 변경
        if (isStarred) {
            element.classList.remove('bi-star-fill');
            element.classList.add('bi-star');
        } else {
            element.classList.remove('bi-star');
            element.classList.add('bi-star-fill');
        }

        // 서버에 별표 상태 변경 요청
        $.ajax({
            url: '/mail/toggleStar',
            type: 'POST',
            data: JSON.stringify({messageId: messageId, starred: !isStarred}),
            contentType: 'application/json',
            success: function(response) {
                console.log('Starred status updated successfully.');
            },
            error: function(xhr, status, error) {
                console.error('Failed to update starred status:', error);
            }
        });
    }

    // 별표표시해제 기능
    document.getElementById('unmarkAsStarredBtn').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('#dataTable tbody input[type="checkbox"]:checked');
        const messageIds = [];

        checkboxes.forEach(checkbox => {
            const row = checkbox.closest('tr');
            const starIcon = row.querySelector('.star-icon');
            const messageId = row.getAttribute('data-message-id');

            if (starIcon.classList.contains('bi-star-fill')) {
                starIcon.classList.remove('bi-star-fill');
                starIcon.classList.add('bi-star');

                // 서버에 별표 상태 해제 요청
                $.ajax({
                    url: '/mail/toggleStar',
                    type: 'POST',
                    data: JSON.stringify({messageId: messageId, starred: false}),
                    contentType: 'application/json',
                    success: function(response) {
                        console.log('Unstarred status updated successfully.');
                    },
                    error: function(xhr, status, error) {
                        console.error('Failed to update unstarred status:', error);
                    }
                });
            }
        });
    });

    // 중요 메일함으로 이동 기능
    document.getElementById('markAsImportantBtn').addEventListener('click', function () {
        const checkboxes = document.querySelectorAll('#dataTable tbody input[type="checkbox"]:checked');
        const messageIds = [];

        // 선택된 메일이 없는 경우 경고 메시지 표시
        if (checkboxes.length === 0) {
            alert('먼저 메일을 선택하세요.');
            return;  // 함수 종료
        }

        checkboxes.forEach(checkbox => {
            const row = checkbox.closest('tr');
            const messageId = row.getAttribute('data-message-id');
            messageIds.push(messageId);
        });

        if (messageIds.length > 0) {
            $.ajax({
                url: '/mail/markAsImportant',
                type: 'POST',
                data: JSON.stringify(messageIds),
                contentType: 'application/json',
                success: function (response) {
                    let alreadyImportant = false;
                    let markedAsImportant = false;

                    if (response.alreadyImportant && response.alreadyImportant.length > 0) {
                        alreadyImportant = true;
                        const alreadyImportantList = document.getElementById('alreadyImportantList');
                        alreadyImportantList.innerHTML = '';

                        response.alreadyImportant.forEach(title => {
                            const listItem = document.createElement('li');
                            listItem.textContent = title;
                            alreadyImportantList.appendChild(listItem);
                        });

                        var alreadyImportantModal = new bootstrap.Modal(document.getElementById('alreadyImportantModal'));
                        alreadyImportantModal.show();
                    }

                    if (response.markedAsImportant && response.markedAsImportant.length > 0) {
                        markedAsImportant = true;
                        const importantList = document.getElementById('importantList');
                        importantList.innerHTML = '';

                        response.markedAsImportant.forEach(title => {
                            const listItem = document.createElement('li');
                            listItem.textContent = title;
                            importantList.appendChild(listItem);
                        });

                        var importantModal = new bootstrap.Modal(document.getElementById('importantModal'));
                        importantModal.show();
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Failed to update important status:', error);
                }
            });
        }
    });

    // 휴지통으로 이동 기능
    document.getElementById('moveToTrashBtn').addEventListener('click', function() {
        const checkboxes = document.querySelectorAll('#dataTable tbody input[type="checkbox"]:checked');
        const messageIds = [];

        if (checkboxes.length === 0) {
            alert('먼저 메일을 선택하세요.');
            return;
        }

        checkboxes.forEach(checkbox => {
            const row = checkbox.closest('tr');
            const messageId = row.getAttribute('data-message-id');
            messageIds.push(messageId);
        });

        // 모달 표시
        $('#moveToTrashModal').modal('show');

        document.getElementById('confirmMoveToTrash').onclick = function() {
            // 서버에 TRASH 라벨로 이동 요청
            $.ajax({
                url: '/mail/moveToTrash',
                type: 'POST',
                data: JSON.stringify(messageIds),
                contentType: 'application/json',
                success: function(response) {
                    // 화면에서 해당 이메일 제거
                    checkboxes.forEach(checkbox => {
                        checkbox.closest('tr').remove();
                    });
                },
                error: function(xhr, status, error) {
                    console.error('Failed to move messages to trash:', error);
                }
            });
        };
    });
</script>
</body>
</html>