<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>TODO</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Favicons -->
    <link rel="icon" th:href="@{/assets/img/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}"/>

    <!-- 폰트 설정  -->
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}"/>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
    />
    <!-- 즐겨찾기 별 버튼 CSS  -->
    <link rel="stylesheet" th:href="@{/assets/css/wemaked.css}"/>
    <!-- Vendor CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.snow.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/quill/quill.bubble.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/remixicon/remixicon.css}"/>
    <link rel="stylesheet" th:href="@{/assets/vendor/simple-datatables/style.css}"/>

    <!-- Template Main CSS File -- th:href 사영 !! -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header class="header fixed-top d-flex align-items-center" id="header">
    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="/">
            <img alt="" src="../static/assets/img/logo.png"/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">


            <li class="nav-item dropdown"> <!--알림아이콘-->
                <a class="nav-link nav-icon" data-bs-toggle="dropdown" href="#">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span> </a
                ><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        4개의 최신 알림
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">알림 전체</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>
                </ul>
                <!-- End Notification Dropdown Items -->
            </li>
            <!-- End Notification Nav -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" data-bs-toggle="dropdown" href="#">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span> </a
                ><!-- End Messages Icon  메일 아이콘 -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img alt="" class="rounded-circle" src="../static/assets/img/messages-1.jpg"/>
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>
                </ul>
                <!-- End Messages Dropdown Items -->
            </li>
            <!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown" href="#">
                    <img alt="Profile" class="rounded-circle" src="/assets/img/profile-img1.jpg"/>
                    <span class="d-none d-md-block dropdown-toggle ps-2">K.ZURA</span> </a
                ><!-- End Profile Iamge Icon -->


                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>박성은</h6>
                        <span>Web Designer</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/mypage">
                            <i class="bi bi-person"></i>
                            <span>마이페이지 </span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/setting">
                            <i class="bi bi-gear"></i>
                            <span>환경 설정</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/Q&A">
                            <i class="bi bi-question-circle"></i>
                            <span>고객센터 </span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/logout">
                            <i class="bi bi-power"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                </ul>
                <!-- End Profile Dropdown Items -->
            </li>
            <!-- End Profile Nav -->
        </ul>
    </nav>
    <!-- End Icons Navigation -->
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside class="sidebar" id="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="bi bi-grid"></i>
                <span>Dashboard HONE</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#work-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-clipboard-data"></i>
                <span>업무</span>
                <i class="bi bi-chevron-down ms-menu"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="work-nav">
                <li>
                    <a href="/todo/list"> <i class="bi bi-circle"></i><span>TODO</span> </a>
                </li>
                <li>
                    <a href="/project/list"> <i class="bi bi-circle"></i><span>프로젝트</span> </a>
                </li>
                <li>
                    <a href="/work/list"> <i class="bi bi-circle"></i><span>업무</span> </a>
                </li>
                <li>
                    <a href="/chart/main"> <i class="bi bi-circle"></i><span>차트</span> </a>
                </li>
            </ul>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#board-nav" data-bs-toggle="collapse" href="#">
                <i class="bi  bi-people-fill"></i><span>게시판</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul class="nav-content collapse" data-bs-parent="#sidebar-nav" id="board-nav">
                <li>
                    <a href="/notice/list"> <i class="bi bi-circle"></i><span>공지사항</span> </a>
                </li>
                <li>
                    <a href="/board/list"> <i class="bi bi-circle"></i><span>경조사</span> </a>
                </li>
                <li>
                    <a href="/board/cafeteria"> <i class="bi bi-circle"></i><span>구내식당</span> </a>
                </li>
            </ul>
        </li>
        <!-- -----------------------------------------------------------사이드 바 ------------------------------------------------------ -->
    </ul>
</aside>
<!----------------------------------------------------------------------고정 사이드바 ------------------------------------------------------------------------>
<main class="main" id="main">
    <div class="pagetitle">
        <h1>TODO LIST</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">HOME</a></li>
                <li class="breadcrumb-item active">TODO</li>
            </ol>
        </nav>
    </div>
    <!------------------------------------------------------------------페이지 별 타이틀 ------------------------------------------------------------------------>

    <!------------------------------------------------------------------중요 리스트 (위젯 1)---------------------------------------------------------------------->
    <section class="section">
        <div class="row">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-body">
                        <h5></h5>
                        <ul class="nav nav-tabs nav-tabs-bordered" id="starTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button aria-controls="home" aria-selected="true" class="nav-link active"
                                        data-bs-target="#star-tab-home" data-bs-toggle="tab" id="star-ab" role="tab"
                                        type="button"> 즐겨찾기
                                </button>
                            </li>
                        </ul>
                        <!--         탭 목록 들        -->
                        <div class="tab-content pt-2 overflow-y-auto overflow-x-hidden" id="starTabContent"
                             style="height: 300px">
                            <!--         탭 내용들        -->
                            <div aria-labelledby="home-tab" class="tab-pane fade show active" id="star-tab-home"
                                 role="tabpanel">
                                <div class="accordion accordion-flush" id="star-group-1">
                                    <div class="row mb-5 mt-3">
                                        <div class="activity-item d-flex">
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" id="starCheck1" type="checkbox">
                                                <div class="activity-content">차트 페이지 메인 정리</div>
                                            </div>
                                        </div>
                                        <div class="activity-item d-flex">
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" id="starCheck2" type="checkbox">
                                                <div class="activity-content">차트 생성 페이지 레이아웃</div>
                                            </div>
                                        </div>
                                        <div class="activity-item d-flex">
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" id="starCheck3" type="checkbox">
                                                <div class="activity-content">차트 페이지 기능 구현</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <h5></h5>
                        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button aria-controls="home" aria-selected="true" class="nav-link active"
                                        data-bs-target="#bordered-home" data-bs-toggle="tab" id="home-tab" role="tab"
                                        type="button">전체보기
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="progg" aria-selected="false" class="nav-link"
                                        data-bs-target="#bordered-progg" data-bs-toggle="tab" id="progg-tab" role="tab"
                                        type="button">진행 항목
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="suss" aria-selected="true" class="nav-link"
                                        data-bs-target="#bordered-suss" data-bs-toggle="tab" id="suss-tab" role="tab"
                                        type="button">완료 항목
                                </button>
                            </li>
                        </ul>
                        <!--         탭 목록 들        -->
                        <div class="tab-content pt-2 overflow-y-auto overflow-x-hidden" id="borderedTabContent" style="height: 300px">
                            <!--         탭 내용들        -->

                            <div aria-labelledby="home-tab" class="tab-pane fade show active" id="bordered-home" role="tabpanel">
                                <div class="accordion accordion-flush" id="faq-group-1">
                                    <div class="row mb-5 mt-3">
                                        <!-- 전체 탭 콘텐츠 -->
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="progg-tab" class="tab-pane fade" id="bordered-progg" role="tabpanel">
                                <div class="row mb-5 mt-3">
                                    <div class="activity-item d-flex">
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" id="proggCheck1" type="checkbox">
                                            <div class="activity-content">즐겨찾기 아이콘 위치 정리</div>
                                        </div>
                                    </div>
                                    <div class="activity-item d-flex">
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" id="proggCheck2" type="checkbox">
                                            <div class="activity-content">회의실 예약 페이지</div>
                                        </div>
                                    </div>
                                    <div class="activity-item d-flex">
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" id="proggCheck3" type="checkbox">
                                            <div class="activity-content">프로젝트 임시보관함 정리</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="suss-tab" class="tab-pane fade" id="bordered-suss" role="tabpanel">
                                <div class="row mb-5 mt-3">
                                    <!-- 완료 탭의 리스트 항목들 -->
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-danger" onclick="showConfirmationModal()" type="button">삭제
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--         작성 폼      -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">TODO 등록</h5>
                        <form class="row g-3">
                            <div class="col-md-1">
                                <i class="bi bi-star star-icon right-align-block right-align-block" onclick="toggleStar(this, event)"></i>
                            </div>
                            <div class="col-md-3">
                            <label class="form-label" for="validationDefault04">카테고리</label>
                            <select class="form-select" id="validationDefault04" required>
                                <option disabled selected value="">DB연동필요</option>
                                <option>카테고리1</option>
                                <option>카테고리2</option>
                                <option>카테고리3</option>
                            </select>
                        </div>
                            <div class="col-md-6">
                                <label class="form-label" for="validationDefault03">내용</label>
                                <input class="form-control" id="validationDefault03" required type="text">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label" for="validationDefault05">작성일</label>
                                <input class="form-control" id="validationDefault05" type="text" value="해당날짜고정">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">등록</button>
                                <button class="btn btn-primary" type="submit">취소</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->


<!------------------------------------------------------------삭제 확인 모달 창 --------------------------------------------------------------------------->
<div aria-hidden="true" aria-labelledby="confirmationModalLabel" class="modal fade" id="confirmationModal"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">삭제 확인</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <!--                <button type="button" class="btn btn-danger" onclick="deleteAlerts()">예</button>-->
                <button class="btn btn-danger" data-bs-dismiss="modal" type="button">예</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" type="button">아니요</button>
            </div>
        </div>
    </div>
</div>


<!---------------------------------------------- ======= 고정 Footer ======= ----------------------------------------------------->
<footer class="footer" id="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong
    >. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer>
<!-- End Footer -->

<a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
        class="bi bi-arrow-up-short"></i></a>


<script defer>
    document.addEventListener("DOMContentLoaded", function () {
        // 진행중 및 중요 탭의 모든 체크박스 요소를 선택합니다.
        const proggContainer = document.getElementById("bordered-progg").querySelector(".row");
        const starContainer = document.getElementById("star-tab-home").querySelector(".row");
        const sussContainer = document.getElementById("bordered-suss").querySelector(".row");
        const homeContainer = document.getElementById("bordered-home").querySelector(".accordion");
        const form = document.querySelector("form");

        // 체크박스가 변경될 때 완료 탭으로 이동시키는 함수입니다.
        function moveToCompletedTab(check) {
            if (check.checked) {
                const activityItem = check.closest(".activity-item");
                sussContainer.appendChild(activityItem);
                // 전체 탭에서 해당 항목을 삭제합니다.
                homeContainer.querySelectorAll(".activity-item").forEach(item => {
                    if (item.querySelector("input").isSameNode(check)) {
                        item.remove();
                    }
                });
                updateHomeTab(); // 전체 탭 업데이트
            }
        }

        // 항목을 완료 탭으로 이동 시 전체 탭을 다시 업데이트하지 않도록 (중복방지)
        function handleCheckboxChange() {
            moveToCompletedTab(this);
        }

        // 전체 탭을 업데이트하는 함수입니다.
        function updateHomeTab() {
            homeContainer.innerHTML = ''; // 전체탭 기존 항목 삭제
            document.querySelectorAll(".activity-item").forEach(item => {
                const clone = item.cloneNode(true); // 항목 복제
                clone.querySelector("input").addEventListener("change", handleCheckboxChange); // 이벤트 리스너 추가
                homeContainer.appendChild(clone); // 전체탭에 항목 추가
            });
        }

        // 페이지 로드 시 전체 탭을 초기화합니다.
        updateHomeTab();

        // 작성폼에서 새로운 TODO를 추가하는 함수입니다.
        form.addEventListener("submit", function (event) {
            event.preventDefault(); // 폼의 기본 동작을 막음
            const todoText = form.querySelector("#validationDefault03").value; // 입력된 TODO 텍스트 가져오기
            if (!todoText) return; // 입력값이 없으면 함수 종료

            // 새로운 TODO 항목 생성
            const newItem = document.createElement("div");
            newItem.classList.add("activity-item", "d-flex");
            newItem.innerHTML = `
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox">
                    <div class="activity-content">${todoText}</div>
                </div>
            `;
            newItem.querySelector("input").addEventListener("change", handleCheckboxChange); // 이벤트 리스너 추가

            // 새로운 항목을 진행중 탭과 전체 탭에 추가합니다.
            proggContainer.appendChild(newItem);
            updateHomeTab(); // 전체 탭 업데이트
            form.reset(); // 폼 초기화
        });

        // 중요(고정) 탭의 모든 체크박스에 이벤트 리스너 추가
        document.querySelectorAll("#star-tab-home .form-check-input").forEach(checkbox => {
            checkbox.addEventListener("change", handleCheckboxChange);
        });

        // 진행중 탭의 모든 체크박스에 이벤트 리스너 추가
        document.querySelectorAll("#bordered-progg .form-check-input").forEach(checkbox => {
            checkbox.addEventListener("change", handleCheckboxChange);
        });
    });
</script>

<!-- 삭제 확인 모달 JS  -->
<script>
    function showConfirmationModal() {
        var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        confirmationModal.show();
    }

    // 모달에서 '예'를 클릭했을 때 호출되는 함수
    function deleteAlerts() {
        // 알림 삭제 로직 구현
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => alert.remove());

        var confirmationModal = bootstrap.Modal.getInstance(document.getElementById('confirmationModal'));
        confirmationModal.hide(); // 모달 닫기

        // 모달이 완전히 닫힌 후 페이지 이동
        confirmationModal._element.addEventListener('hidden.bs.modal', function () {
            window.location.href = '/todo/list';
        });
    }
</script>

<script src="/assets/js/wemaked.js"></script>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>


<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
</body>
</html>
