<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>TODO LIST</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon"/>
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon"/>

    <!-- 폰트 설정 -->
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"/>

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet"/>
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet"/>
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet"/>
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet"/>
    <link href="/node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css"/>

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link href="/assets/css/wemaked.css" rel="stylesheet"/>
    <script src="/assets/js/theme.js"></script>

    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<!-- ======= Header ======= -->
<header class="header fixed-top d-flex align-items-center" id="header">
    <div class="d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center" href="/">
            <img alt="" src="/assets/img/logo.png"/>
            <span class="d-none d-lg-block">CHAIN</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- 로고 끝 -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword" />
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- 검색바 끝 -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <!-- <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle" href="#">
                <i class="bi bi-search"></i>
              </a>
            </li> -->
            <!-- 검색 아이콘 끝 -->

            <li class="nav-item dropdown" id="commuteIcon">
                <div class="from-check form-switch me-3">
                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox">
                </div>
            </li>
            <!-- 출퇴근 아이콘 끝 -->

            <th:block th:include="fragments/notifications :: notifications"></th:block>
            <!-- 알림 전체 끝 -->

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" href="/user/setting">
                    <i class="bi bi-gear"></i>
                </a>
                <!-- 환경설정 아이콘 끝 -->
            </li>
            <!-- 환경설정 전체 끝 -->


            <th:block th:include="fragments/profile :: profile"></th:block>
            <!-- 프로필 전체 끝 -->
        </ul>
    </nav>
    <!-- 상단바 끝 -->
</header>

<!-- Header 끝 -->

<th:block th:include="fragments/commute :: commute"></th:block>
<!-- 출퇴근 Modal 끝 -->

<!-- ======= Sidebar ======= -->
<th:block th:include="fragments/sidebar :: sidebar"></th:block>
<!-- Sidebar 전체 끝 -->
<!----------------------------------------------------------------------고정 사이드바 ------------------------------------------------------------------------>
<main class="main" id="main">
    <div class="pagetitle">
        <h1>TODO LIST</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Todo List</li>
            </ol>
        </nav>
    </div>
    <!------------------------------------------------------------------페이지 별 타이틀 ------------------------------------------------------------------------>
    <section class="section">
        <div class="row">

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5></h5>
                        <ul class="nav nav-tabs nav-tabs-bordered" id="starTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button aria-controls="home" aria-selected="true" class="nav-link active"
                                        data-bs-target="#star-tab-home" data-bs-toggle="tab" id="star-ab" role="tab"
                                        type="button"> 즐겨찾기
                                </button>
                            </li>
                        </ul>

                        <div class="tab-content pt-2 overflow-y-auto overflow-x-hidden" id="starTabContent" style="height: 300px">
                            <div aria-labelledby="home-tab" class="tab-pane fade show active" id="star-tab-home" role="tabpanel">
                                <div class="accordion accordion-flush" id="star-group-1">

                                    <div class="row mb-5 mt-3">
                                        <!-- 서버에서 불러온 즐겨찾기 항목을 여기에 출력 -->
                                        <div class="activity-item d-flex" th:each="todo : ${favoriteTodos}">
                                            <div class="form-check mt-2">
                                                <form method="post" th:action="@{/todo/updateStatus}">
                                                    <input type="hidden" name="todoNo" th:value="${todo.todoNo}">
                                                    <input type="hidden" name="todoStatus" th:value="${!todo.todoStatus}">
                                                    <input class="form-check-input" type="checkbox" th:checked="${todo.todoStatus}" onclick="this.closest('form').submit()">
                                                </form>
                                                <div class="activity-content" th:classappend="${todo.todoStatus} ? 'completed-todo' : ''">
                                                    <div>
                                                        <!-- 즐겨찾기 아이콘 -->
                                                        <i class="bi star-icon right-align-block" th:classappend="${todo.todoFavorite} ? ' bi-star-fill' : ' bi-star'" th:onclick="'toggleFavorite(' + ${todo.todoNo} + ', ' + (!${todo.todoFavorite}) + ')'"></i>
                                                        <span style="color: rgba(130,130,130,0.68);">[</span>
                                                        <span style="color: rgba(130,130,130,0.68);" th:text="${todo.todoCategory}"></span>
                                                        <span style="color:rgba(130,130,130,0.68);">]</span>
                                                        <span th:text="${todo.todoContent}"></span>
                                                        <span style="color: rgba(130,130,130,0.68);">(</span>
                                                        <span style="color: rgba(130,130,130,0.68);" th:text="${#temporals.format(todo.todoCreatedDate, 'yy/MM/dd')}"></span>
                                                        <span style="color:rgba(130,130,130,0.68);">)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5></h5>
                        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button aria-controls="today" aria-selected="true" class="nav-link active"
                                        data-bs-target="#bordered-today" data-bs-toggle="tab" id="today-tab" role="tab"
                                        type="button"> To Day *
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="home" aria-selected="true" class="nav-link"
                                        data-bs-target="#bordered-home" data-bs-toggle="tab" id="home-tab" role="tab"
                                        type="button">전체보기
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="progg" aria-selected="false" class="nav-link"
                                        data-bs-target="#bordered-progg" data-bs-toggle="tab" id="progg-tab" role="tab"
                                        type="button">진행 항목
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button aria-controls="suss" aria-selected="true" class="nav-link"
                                        data-bs-target="#bordered-suss" data-bs-toggle="tab" id="suss-tab" role="tab"
                                        type="button">완료 항목
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2 overflow-y-auto overflow-x-hidden" id="borderedTabContent" style="height: 300px">
                            <div aria-labelledby="today-tab" class="tab-pane fade show active" id="bordered-today" role="tabpanel">
                                <div class="accordion accordion-flush" id="faq-group-4">
                                    <div class="row mb-5 mt-3"id="today-todos-container">
                                        <!-- 오늘 날짜 콘텐츠 -->
                                        <div class="activity-item d-flex" th:each="todo : ${todayTodos}">
                                            <div class="form-check mt-2">
                                                <form method="post" th:action="@{/todo/updateStatus}" th:id="'statusForm-' + ${todo.todoNo}">
                                                    <input name="todoNo" th:value="${todo.todoNo}" type="hidden">
                                                    <input name="todoStatus" th:value="${!todo.todoStatus}" type="hidden">
                                                    <input class="form-check-input" th:checked="${todo.todoStatus}" th:onchange="'document.getElementById(\'statusForm-' + ${todo.todoNo} + '\').submit()'" type="checkbox">
                                                </form>
                                                <div class="activity-content" th:class="${todo.todoStatus} ? 'completed-todo' : ''">
                                                    <div>
                                                        <i class="bi star-icon right-align-block" th:classappend="${todo.todoFavorite} ? ' bi-star-fill' : ' bi-star'" th:onclick="'toggleFavorite(' + ${todo.todoNo} + ', ' + (!${todo.todoFavorite}) + ')'"></i>
                                                        <span style="color: rgba(130,130,130,0.68);">[</span>
                                                        <span style="color: rgba(130,130,130,0.68);" th:text="${todo.todoCategory}"></span>
                                                        <span style="color:rgba(130,130,130,0.68);">]</span>
                                                        <span th:text="${todo.todoContent}"></span>
                                                        <span style="color: rgba(130,130,130,0.68);">(</span>
                                                        <span style="color: rgba(130,130,130,0.68);" th:text="${#temporals.format(todo.todoCreatedDate, 'yy/MM/dd')}"></span>
                                                        <span style="color:rgba(130,130,130,0.68);">)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="home-tab" class="tab-pane fade" id="bordered-home" role="tabpanel">
                                <div class="accordion accordion-flush" id="faq-group-1">
                                    <div class="row mb-5 mt-3">
                                        <!-- 전체보기 콘텐츠 -->
                                        <div class="activity-item d-flex" th:each="todo : ${todos}">
                                            <div class="form-check mt-2">
                                                <form method="post" th:action="@{/todo/updateStatus}" th:id="'statusForm-' + ${todo.todoNo}">
                                                    <input name="todoNo" th:value="${todo.todoNo}" type="hidden">
                                                    <input name="todoStatus" th:value="${!todo.todoStatus}" type="hidden">
                                                    <input class="form-check-input" th:checked="${todo.todoStatus}" th:onchange="'document.getElementById(\'statusForm-' + ${todo.todoNo} + '\').submit()'" type="checkbox">
                                                </form>
                                                <div class="activity-content" th:class="${todo.todoStatus} ? 'completed-todo' : ''">
                                                    <div>
                                                        <i class="bi star-icon right-align-block" th:classappend="${todo.todoFavorite} ? ' bi-star-fill' : ' bi-star'" th:onclick="'toggleFavorite(' + ${todo.todoNo} + ', ' + (!${todo.todoFavorite}) + ')'"></i>
                                                        <span style="color: rgba(130,130,130,0.68);">[</span>
                                                        <span style="color: rgba(130,130,130,0.68);" th:text="${todo.todoCategory}"></span>
                                                        <span style="color:rgba(130,130,130,0.68);">]</span>
                                                        <span th:text="${todo.todoContent}"></span>
                                                        <span style="color: rgba(130,130,130,0.68);">(</span>
                                                        <span style="color: rgba(130,130,130,0.68);" th:text="${#temporals.format(todo.todoCreatedDate, 'yy/MM/dd')}"></span>
                                                        <span style="color:rgba(130,130,130,0.68);">)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="progg-tab" class="tab-pane fade" id="bordered-progg" role="tabpanel">
                                <div class="row mb-5 mt-3">
                                    <!-- 진행 중 콘텐츠 -->
                                    <div class="activity-item d-flex" th:each="todo : ${incompleteTodos}">
                                        <div class="form-check mt-2">
                                            <form method="post" th:action="@{/todo/updateStatus}" th:id="'statusForm-' + ${todo.todoNo}">
                                                <input name="todoNo" th:value="${todo.todoNo}" type="hidden">
                                                <input name="todoStatus" th:value="${!todo.todoStatus}" type="hidden">
                                                <input class="form-check-input" th:checked="${todo.todoStatus}" th:onchange="'document.getElementById(\'statusForm-' + ${todo.todoNo} + '\').submit()'" type="checkbox">
                                            </form>
                                            <div class="activity-content">
                                                <div>
                                                    <i class="bi star-icon right-align-block" th:classappend="${todo.todoFavorite} ? ' bi-star-fill' : ' bi-star'" th:onclick="'toggleFavorite(' + ${todo.todoNo} + ', ' + (!${todo.todoFavorite}) + ')'"></i>
                                                    <span style="color: rgba(130,130,130,0.68);">[</span>
                                                    <span style="color: rgba(130,130,130,0.68);" th:text="${todo.todoCategory}"></span>
                                                    <span style="color:rgba(130,130,130,0.68);">]</span>
                                                    <span th:text="${todo.todoContent}"></span>
                                                    <span style="color: rgba(130,130,130,0.68);">(</span>
                                                    <span style="color: rgba(130,130,130,0.68);" th:text="${#temporals.format(todo.todoCreatedDate, 'yy/MM/dd')}"></span>
                                                    <span style="color:rgba(130,130,130,0.68);">)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="suss-tab" class="tab-pane fade" id="bordered-suss" role="tabpanel">
                                <div class="row mb-5 mt-3">
                                    <!-- 완료된 콘텐츠 -->
                                    <div class="activity-item d-flex" th:each="todo : ${completedTodos}">
                                        <div class="form-check mt-2">
                                            <form method="post" th:action="@{/todo/updateStatus}" th:id="'statusForm-' + ${todo.todoNo}">
                                                <input name="todoNo" th:value="${todo.todoNo}" type="hidden">
                                                <input name="todoStatus" th:value="${!todo.todoStatus}" type="hidden">
                                                <input class="form-check-input" th:checked="${todo.todoStatus}" th:onchange="'document.getElementById(\'statusForm-' + ${todo.todoNo} + '\').submit()'" type="checkbox">
                                            </form>
                                            <div class="activity-content" th:classappend="${todo.todoStatus} ? 'completed-todo' : ''">
                                                <div>
                                                    <i class="bi star-icon right-align-block" th:classappend="${todo.todoFavorite} ? ' bi-star-fill' : ' bi-star'" th:onclick="'toggleFavorite(' + ${todo.todoNo} + ', ' + (!${todo.todoFavorite}) + ')'"></i>
                                                    <span style="color: rgba(130,130,130,0.68);">[</span>
                                                    <span style="color: rgba(130,130,130,0.68);" th:text="${todo.todoCategory}"></span>
                                                    <span style="color:rgba(130,130,130,0.68);">]</span>
                                                    <span th:text="${todo.todoContent}"></span>
                                                    <span style="color: rgba(130,130,130,0.68);">(</span>
                                                    <span style="color: rgba(130,130,130,0.68);" th:text="${#temporals.format(todo.todoCreatedDate, 'yy/MM/dd')}"></span>
                                                    <span style="color:rgba(130,130,130,0.68);">)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-danger" onclick="showDeleteAllConfirmationModal(event)"
                                            type="button">
                                        삭제
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- 작성 폼 -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">TODO 등록</h5>
                    <form action="/todo/add" class="row g-3" id="todoForm" method="post">
                        <div class="col-md-1">
                            <i class="bi bi-star star-icon right-align-block" onclick="toggleStar(this, event)"></i>
                            <input id="projectFavorite" name="todoFavorite" type="hidden" value="false">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="todoCategory">카테고리</label>
                            <select class="form-select" id="todoCategory" name="todoCategory" required>
                                <option disabled selected value="">카테고리 선택</option>
                                <option>프로젝트</option>
                                <option>업무</option>
                                <option>개인</option>
                            </select>
                        </div>
                        <div class="col-md-8">
                            <label class="form-label" for="todoContent">내용</label>
                            <input class="form-control" id="todoContent" name="todoContent" required type="text">
                        </div>
                        <div class="col-sm-12 text-end">
                            <button class="btn btn-primary" onclick="showConfirmationModal()" type="button">
                                등록
                            </button>
                            <button class="btn btn-warning" type="reset">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- End #main -->


<!-- 등록 확인 모달 -->
<div class="modal fade" id="registrationConfirmationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">등록 확인</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                등록하시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="submitForm()" type="button">예</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">아니요</button>
            </div>
        </div>
    </div>
</div>
<!-- 삭제 확인 모달 -->
<div class="modal fade" id="confirmationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">삭제 확인</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                정말 삭제하시겠습니까?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="deleteConfirmButton" onclick="deleteCompletedTodos()" type="button">
                    예
                </button>
                <button class="btn btn-primary" data-bs-dismiss="modal" type="button">아니요</button>
            </div>
        </div>
    </div>
</div>

<!-- ======= Footer ======= -->
<th:block th:include="fragments/footer :: footer"></th:block>
<!-- Footer 끝 -->

<script>
// 체크박스 완료 값 전달
    function updateTodoStatus(checkbox, todoNo) {
        const form = document.getElementById('statusForm-' + todoNo);
        form.todoStatus.value = checkbox.checked ? 1 : 0;
        form.submit();
    }


    // 삭제 확인 모달
    function showDeleteAllConfirmationModal(event) {
        event.preventDefault();
        var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        confirmationModal.show();
    }

    // 완료 항목 모두 삭제 기능
    function deleteCompletedTodos() {
        location.href = '/todo/deleteCompleted';
    }

    // 등록 확인 모달
    function showConfirmationModal() {
        var confirmationModal = new bootstrap.Modal(document.getElementById('registrationConfirmationModal'));
        confirmationModal.show();
    }

    function submitForm() {
        document.getElementById('todoForm').submit();
    }
</script>


<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<!-- 메신저 관련 라이브러리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/wemaked.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- 즐겨찾기 상태 업데이트 -->
<script>
    function toggleFavorite(todoNo, newFavoriteStatus) {
        const form = document.createElement("form");
        form.method = "POST";
        form.action = "/todo/updateFavoriteStatus";

        const todoNoInput = document.createElement("input");
        todoNoInput.type = "hidden";
        todoNoInput.name = "todoNo";
        todoNoInput.value = todoNo;

        const favoriteStatusInput = document.createElement("input");
        favoriteStatusInput.type = "hidden";
        favoriteStatusInput.name = "todoFavorite";
        favoriteStatusInput.value = newFavoriteStatus;

        form.appendChild(todoNoInput);
        form.appendChild(favoriteStatusInput);

        document.body.appendChild(form);
        form.submit();
    }

</script>


</body>
</html>
